{%- liquid 
  assign ic_stt = settings.h_icon
  assign cart_des = settings.cart_des
  case ic_stt
    when 'iccl' 
       assign arric = 'iccl iccl-search,iccl iccl-user,iccl iccl-heart,iccl iccl-cart' | split:','
    when 'pegk' 
       assign arric = 'pegk pe-7s-search,pegk pe-7s-user,pegk pe-7s-like,pegk pe-7s-shopbag' | split:','
    when 'facl' 
       assign arric = 'facl facl-search,facl facl-user,facl facl-heart,facl facl-basket' | split:','
    when 'la' 
       assign arric = 'las la-search,las la-user,lar la-heart,las la-shopping-cart' | split:','
endcase -%}
 
<div class="nt_action in_flex al_center cart_des_{{cart_des}}">
   {%- if settings.show_search -%}
     {%- if frm_search -%}
     <div class="frm_search_ac pr widget dn db_lg">
        <form action="{{ routes.search_url }}" method="get" class="search_header mini_search_frm pr js_frm_search flex al_center" role="search">
          <input type="hidden" name="type" value="product">
          <input type="hidden" name="options[unavailable_products]" value="{{settings.unavailable_prs}}">
          <input type="hidden" name="options[prefix]" value="{{settings.prefix}}">
          {%- if settings.filter_type_search and shop.types.size > 0 -%}
          <div class="frm_search_cat">
             <select name="product_type">
               <option value="*">{{ 'general.search.all_cat' | t }}</option>
               {%- for product_type in shop.types -%}{%- if product_type == blank %}{% continue-%}{% endif -%}<option value="{{product_type}}"{% if search_pr_type == product_type %} selected="selected"{% endif %}>{{product_type}}</option>{%- endfor -%}
             </select>
          </div>
          <div class="frm_search_bd"></div>
         {%- endif -%}
          <div class="frm_search_input pr oh">
            <input class="search_header__input js_iput_search" autocomplete="off" type="text" name="q" placeholder="{{ 'general.search.placeholder' | t }}">
            <button class="search_header__submit js_btn_search{% if settings.ajax_search %} pe_none{% endif %}" type="submit"><i class="iccl iccl-search"></i></button>
          </div>
          <div class="ld_bar_search"></div>
        </form>
        <div class="search_h_break pa w__100"></div>
        <div class="search_header__prs fwsb cd pa dn js_prs_search product_list_widget"></div> 
     </div>
    <a class="icon_search push_side cb chp dn_lg" data-id="#nt_search_canvas" href="{{ routes.search_url }}"><i class="{{arric[0]}}"></i></a>
    {%- else -%}
    <a class="icon_search push_side cb chp" data-id="#nt_search_canvas" href="{{ routes.search_url }}"><i class="{{arric[0]}}"></i></a>
    {%- endif -%}
   {%- endif -%}
   {%- if shop.customer_accounts_enabled and settings.show_acc -%}
  
     {% capture the_snippet_auth %}{% render 'socialshopwave-widget-auth' %}{% endcapture %}
     {% if the_snippet_auth contains 'Liquid error' or settings.growave_social_login == false %}
          <div class="my-account ts__05 pr dn db_md">
             <a class="cb chp db push_side" href="{% if customer %}{{routes.account_url}}{% else %}{{ routes.account_login_url }}{% endif %}" data-id="#nt_login_canvas"><i class="{{arric[1]}}"></i></a>
             {%- if customer -%}
             <ul class="pa pe_none op__0 tl">
                <li><a class="db cg chp" href="{{routes.account_url}}">{{ 'general.account_text.dashboard' | t }}</a></li>
                <li><a class="db cg chp" href="{{routes.account_addresses_url}}">{{ 'general.account_text.addresses' | t }}</a></li>
                <li><a class="db cg chp" href="{{routes.account_logout_url}}" data-no-instant>{{ 'general.account_text.logout' | t }}</a></li>
             </ul>
            {%- endif -%}
          </div>
      {%- else -%}
          <div id="ssw-topauth" class="ssw-topauth">
            {% if customer %}
            <div class="ssw-tprofile ssw-dropdown ssw-custom-login ts__05 pr dn db_md">
              <a class="ssw-dropdown-toggle cb chp db push_side" data-toggle="ssw-dropdown" href="javascript:void(0);">
                <i class="{{arric[1]}}"></i>
              </a>
              <ul class="ssw-dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li id="customer_myorders_li"><a tabindex="-1" href="{{routes.account_url}}">{{ 'socialshopwave.my_orders' | t }}</a></li>
                {% render 'ssw-widget-dropdown' %}
                <li class="ssw-divider"></li>
                <li><a id="customer_logout_link" tabindex="-1" href="{{routes.account_logout_url}}" data-no-instant>{{ 'socialshopwave.logout' | t }}</a></li>
              </ul>
            </div>
            {% else %}
            <div class="ssw-custom-login ts__05 pr dn db_md">
              <a id="customer_login_link" class="cb chp db push_side" href="javascript:void(0);" data-toggle="ssw-modal" data-target="#login_modal" onclick="trackShopStats('login_popup_view', 'all')">
                <i class="{{arric[1]}}"></i>
              </a>
            </div>
            {% endif %}
          </div>
      {%- endif -%}
   {%- endif -%}
   {%- if settings.show_wis -%}
    {%- if settings.wishlist_type != '3' -%}
     <a class="icon_like cb chp pr dn db_md js_link_wis" href="{{ routes.search_url }}/?view=wish"><i class="{{arric[2]}} pr"><span class="op__0 ts_op pa tcount jswcount bgb br__50 cw tc">0</span></i></a>
    {%- else -%}
      {% capture the_snippet_fave_icon_menu %}{% render 'ssw-widget-faveicon-menu' with product.id %}{% endcapture %}
      {% unless the_snippet_fave_icon_menu contains 'Liquid error' %}
      {{ the_snippet_fave_icon_menu }}
      {% endunless %}
    {%- endif -%}
  {%- endif -%}
   {%- if cart_des != '0' -%}
      {%- case cart_des -%}
         {%- when '2' -%}
            {%- if settings.cart_pos == 'dropdown' -%}
              <div class="icon_cart pr in_flex al_center"><a class="pr cb chp dib push_side" data-id="#nt_cart_canvas" href="{{routes.cart_url}}"><i class="{{arric[3]}}"><span class="op__0 ts_op pa tcount jsccount bgb br__50 cw tc">{{ cart.item_count }}</span></i></a><span class="js_cat_ttprice ch_tt_price dn dib_lg ml__15 fwm cd">{{cart.total_price | money}}</span></div>
            {%- else -%}
              <div class="icon_cart pr push_side in_flex al_center" data-id="#nt_cart_canvas"><a class="pr cb chp dib" href="{{routes.cart_url}}"><i class="{{arric[3]}}"><span class="op__0 ts_op pa tcount jsccount bgb br__50 cw tc">{{ cart.item_count }}</span></i></a><span class="js_cat_ttprice ch_tt_price dn dib_lg ml__15 fwm cd">{{cart.total_price | money}}</span></div>
            {%- endif -%}
         {%- when '4' -%}
           <div class="icon_cart pr in_flex al_center"><a class="pr cb chp dib push_side" data-id="#nt_cart_canvas" href="{{routes.cart_url}}"><i class="{{arric[3]}}"></i><span class="js_cat_ttprice ch_tt_price dn dib_lg fwm cd ml__5">{{cart.total_price | money}}</span></a></div>
           {%- comment -%}<div class="icon_cart pr push_side in_flex al_center" data-id="#nt_cart_canvas"><a class="pr cb chp dib" href="{{routes.cart_url}}"><i class="{{ic_stt}} {{arric[3]}}"></i><span class="op__0 ts_op pa tcount jsccount bgb br__50 cw tc">{{ cart.item_count }}</span></a><span class="ch_tt_divider dn dib_lg">/</span><span class="js_cat_ttprice ch_tt_price dn dib_lg fwm cd">{{cart.total_price | money}}</span></div>{%- endcomment -%}
         {%- else -%}
          <div class="icon_cart pr"><a class="push_side pr cb chp db" href="{{routes.cart_url}}" data-id="#nt_cart_canvas"><i class="{{arric[3]}} pr"><span class="op__0 ts_op pa tcount jsccount bgb br__50 cw tc">{{ cart.item_count }}</span></i></a></div>
      {%- endcase -%}
   {%- endif -%}
   {%- if nt_group_btns -%}{%- render 'push_menu' with 'ml__5 dn db_lg' -%}{%- endif -%}
</div>