
<div class="collection-grid-item" style="">
  <a href="{% if block.settings.img_link == empty %}#{% else %}{{ block.img_link }}{% endif %}" class="collection-grid-item__link gallery-list" >
     {%- if block.settings.image != blank -%}
      <div class="collection-grid-item__overlay box ratio-container lazyload js"
        data-bgset="{% include 'bgset', image: block.settings.image %}"
        data-sizes="auto"
        data-parent-fit="cover"
        data-image-loading-animation>
      </div>
      <noscript>
        <div class="collection-grid-item__overlay" style="background-image: url('{{ block.settings.image | img_url: '1024x1024' }}')"></div>
      </noscript>
    {% else %}
      {% if block.settings.image == empty %}
        <div class="collection-grid-item__overlay">
          {% capture current %}{% cycle 1, 2, 3 %}{% endcapture %}
          {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
      {% else %}
        <div class="collection-grid-item__overlay" style="background-image: url('{{ block.settings.image | img_url: '1024x1024' }}')"></div>
      {% endif %}
    {% endif %}

    <div class="collection-grid-item__title-wrapper">
      <div class="collection-grid-item__title h3">

       {{block.settings.caption_head}}

      </div>
    </div>
  </a>
</div>


<style>
  
    .gallery-list{
  
    {% case section.settings.section_height  %}
  
    {% when 'extra_small'%}
        max-height: calc(380px * 0.4);
    {% when 'small'%}
        max-height: calc(380px * 0.8);
    {% when 'medium'%}
        max-height: calc(380px * 1);
    {% when 'large'%}
        max-height: calc(380px * 1.2);
    {% when 'extra_large'%}
        max-height: calc(380px * 1.6);

    {% endcase %}

  
  	}  
  
  	 
  @media screen and (max-width: 750px) {

  
	.gallery-list{
    max-height: 100%;
	}
  
  }

</style>