
<div class="collection-grid-item">
  <a href="{% if collection.products == empty %}#{% else %}{{ block.img_link }}{% endif %}" class="collection-grid-item__link">
     {%- if block.settings.image != blank -%}
      <div class="collection-grid-item__overlay box ratio-container lazyload js"
        data-bgset="{% include 'bgset', image: block.settings.image %}"
        data-sizes="auto"
        data-parent-fit="cover"
        data-image-loading-animation>
      </div>
      <noscript>
        <div class="collection-grid-item__overlay" style="background-image: url('{{ collection_img | img_url: '1024x1024' }}')"></div>
      </noscript>
    {% else %}
      {% if collection == empty %}
        <div class="collection-grid-item__overlay">
          {% capture current %}{% cycle 1, 2, 3 %}{% endcapture %}
          {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
      {% else %}
        <div class="collection-grid-item__overlay" style="background-image: url('{{ collection_img | img_url: '1024x1024' }}')"></div>
      {% endif %}
    {% endif %}

    <div class="collection-grid-item__title-wrapper">
      <div class="collection-grid-item__title h3">

       {{block.settings.caption_head}}

      </div>
    </div>
  </a>
</div>
