{%- liquid
  assign social_icons = false
  assign target = '_blank'
  if nt_tooltip != false
    assign nt_tooltip = true
  endif
  unless follow_social
    assign follow_social = false
  endunless
  unless class_tooltip
    assign class_tooltip = 'ttip_nt tooltip_top'
  endunless
  unless nt_tooltip
    assign class_tooltip = ''
  endunless
  unless share_image
    assign share_image = settings.share_image | default: page_image | default: settings.logo
  endunless
  unless follow_social
    assign _share_permalink = product.url |default:article.url |default:page.url
    assign _share_permalink2 = shop.url | append:_share_permalink
    assign permalinkURL = share_permalink |default:_share_permalink2
    assign _share_title = share_title |default:product.title |default:article.title |default:page.title |default:shop.name
    assign permaTitle = _share_title | url_param_escape
    assign _share_image = share_image |default:product.featured_image |default:article.image |default:settings.share_image | default: page_image | default: settings.logo
    assign permaImage = _share_image | img_url: '1024x1024'
  else
    if settings.social_tiktok_link != blank or settings.social_soundcloud_link != blank or settings.social_behance_link != blank or settings.social_youtube_link != blank or settings.social_tumblr_link != blank or settings.social_pinterest_link != blank or settings.social_linkedin_link != blank or settings.social_dribbble_link != blank or settings.social_instagram_link != blank or settings.social_twitter_link != blank or settings.social_facebook_link != blank or settings.social_snapchat_link != blank or settings.social_vimeo_link != blank
      assign social_icons = true
    endif
  endunless
  if social_icons
    assign socials = "social_facebook_link social_twitter_link social_instagram_link social_dribbble_link social_linkedin_link social_pinterest_link social_tumblr_link social_youtube_link social_behance_link social_soundcloud_link social_tiktok_link social_snapchat_link social_vimeo_link" | split: ' '
    assign socials_icon = "facebook twitter instagram dribbble linkedin pinterest tumblr youtube-play behance soundcloud tiktok snapchat vimeo" | split: ' '
    assign socials_txt = "general.nt_tooltip.follow_fb;general.nt_tooltip.follow_tw;general.nt_tooltip.follow_it;general.nt_tooltip.follow_dr;general.nt_tooltip.follow_ld;general.nt_tooltip.follow_pr;general.nt_tooltip.follow_tu;general.nt_tooltip.follow_yt;general.nt_tooltip.follow_bh;general.nt_tooltip.follow_sc;general.nt_tooltip.follow_tt;general.nt_tooltip.follow_sn;general.nt_tooltip.follow_vi" | split: ';'  
  endif -%}

<style>
  .icon_flex_l .my_a_padding,
  .icon_flex_c .my_a_padding,
  .icon_flex_r .my_a_padding {
    display: inline-block;
    position: relative;
    width: auto;
    margin: 0 9px;
  }
  
  .icon_flex_l #shopify-section-top-bar .bubble {
    left: 0;
  }
  
  .icon_flex_c #shopify-section-top-bar .bubble {
    left: 50%;
    transform: translateX(-50%);
  }
  
  .icon_flex_r #shopify-section-top-bar .bubble {
    top: -30px;
    right: 0;
  }

  .product__info-wrapper .bubble,
  .my_footer_border .bubble,
  .my_main_product_info .bubble,
  .my_password_icon .bubble {
    left: 50%;
    transform: translateX(-50%);
  }
  
  .my_padding {
    box-sizing: content-box;
    padding-right: 15px;
  }
  
  .ts_style { 
    vertical-align: sub;
    padding: 0 0; 
  }
  
  .facl { 
    box-sizing: content-box;
    overflow: hidden;
  }
  
  .ts_style svg {
    display:inline-block;
    width: 14px;
    height: 14px;
    color: #797979;
    background: transparent; 
    transition: all .3s;
  }
  
  .bubble {
    position: absolute;
    display: block;
    top: -30px;
    padding: 2px 5px;
    background: #000;
    color: white;
    white-space: nowrap;
    font-size: 10px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all .3s;
    cursor: default;
  }
  
  
  
  #shopify-section-top-bar .bubble {
    position: absolute;
    display: block;
    top: 30px;
    right: 0;
    padding: 2px 5px;
    background: #000;
    color: white;
    white-space: nowrap;
    font-size: 10px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all .3s;
    cursor: default;
  }
  
  
  
  .my_a_padding {
    position: relative;
    display: inline-block;
    width: auto;
    margin: 0 9px;
    transition: opacity .3s;
  }
  
  .my_a_padding::before {
    position: absolute;
    display: inline-block;
    content: "";
    width: 0px;
    height: 0px;
    top: -10px;
    left: calc(50% - 5px);
    border-width: 5px;
    border-style: solid;
    border-color: #000 transparent transparent transparent;
    opacity: 0;
    transform: translateY(5px);
    pointer-events: none;
    transition: all .3s;
  }
  
  .my_a_padding::after {
    position: absolute;
    display: inline-block;
    content: "";
    width: 0px;
    height: 0px;
    top: 15px;
    left: calc(50% - 5px);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #000 transparent;
    opacity: 0;
    transform: translateY(5px);
    pointer-events: none;
    transition: all .3s;
  }
  
  .my_a_padding:hover .ts_style svg { 
    transform: translateY(-5px);
  }
  
  .my_a_padding:hover::after {
    position: absolute;
    display: inline-block;
    content: "";
    width: 0px;
    height: 0px;
    top: 15px;
    left: calc(50% - 5px);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #000 transparent;
    opacity: 1;
    transform: translateY(0px);
  }
  
  .my_a_padding:hover::before {
    position: absolute;
    display: inline-block;
    content: "";
    width: 0px;
    height: 0px;
    top: -10px;
    left: calc(50% - 5px);
    border-width: 5px;
    border-style: solid;
    border-color: #000 transparent transparent transparent;
    opacity: 1;
    transform: translateY(0px);
  }
  
  .product__info-wrapper .my_a_padding:hover .bubble,
  .my_main_product_info .my_a_padding:hover .bubble,
  .my_footer_border .my_a_padding:hover .bubble,
  .icon_flex_c .my_a_padding:hover .bubble,
  .my_password_icon .my_a_padding:hover .bubble {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(-5px);
  }
  
  .icon_flex_l .my_a_padding:hover .bubble,
  .icon_flex_r .my_a_padding:hover #shopify-section-top-bar .bubble {
    opacity: 1;
    visibility: visible;
    transform: translateY(-5px);
  }
  
  .my_padding a:first-child {
    margin: 0 9px 0 0;
  }
  
  .my_padding a:last-child {
    margin: 0 0 0 9px;
  }
</style>

<div class="nt-social border_{{border_bl}} black_{{black_true}} my_padding">
  {%- unless follow_social -%}  
  {% if settings.share_on_facebook %}
  <a data-no-instant rel="noopener noreferrer nofollow" href="https://www.facebook.com/sharer/sharer.php?u={{ permalinkURL }}" target="{{target}}" class="facebook cb {{class_tooltip}} my_a_padding">
    <span class="bubble">{{ 'general.nt_tooltip.share_fb' | t }}</span>
    <span class="ts_style">
      {%- render 'icon-facebook' -%} 
    </span>
  </a>
  {% endif %}
  {% if settings.tweet_on_twitter %}
  <a data-no-instant rel="noopener noreferrer nofollow" href="http://twitter.com/share?text={{ permaTitle }}&amp;url={{ permalinkURL }}" target="{{target}}" class="twitter cb {{class_tooltip}} my_a_padding">
    <span class="bubble">{{ 'general.nt_tooltip.share_tw' | t }}</span>
    <span class="ts_style">
      {%- render 'icon-twitter' -%}
    </span>
  </a>
  {% endif %}
  {% if settings.pin_on_pinterest %}
  <a data-no-instant rel="noopener noreferrer nofollow" href="http://pinterest.com/pin/create/button/?url={{ permalinkURL }}&amp;media=http:{{permaImage}}&amp;description={{ permaTitle }}" target="{{target}}" class="pinterest cb {{class_tooltip}} my_a_padding">
    <span class="bubble">{{ 'general.nt_tooltip.share_pr' | t }}</span>
    <span class="ts_style">
      {%- render 'icon-pinterest' -%}
    </span>
  </a>
  {% endif %}
  {%-else-%}
      {%- if social_icons -%}
        {%- for social_link in socials %}
        {% if settings[social_link] != blank -%}
          <a data-no-instant rel="noopener noreferrer nofollow" href="{{ settings[social_link] | escape }}" target="{{target}}" class="{{socials_icon[forloop.index0] | remove:'-play'}} cb {{class_tooltip}} my_a_padding">
            {% if socials_icon[forloop.index0] == "twitter" %}
              {% if settings.social_twitter_link != blank %}
                <span class="bubble">{{ socials_txt[forloop.index0] | t }}</span>
                <span class="ts_style">
                  {%- render 'icon-twitter' -%}
                </span>
              {% endif %} 
            {% elsif socials_icon[forloop.index0] == "facebook" %}
              {% if settings.social_facebook_link != blank %}
                <span class="bubble">{{ socials_txt[forloop.index0] | t }}</span>
                <span class="ts_style">
                  {%- render 'icon-facebook' -%}
                </span>
              {% endif %}
            {% elsif socials_icon[forloop.index0] == "pinterest" %}
              {% if settings.social_pinterest_link != blank %}
                <span class="bubble">{{ socials_txt[forloop.index0] | t }}</span>
                <span class="ts_style">
                  {%- render 'icon-pinterest' -%}
                </span>
              {% endif %}
            {% elsif socials_icon[forloop.index0] == "instagram" %}
              {% if settings.social_instagram_link != blank %}
                <span class="bubble">{{ socials_txt[forloop.index0] | t }}</span>
                <span class="ts_style">
                  {%- render 'icon-instagram' -%}
                </span>
              {% endif %}    
            {% elsif socials_icon[forloop.index0] == "tumblr" %}
              {% if settings.social_tumblr_link != blank %}
                <span class="bubble">{{ socials_txt[forloop.index0] | t }}</span>
                <span class="ts_style">
                  {%- render 'icon-tumblr' -%}
                </span>
              {% endif %} 
            {% elsif socials_icon[forloop.index0] == "snapchat" %}
              {% if settings.social_snapchat_link != blank %}
                <span class="bubble">{{ socials_txt[forloop.index0] | t }}</span>
                <span class="ts_style">
                  {%- render 'icon-snapchat' -%}
                </span>
              {% endif %}
            {% elsif socials_icon[forloop.index0] == "youtube-play" %}
              {% if settings.social_youtube_link != blank %}
                <span class="bubble">{{ socials_txt[forloop.index0] | t }}</span>
                <span class="ts_style">
                  {%- render 'icon-youtube' -%}
                </span>
              {% endif %}
            {% elsif socials_icon[forloop.index0] == "vimeo" %}
              {% if settings.social_vimeo_link != blank %}
                <span class="bubble">{{ socials_txt[forloop.index0] | t }}</span>
                <span class="ts_style">
                  {%- render 'icon-vimeo' -%}
                </span>
              {% endif %}
            {% else %}
              <i class="facl facl-{{ socials_icon[forloop.index0] }}"></i>
            {% endif %}
          </a>
        {%- endif %}
        {% endfor -%}
      {%- endif -%}
  {%-endunless-%}
</div>
