  <div class="feature-artworks feature-artworks-{{section.id}}">

 
    <!--    左箭头    -->
      <div class=" dn bk_{{section.settings.show_button_color}} {% if section.settings.show_button  %}icon-changebtn  {% endif%} leftbtn leftbtn-{{section.id}}   button_{{ section.settings.show_button_style }}">
      	<p class="navmenu-icon navmenu-icon-depth-1 openbtn" data-navmenu-trigger="" style="height:14px;">
            <svg aria-hidden="true" focusable="false" role="presentation" width="20" height="16" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="icon-chevron-down-left" d="M4 4.5L7 1.5" stroke="currentColor" stroke-width="0.75" stroke-linecap="square"></path>
                <path class="icon-chevron-down-right" d="M4 4.5L7 7.5" stroke="currentColor" stroke-width="0.75" stroke-linecap="square"></path>
            </svg>
        </p>
      </div>
<!--    右箭头    -->
      <div class=" dn bk_{{section.settings.show_button_color}} {% if section.settings.show_button %}icon-changebtn  {% endif%} rightbtn  rightbtn-{{section.id}}  button_{{ section.settings.show_button_style }} ">
      	<p class="navmenu-icon navmenu-icon-depth-1 openbtn" data-navmenu-trigger="" style="height:14px;">
          	<svg aria-hidden="true" focusable="false" role="presentation" width="20" height="16" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path class="icon-chevron-down-left" d="M4 4.5L1 7.5" stroke="currentColor" stroke-width="0.75" stroke-linecap="square"></path>
              <path class="icon-chevron-down-right" d="M4 4.5L1 1.5" stroke="currentColor" stroke-width="0.75" stroke-linecap="square"></path>
          	</svg>
        </p>
      </div>
    <div class="big-box big-box-{{section.id}}" data-autoplay="{{section.settings.auto_play}}" data-autotime="{{section.settings.auto_time}}">
      <div class="product-box product-box-{{section.id}}">
      
    	{% for block in section.blocks %}
	
      {%- case block.type -%}
      {%- when 'slideshow_img2' -%} {%- assign image = block.settings.image -%}
 			 <div class="slideshow_content slideshow_content-{{section.id}}">
			   <div class="">{{block.settings.slider_text}}</div>
    	    
        {%- if image != blank -%}  {% assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          
          <img 
               srcset="{%- if block.settings.image.width >= 550 -%}{{ block.settings.image | img_url: '550x' }} 550w,{%- endif -%}
                       {%- if block.settings.image.width >= 720 -%}{{ block.settings.image | img_url: '720x' }} 720w,{%- endif -%}
                       {%- if block.settings.image.width >= 990 -%}{{ block.settings.image | img_url: '990x' }} 990w,{%- endif -%}
                       {%- if block.settings.image.width >= 1100 -%}{{ block.settings.image | img_url: '1100x' }} 1100w,{%- endif -%}
                       {%- if block.settings.image.width >= 1500 -%}{{ block.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
                       {%- if block.settings.image.width >= 2200 -%}{{ block.settings.image | img_url: '2200x' }} 2200w,{%- endif -%}
                       {%- if block.settings.image.width >= 3000 -%}{{ block.settings.image | img_url: '3000x' }} 3000w,{%- endif -%}"
               src="{{ block.settings.image | img_url: '300x' }}"
               data-src="{{ img_url }}" 
               data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" 
               data-sizes="auto" 
               class="lazyload lz_op_ef w__100" 
               alt="{{image.alt}}" 
               style="max-width:{{image.width}}px"
               
               >

          {%- else -%}

               <div style="max-height:400px"> {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}  </div>
          {%- endif -%} 
               
             <div  style="position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);text-align:center;color:white;"> 
               <h1 style="padding:0;margin:0;">{{block.settings.slider_heading_text}}</h1>
               <p>{{block.settings.slider_sub_text}}</p>
            <div class="button {% if block.settings.slider_button_text != blank and block.settings.slider_button_link != blank %} banner__buttons--multiple{% endif %}" 
                >
              {%- if block.settings.slider_button_text != blank -%}
                <a{% if block.settings.slider_button_link != blank %} href="{{ block.settings.slider_button_link }}"{% endif %} class="button  button--primary"{% if block.settings.slider_button_link == blank %} aria-disabled="true"{% endif %}>{{ block.settings.slider_button_text | escape }}</a>
              {%- endif -%}
           
            </div>
               
              </div>
				
         	</div> 
        {% endcase %}
    	{% endfor %}   
       
      </div>
    </div>
    
  	<ol id="slide_pog-{{section.id}}">

    </ol>
  </div>



<style>
  
  
  


  
  
  section{
  	width:100%;
  }
  .feature-artworks{
/*   	max-width: 73.225rem; */
    max-width: 100%;
    margin:0 auto;
/*     padding: 20px .9375rem 40px; */
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    position:relative;
    caret-color: rgba(0,0,0,0);
  }
  .btn-link{
  	text-decoration:underline;
  }
  .big-box{
  	width:100%;
    overflow:hidden;
    box-sizing:border-box;
    padding:2px;
  }
  .product-box{
    transform:translate(0);
  	width:100%;
    display: -webkit-box;
    position:relative;
  }

  .productitem--image-link{height:185px;position:relative;}
  .productitem--image{position:absolute;top:50%;transform:translateY(-50%);}
  .productitem--image img{max-height:185px}
  .productitem{
  	padding:.6875rem;
    border:none;
    box-shadow:none;
  }
  .productitem--title{
  	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .productitem--price{
  	display:flex;
    align-items:center;
  }
  .productitem--actions{
  	width:100%;
    margin:0;
    flex-wrap:nowrap;
    align-items:stretch;
    right:0;
    bottom:0;
  }
  .slideshow_content{
    width:100%;
    max-height:700px;
  	position:relative;
    box-shadow: 0px 0px 5px 1px #e3e3e3;
    box-sizing:border-box;
    padding:10px;
    border-radius:5px;
  }
  
  .slideshow_content img{
    object-position: center center;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .product_self-link{
  	display:block;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
  }
  .artworks-box{
    width:100%;
    height:190px;
    margin: 0 auto 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .artworks-box img{
  	width:100%;
    
  }
  .slideshow_content p{
    margin:0 !important;
  }
  .icon-changebtn{
  	width:40px;
    height:40px;
    text-align:center;
    box-shadow: 0 0 0 1px rgb(127 127 127 / 5%), 0 2px 5px rgb(127 127 127 / 50%);
    cursor:pointer;
    background-color:rgba(255,255,255,.5);
    color:rgb(183,183,183);
  }
/*   .icon-changebtn:hover{
    background-color:rgba(255,255,255,1);
  	box-shadow: 0px 0px 8px 1px #e3e3e3;
    
  } */
  
  
    .icon-changebtn:hover{
    background-color: {{color_primary}};
  	box-shadow: 0px 0px 8px 1px #e3e3e3;
    
  }
  
  .bk_transparent{
  background-color: {{bk_btn}};
    color:black;
  }
  
  .bk_white{
    background-color: {{bk_btn}};
    color:black;
  }
  
  .bk_gray{
    background-color: {{bk_btn}};
    color:white;  
  }
  
  .button_style1{
	border-radius:50%;
  }
  
  .button_style2{
	border-radius:0;
  }
  .button_style3{
    background-color: gray ;
	border-radius:0;
    transform: rotate(45deg) !important;
  }
 
  
   .button_style3 p svg:nth-child(1) {
 transform: translate(-62.5%,-50%) rotate(318deg) !important;
  }
   .rightbtn.button_style3 p svg:nth-child(1) {
 transform: translate(-27%,-78%) rotate(318deg) !important;
  }

  .button_style1:hover,.button_style2:hover,.button_style3:hover{
  
  color:rgb(255,255,255);
  }
  
  
  
  .dn{
  
    display:none;
  }
  
  .leftbtn{
  	position:absolute;
    top:50%;
    left:5px; 
    transform:translateY(-50%);
    z-index:10;

  }
  .rightbtn{
  	position:absolute;
    top:50%;
    right:5px;
    transform:translateY(-50%);
    z-index:10;    

  }
  .icon-changebtn {
  
  display:block;
  
  }
  
  .icon-changebtn p{
  	margin:0;
    height:100% !important;
    position:relative;
  }
  .leftbtn p svg{
  	position:absolute;
    top:50%;
    left:50%;
    transform:translate(-62.5%,-50%);
  }
  .rightbtn p svg{
  	position:absolute;
    top:50%;
    left:50%;
    transform:translate(-25%,-50%);
  }
  
  #slide_pog-{{section.id}}{
  
  	width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10%;
    z-index: 10;
    cursor: pointer;
    padding: 0px;
    margin: 0;

  }
  
  
  #slide_pog-{{section.id}} li{
    float:left;
    background:green;
    width:11px;
    height:11px;
    text-align: center;
    line-height: 11px;
    font-size: 10px;
    border-radius: 50%;
    text-align: center;
    transition:all 1.5s;
    margin: 0 5px;
    list-style-type: none;
  }
  
    #slide_pog-{{section.id}} li.active{
      background:blue;
      color:#fff;
    }
  
  @media screen and (max-width:1024px){
    .big-box{
    	overflow-x:scroll;
    }
    .productitem--actions{
      display:none;
    }
    .icon-changebtn{
    	display:none;
    }
  }
  @media screen and (min-width:541px) and (max-width:768px){
    .big-box{
    	overflow-x:scroll;
    }
    .productgrid--item{
      width:23.5%;
    }
  }
  @media screen and (max-width:540px){
  	.productgrid--item{
      width:48%;
      margin-right:4%;
    }
    
  }
  
  
</style>



<script type="module">
  let slideshow_beautify_lunbo = (function () {
    var contentbox = document.querySelector('.product-box-{{section.id}}')

    contentbox.style.transition = 'all 1.5s'

    var leftbtn = document.querySelector('.leftbtn-{{section.id}}')
    var rightbtn = document.querySelector('.rightbtn-{{section.id}}')
    var mardiff = contentbox.clientWidth * 0.02
    //  var diff=contentbox.scrollWidth-contentbox.clientWidth;

    //  var diff=contentbox.clientWidth ;

    //  var diff=parseInt(contentbox.clientWidth);

    //  var diff = document.getElementsByClassName('feature-artworks')[0].clientWidth;

    //  var diff =  document.getElementsByClassName('big-box')[0].offsetWidth;

    var itemlist = document.querySelectorAll('.slideshow_content-{{section.id}}')
    var itemLength = itemlist.length

    var diffwidth = parseInt(contentbox.scrollWidth / itemLength)

    //     如果页面一开始刷新，获取的width会有偏差值

    var diff = diffwidth > 1903 ? diffwidth - 17 : diffwidth
//     测试页面宽度
//     console.log(diff, 'diff')
//     console.log(itemlist[0].clientWidth, 'itemwidth')
//     console.log(itemlist[0].offsetWidth, 'off')
//     console.log(document.body.clientWidth, 'body')
    var btnbox = document.querySelectorAll('.productitem--actions')
    var index = 1

    //获取轮播点

    var list_text = document.getElementById('slide_pog-{{section.id}}')

    for (let a = 0; a < itemLength; a++) {
      itemlist[a].index = a
      list_text.innerHTML += '<li></li>'
    }

    var list = list_text.getElementsByTagName('li')
    list[0].index = 0
    list[0].className = 'active'

    for (var c = 0; c < list.length; c++) {
      list[c].index = c
      list[c].onclick = function () {
        for (var j = 0; j < list.length; j++) {
          list[j].className = ''
        }
        this.className = 'active'
        contentbox.style.transform =
          'translate(' + -itemlist[this.index].index * diff + 'px' + ')'
      }
    }

    // var x = diff_box/itemLength;

    function moveTransition (index) {
      index = list_text.querySelector('.active').index + 1

      if (index < itemLength) {
        //           index =  list_text.querySelector('.active').index+1;
        contentbox.style.transform =
          'translate(' + -parseInt(itemlist[index].index * diff) + 'px' + ')'


        for (var j = 0; j < list.length; j++) {
          list[j].className = ''
        }
        list[index].className = 'active'
      } else if ((index = itemLength)) {
        index = 0
        contentbox.style.transform =
          'translate(' + -parseInt(itemlist[index].index * diff) + 'px' + ')'


        for (var j = 0; j < list.length; j++) {
          list[j].className = ''
        }
        list[index].className = 'active'
      }
    }

    let autop = document.getElementsByClassName('big-box-{{section.id}}')[0].dataset.autoplay

    function autoPlay (autop) {
      if (autop == true) {
        moveTransition(index)
        console.log('记录 {{section.id}}','autop:'+autop);
      }else if( autop == false ){
      
       console.log('2记录 {{section.id}}','autop:'+autop);
     document.getElementsByClassName('feature-artworks-{{section.id}}')[0].removeEventListener(
        'mouseover',
        box_mousover(),
        false
      );
      document.getElementsByClassName('feature-artworks-{{section.id}}')[0].removeEventListener(
        'mouseleave',
        box_mousleave(),
        false
      );
      
      }else{
      console.log('进来3了');
       clearInterval(time_gui);
      }
    }

    let time = document.getElementsByClassName('big-box-{{section.id}}')[0].dataset.autotime

    let time_gui = setInterval(autoPlay, time * 1000)



	function box_mousover(){
    
     clearInterval(time_gui);
    }

	function box_mousleave(){
    
     time_gui = setInterval(autoPlay, time * 1000);
 
    }

    document.getElementsByClassName('feature-artworks-{{section.id}}')[0].addEventListener(
      'mouseover',
      box_mousover(),
      false
    )
    document.getElementsByClassName('feature-artworks-{{section.id}}')[0].addEventListener(
      'mouseleave',
      box_mousleave(),
      false
    )

  /**
 * 防抖函数
 * @param {*} func 回调函数  必传
 * @param {*} wait 等待时长 默认500ms 可不传
 * arguments  是js存函数参数的地方
 */
      function debounce(func, wait = 500) {
        let timeOut
        return function () {
          let content = this
          let arg = arguments
          if (timeOut) {
            clearTimeout(timeOut)
          }
          timeOut = setTimeout(() => {
            func.apply(content, arg)
          }, wait)
        }
      }

    rightbtn.addEventListener('click', debounce(function () {
      index = list_text.querySelector('.active').index + 1;
//       清定时防止按
	  clearInterval(time_gui);
      if (index < itemLength) {
        //           index =  list_text.querySelector('.active').index+1;
        contentbox.style.transform =
          'translate(' + -itemlist[index].index * diff + 'px' + ')'

        // 	console.log( itemlist[index].index*diff ,'R1');
        for (var j = 0; j < list.length; j++) {
          list[j].className = ''
        }
        list[index].className = 'active'
      } else if ((index = itemLength)) {
        index = 0
        contentbox.style.transform =
          'translate(' + -itemlist[index].index * diff + 'px' + ')'

        // 	console.log( itemlist[index].index*diff ,'R2');
        for (var j = 0; j < list.length; j++) {
          list[j].className = ''
        }
        list[index].className = 'active'
      }
    },300))

    leftbtn.addEventListener('click',  debounce(function () {
      index = list_text.querySelector('.active').index;
      
      clearInterval(time_gui);
      
      if (index > 0) {
        index = list_text.querySelector('.active').index - 1
        contentbox.style.transform =
          'translate(' + -itemlist[index].index * diff + 'px' + ')'

        for (var j = 0; j < list.length; j++) {
          list[j].className = ''
        }
        list[index].className = 'active'
      } else if (index <= 0) {
        index = list.length - 1
        contentbox.style.transform =
          'translate(' + -itemlist[index].index * diff + 'px' + ')'

        //   console.log('进来了');

        for (var j = 0; j < list.length; j++) {
          list[j].className = ''
        }
        list[index].className = 'active'
      }
    },300))
  });


  slideshow_beautify_lunbo();
  

  
</script>

