<div  class="feature-artworks  feature_box_{{section.id}} feature-artworks-{{section.id}}  swiper-container-{{section.id}}"   
     >


  
  
    <!--    左箭头    -->
      <div class="swiper-button-prev-{{section.id}}
                  bk_{{section.settings.show_button_color}} {% if section.settings.show_button  %}icon-changebtn_{{section.id}}  {% else %}  dn  {% endif%} leftbtn leftbtn-{{section.id}}   button_{{ section.settings.show_button_style }}">
      	<p class="navmenu-icon navmenu-icon-depth-1 openbtn" data-navmenu-trigger="" style="height:14px;">
            <svg aria-hidden="true" focusable="false" role="presentation" width="20" height="16" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="icon-chevron-down-left" d="M4 4.5L7 1.5" stroke="currentColor" stroke-width="0.75" stroke-linecap="square"></path>
                <path class="icon-chevron-down-right" d="M4 4.5L7 7.5" stroke="currentColor" stroke-width="0.75" stroke-linecap="square"></path>
            </svg>
        </p>
      </div>
  
	
  
  
    
  
<!--    右箭头    -->
      <div class="swiper-button-next-{{section.id}} 
                  bk_{{section.settings.show_button_color}} {% if section.settings.show_button %}icon-changebtn_{{section.id}} {% else %} dn  {% endif%} rightbtn  rightbtn-{{section.id}}  button_{{ section.settings.show_button_style }} ">
      	<p class="navmenu-icon navmenu-icon-depth-1 openbtn" data-navmenu-trigger="" style="height:14px;">
          	<svg aria-hidden="true" focusable="false" role="presentation" width="20" height="16" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path class="icon-chevron-down-left" d="M4 4.5L1 7.5" stroke="currentColor" stroke-width="0.75" stroke-linecap="square"></path>
              <path class="icon-chevron-down-right" d="M4 4.5L1 1.5" stroke="currentColor" stroke-width="0.75" stroke-linecap="square"></path>
          	</svg>
        </p>
      </div>
 

  
  <div id="Slideshow-{{ section.id }}"
         class="big-box big-box-{{section.id}}  swiper-wrapper" 

       >
      <div class="product-box product-box-{{section.id}}" >
      
    	{% for block in section.blocks %}
	
      {%- case block.type -%}
      {%- when 'slideshow_img2' -%} {%- assign image = block.settings.image -%}
 			 <div class="slideshow_content slideshow_box_{{section.id}}  slideshow_content-{{section.id}}  swiper-slide">
			   <div class="">{{block.settings.slider_text}}</div>
    	    
        {%- if image != blank -%}  {% assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          
          <img style="object-position: {{block.settings.image_alignment}};"
               srcset="{%- if block.settings.image.width >= 550 -%}{{ block.settings.image | img_url: '550x' }} 550w,{%- endif -%}
                       {%- if block.settings.image.width >= 720 -%}{{ block.settings.image | img_url: '720x' }} 720w,{%- endif -%}
                       {%- if block.settings.image.width >= 990 -%}{{ block.settings.image | img_url: '990x' }} 990w,{%- endif -%}
                       {%- if block.settings.image.width >= 1100 -%}{{ block.settings.image | img_url: '1100x' }} 1100w,{%- endif -%}
                       {%- if block.settings.image.width >= 1500 -%}{{ block.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
                       {%- if block.settings.image.width >= 2200 -%}{{ block.settings.image | img_url: '2200x' }} 2200w,{%- endif -%}
                       {%- if block.settings.image.width >= 3000 -%}{{ block.settings.image | img_url: '3000x' }} 3000w,{%- endif -%}"
               src="{{ block.settings.image | img_url: '300x' }}"
               data-src="{{ img_url }}" 
               data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" 
               data-sizes="auto" 
               class="lazyload lz_op_ef w__100" 
               alt="{{image.alt}}" 
              
               
               >

          {%- else -%}

               <div style="max-height:400px"> {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}  </div>
          {%- endif -%} 
               
               <div class="slideshow_text_box_{{section.id}}  {{ block.settings.text_alignment }}"> 
                 <h1 class="my_font_weight_default my_slideshow_beautify_heading_margin
                            {% if section.settings.text_size == 'medium' %}my_slideshow_beautify_heading_text_size_medium
                            {% elsif section.settings.text_size == 'large' %}my_slideshow_beautify_heading_text_size_large
                            {% endif %}" style="color:white;">{{block.settings.slider_heading_text}}</h1>
                 <p class="{% if section.settings.text_size == 'medium' %}my_slideshow_beautify_sub_text_size_medium
                           {% elsif section.settings.text_size == 'large' %}my_slideshow_beautify_sub_text_size_large
                           {% endif %}" style="color:white;">{{block.settings.slider_sub_text}}</p>
                 
                 <div class="button {% if block.settings.slider_button_text != blank and block.settings.slider_button_link != blank %} banner__buttons--multiple{% endif %} my_slideshow_beautify_btn_margin" >
                   {%- if block.settings.slider_button_text != blank -%}
                   <a{% if block.settings.slider_button_link != blank %} href="{{ block.settings.slider_button_link }}"{% endif %} class="button  button--primary"{% if block.settings.slider_button_link == blank %} aria-disabled="true"{% endif %}>{{ block.settings.slider_button_text | escape }}</a>
                   {%- endif -%}
                 </div>
               </div>
				
         	</div> 
        {% endcase %}
    	{% endfor %}   
       
      </div>
    </div>
   
  
  
  
  
<!--    分页器 -->
  
  	 <div id="slide_pog-{{section.id}}" class="swiper-pagination-{{section.id}}" style="{% unless section.settings.show_page_Dot %} z-index:-1; {% endunless %} 
                                             
                                             {% if section.settings.page_dot_style == 'style_1' and section.settings.page_dot_color == 'dark'%}
                                             
                                             {% elsif section.settings.page_dot_style == 'style_1' and section.settings.page_dot_color == 'light' %}
                                             
                                             {% elsif section.settings.page_dot_style == 'style_2' and section.settings.page_dot_color == 'dark' %}
                                             
                                             {% elsif section.settings.page_dot_style == 'style_2' and section.settings.page_dot_color == 'light'%}
                                             
                                    		 {% endif %}	">
    </div>
  
  
  		{%- if section.settings.show_page_Dot-%}
        <!-- 如果需要分页器 -->
          <div class="swiper-pagination-{{section.id}}"></div>
		{%- endif -%}

   </div> 


{{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}







<div class="swiper-container" style=" width: 600px;
    height: 300px; ">
    <div class="swiper-wrapper">
        <div class="swiper-slide">Slide 1</div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>
    </div>
    <!-- 如果需要分页器 -->
    <div class="swiper-pagination"></div>
    
    <!-- 如果需要导航按钮 -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

</div>






<script type="module">

 console.log('轮播swiper');
 
 import Swiper from '{{ 'swiper-bundle.esm.browser.min.js' | asset_url }}'

	
    
    
    var mySwiper222 = new Swiper ('.swiper-container', {
    direction: 'hroizontal', // 垂直切换选项
    loop: true, // 循环模式选项
    
    // 如果需要分页器
    pagination: {
      el: '.swiper-pagination',
    },
    
    // 如果需要前进后退按钮
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    

  })        
    
    
    
    
    
    
  let swiper123 = new Swiper ('.swiper-container-{{section.id}}', {
    direction: 'horizontal', // 垂直切换选项  horizontal  vertical
    loop: true, // 循环模式选项 

    // 如果需要分页器
  

	{% unless section.settings.show_page_Dot %} 
    
         pagination: {
      el: '.swiper-pagination-{{section.id}}',
      clickable :true,
      hideOnClick :true,
    },

  {% else %}  
	 pagination: {
      el: '.swiper-pagination-{{section.id}}',
      clickable :true,
    },
  {% endunless %}
    


    effect : 'fade',
    observer : true,
    observeParents : true,
    observeSlideChildren : true,
    autoplay: {
    delay: 5000,
    stopOnLastSlide: false,
    disableOnInteraction: false,
    },    
  
    
    // 如果需要前进后退按钮
    navigation: {
      nextEl: '.swiper-button-next-{{section.id}}',
      prevEl: '.swiper-button-prev-{{section.id}}',
    }
    
  })
  
  console.log('运行了,没效果');
  
   
       document.addEventListener('shopify:section:load',()=>{

   
     console.log('知道你要刷新');
 let swiper123 = new Swiper ('.swiper-container-{{section.id}}', {
    direction: 'horizontal', // 垂直切换选项  horizontal  vertical
    loop: true, // 循环模式选项 

    // 如果需要分页器
  

	{% unless section.settings.show_page_Dot %} 
    
         pagination: {
      el: '.swiper-pagination-{{section.id}}',
      clickable :true,
      hideOnClick :true,
    },

  {% else %}  
	 pagination: {
      el: '.swiper-pagination-{{section.id}}',
      clickable :true,
    },
  {% endunless %}
    


    effect : 'fade',
    observer : true,
    observeParents : true,
    observeSlideChildren : true,
    autoplay: {
    delay: 5000,
    stopOnLastSlide: false,
    disableOnInteraction: false,
    },    
  
    
    // 如果需要前进后退按钮
    navigation: {
      nextEl: '.swiper-button-next-{{section.id}}',
      prevEl: '.swiper-button-prev-{{section.id}}',
    }
    
  })
  



  
  },true)
 

</script>





