<div class="box" style="position:relative; width: 100%; margin: 15px auto 0; padding: 0 25px;">
  <div class="swiper my_swiper_detail_featured_product_beautify_{{section.id}}">
    <div class="swiper-wrapper my_swiper_div">
      {%- assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src' -%}
      {%- if product.selected_or_first_available_variant.featured_media != null -%}
      {%- assign media = product.selected_or_first_available_variant.featured_media -%}
      <li class="product__media-item grid__item slider__slide{% if media.media_type != 'image' %} product__media-item--full{% endif %}{% if section.settings.hide_variants and variant_images contains media.src %} product__media-item--variant{% endif %}" 
          data-media-id="{{ section.id }}-{{ media.id }}">
        {% render 'product-thumbnail', media: media, position: 'featured', loop: section.settings.enable_video_looping, modal_id: section.id, xr_button: true %}
      </li>
      {%- endif -%}
      {%- for media in product.media -%}
      {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
      <li class="swiper-slide" 
          data-media-id="{{ section.id }}-{{ media.id }}">
        {% render 'product-thumbnail', media: media, position: forloop.index, loop: section.settings.enable_video_looping, modal_id: section.id, xr_button: true %}
      </li>
      {%- endunless -%}
      {%- endfor -%}
    </div>
  </div>
  <div class="swiper-button-prev button_prev_{{section.id}}"></div>
  <div class="swiper-button-next button_next_{{section.id}}"></div>
</div>

<script type="module">
  import Swiper from '{{ 'swiper-bundle.esm.browser.min.js' | asset_url }}'

  var swiper = new Swiper(".my_swiper_detail_featured_product_beautify_{{section.id}}", {
      slidesPerView: 4,
      spaceBetween: 10,
      navigation: {
          nextEl: '.swiper-button-next.button_next_{{section.id}}',
          prevEl: '.swiper-button-prev.button_prev_{{section.id}}',
      },
      breakpoints: {
        0: {  //当屏幕宽度大于等于0 
          slidesPerView: 2,
        },
        750: {  //当屏幕宽度大于等于750 
          slidesPerView: 2,
        },
        990: {  //当屏幕宽度大于等于990
          slidesPerView: 4,
		}
      }
  });
  

</script>