<style>
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-button-prev.button_prev_{{ section.id }}:after,
  .swiper-button-next.button_next_{{ section.id }}:after {
    color: #000;
    width: 10px;
    height: 20px;
    font-size: 20px;
  }

  .swiper-button-next.button_next_{{ section.id }} {
    right: -5px;
  }

  .swiper-button-prev.button_prev_{{ section.id }} {
    left: -5px;
  }
  
  .swiper-button-prev.button_prev_{{ section.id }}.swiper-button-disabled:empty,
  .swiper-button-next.button_next_{{ section.id }}.swiper-button-disabled:empty,
  .swiper-button-prev.button_prev_{{ section.id }}:empty,
  .swiper-button-next.button_next_{{ section.id }}:empty {
    display: flex;
  }
</style>

<ul class="product__media-list grid grid--peek list-unstyled slider slider--mobile my_featured_product_beautify_ul" role="list">
  <div class="box" style="position:relative; width: 100%; margin: 15px auto 0; padding: 0 25px;">
    <div class="swiper my_swiper_{{ section.id }}">
      <div class="swiper-wrapper my_swiper_div">
        {%- assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src' -%}
        {%- if product.selected_or_first_available_variant.featured_media != null -%}
        {%- assign media = product.selected_or_first_available_variant.featured_media -%}
        <li class="product__media-item grid__item slider__slide{% if media.media_type != 'image' %} product__media-item--full{% endif %}{% if section.settings.hide_variants and variant_images contains media.src %} product__media-item--variant{% endif %}" 
            data-media-id="{{ section.id }}-{{ media.id }}">
          {% render 'product-thumbnail', media: media, position: 'featured', loop: section.settings.enable_video_looping, modal_id: section.id, xr_button: true %}
        </li>
        {%- endif -%}
        {%- for media in product.media -%}
        {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
        <li class="swiper-slide" 
            data-media-id="{{ section.id }}-{{ media.id }}">
          {% render 'product-thumbnail', media: media, position: forloop.index, loop: section.settings.enable_video_looping, modal_id: section.id, xr_button: true %}
        </li>
        {%- endunless -%}
        {%- endfor -%}
      </div>
    </div>
    <div class="swiper-button-prev button_prev_{{ section.id }}"></div>
    <div class="swiper-button-next button_next_{{ section.id }}"></div>
  </div>
</ul>

<script type="module">
  import Swiper from '{{ 'swiper-bundle.esm.browser.min.js' | asset_url }}'
  function my_swiper_listen() {
    var swiper = new Swiper(".my_swiper_{{ section.id }}", {
        slidesPerView: 4,
        spaceBetween: 10,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: '.swiper-button-next.button_next_{{ section.id }}',
            prevEl: '.swiper-button-prev.button_prev_{{ section.id }}',
        },
        breakpoints: {
            0: {  //当屏幕宽度大于等于0 
                slidesPerView: 2,
            },
            750: {  //当屏幕宽度大于等于750 
                slidesPerView: 2,
            },
            990: {  //当屏幕宽度大于等于990
                slidesPerView: 4,
            }
        }
    });
  }
  my_swiper_listen();
  // 刷新
  document.addEventListener('shopify:section:load', () => {
    my_swiper_listen();
  }, true)
</script>