<style>
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper_pagination_testimonials.swiper_pagination_testimonials_{{section.id}} {
    display: flex;
    justify-content: center;
  }

  .swiper_pagination_testimonials.swiper_pagination_testimonials_{{section.id}} .swiper-pagination-bullet {
    transition: all 1.5s;
  }

  {% if section.settings.page_dot_style == 'style_1' and section.settings.page_dot_color == 'dark'%}
  .swiper_pagination_testimonials.swiper_pagination_testimonials_{{section.id}} .swiper-pagination-bullet {
    background: #4e4e4e;
    border: 1.5px solid rgb(189 188 188 / 28%);
  }

  .swiper_pagination_testimonials.swiper_pagination_testimonials_{{section.id}} .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: black;
  }
  {% elsif section.settings.page_dot_style == 'style_1' and section.settings.page_dot_color == 'light' %}
  .swiper_pagination_testimonials.swiper_pagination_testimonials_{{section.id}} .swiper-pagination-bullet {
    background: #4e4e4e;
    border: 1.5px solid rgb(189 188 188 / 28%);
  }

  .swiper_pagination_testimonials.swiper_pagination_testimonials_{{section.id}} .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background:white;
  }
  {% elsif section.settings.page_dot_style == 'style_2' and section.settings.page_dot_color == 'dark' %}
  .swiper_pagination_testimonials.swiper_pagination_testimonials_{{section.id}} .swiper-pagination-bullet {
    border: 1px solid #323232;
    background: white;
  }

  .swiper_pagination_testimonials.swiper_pagination_testimonials_{{section.id}} .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: black;
  }
  {% elsif section.settings.page_dot_style == 'style_2' and section.settings.page_dot_color == 'light'%}
  .swiper_pagination_testimonials.swiper_pagination_testimonials_{{section.id}} .swiper-pagination-bullet {
    border: 1px solid #323232;
    background: #adadad;
  }

  .swiper_pagination_testimonials.swiper_pagination_testimonials_{{section.id}} .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: white;
  }
  {% endif %}	
</style>

<div class="swiper my_swiper_testimonials my_swiper_testimonials_{{section.id}}" role="listitem">
  <div class="swiper-wrapper">
    {%- liquid
          assign highest_ratio = 0
          for block in section.blocks
            if block.settings.image.aspect_ratio > highest_ratio
              assign highest_ratio = block.settings.image.aspect_ratio
            endif
          endfor
        -%}
    {%- for block in section.blocks -%}
    <li class="testimonials-li multicolumn-list__item grid__item{% if section.settings.swipe_on_mobile %} slider__slide{% endif %} swiper-slide" {{ block.shopify_attributes }}
        style="background:{{settings.color_image_overlay | color_modify: 'alpha', image_overlay_opacity}}">
      <div class="">
        {%- if block.settings.image != blank -%}
        {% if section.settings.image_ratio == 'adapt' or section.settings.image_ratio == 'circle' %}
        {% assign spaced_image = true %}
        {% endif %}
        <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--{{ section.settings.image_width }}-width{% if section.settings.image_width != 'full' or spaced_image %} multicolumn-card-spacing{% endif %}" style="padding-top: 0;">
          <div class="media media--transparent media--{{ section.settings.image_ratio }}"
               {% if section.settings.image_ratio == 'adapt' %}
               style="width: 100px;
                      margin:0 auto;
                      height: 100px;
                      border-radius: 50%;"
               {% endif %}>
            <img
                 srcset="{%- if block.settings.image.width >= 275 -%}{{ block.settings.image | img_url: '275x' }} 275w,{%- endif -%}
                         {%- if block.settings.image.width >= 550 -%}{{ block.settings.image | img_url: '550x' }} 550w,{%- endif -%}
                         {%- if block.settings.image.width >= 710 -%}{{ block.settings.image | img_url: '710x' }} 710w,{%- endif -%}
                         {%- if block.settings.image.width >= 1420 -%}{{ block.settings.image | img_url: '1420x' }} 1420w,{%- endif -%}"
                 data-src="{{ block.settings.image | img_url: '550x' }}"
                 sizes="(min-width: 990px) {% if section.blocks.size <= 2 %}710px{% else %}550px{% endif %},
                        (min-width: 750px) {% if section.blocks.size == 1 %}710px{% else %}550px{% endif %},
                        calc(100vw - 30px)"
                 alt="{{ block.settings.image.alt }}"
                 height="{{ block.settings.image.height }}"
                 width="{{ block.settings.image.width }}"
                 class="lazyload"
                 loading="lazy" >
          </div>
        </div>
        {%- endif -%}
        <div class="multicolumn-card__info">
          {%- if block.settings.title != blank -%}
          <h3>{{ block.settings.title | escape }}</h3>
          {%- endif -%}
          {%- if block.settings.text != blank -%}
          <div class="rte my_testimonials_font_size">{{ block.settings.text }}</div>
          {%- endif -%}

          {%- if block.settings.testimonials_author_text != blank -%}
          <div class="tc my_font_size_content_default" style="margin-top: 18px;">{{block.settings.testimonials_author_text}}</div>	 
          {% endif %}
        </div>            
      </div>
    </li>
    {%- endfor -%}
  </div>
</div>
{% if section.blocks.size > 3 and section.settings.swipe %}
<div class="swiper_pagination_testimonials swiper_pagination_testimonials_{{section.id}}"></div>
{% endif %}

<script type="module">
  import Swiper from '{{ 'swiper-bundle.esm.browser.min.js' | asset_url }}'
  var swiper = new Swiper(".my_swiper_testimonials.my_swiper_testimonials_{{section.id}}", {
      slidesPerView: 3,
      spaceBetween: 30,
      allowTouchMove: true,
      pagination: {
          el: ".swiper_pagination_testimonials.swiper_pagination_testimonials_{{section.id}}",
          clickable: true,
      },
      breakpoints: {
        0: {  
          slidesPerView: 1,
          spaceBetween: 15,
        },
        750: {  
          slidesPerView: 3,
          spaceBetween: 15,
        },
        990: {  
          slidesPerView: 3,
          spaceBetween: 30,
		}
      }
  });
  
   var designMode = Shopify.designMode || false;
   if(designMode){
   
   document.addEventListener('shopify:section:load',()=>{  
     var swiper = new Swiper(".my_swiper_testimonials.my_swiper_testimonials_{{section.id}}", {
        slidesPerView: 3,
        spaceBetween: 30,
        allowTouchMove: true,
        pagination: {
            el: ".swiper_pagination_testimonials.swiper_pagination_testimonials_{{section.id}}",
            clickable: true,
        },
        breakpoints: {
          0: { 
            slidesPerView: 1,
            spaceBetween: 15,
          },
          750: {  
            slidesPerView: 3,
            spaceBetween: 15,
          },
          990: {  
            slidesPerView: 3,
            spaceBetween: 30,
          }
        }
      });
	},true);
 }
  
</script>