<style>
  .my_featured_product_beautify_noswiper li {
    padding: 15px 0 0 10px !important;
  }
  
  .my_featured_product_beautify_noswiper li:first-child {
    padding: 15px 0 0 0 !important;
  }
  
  .my_featured_product_beautify_noswiper li:last-child {
    padding: 15px 0 0 10px;
  }
  
  .my_featured_product_beautify_ul li:last-child {
    margin-right: 0 !important;
  }
  
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-button-prev.featured_product_beautify_prev:after,
  .swiper-button-next.featured_product_beautify_next:after {
    color: #000;
    width: 10px;
    height: 20px;
    font-size: 20px;
  }

  .swiper-button-next.featured_product_beautify_next {
    right: -5px;
  }

  .swiper-button-prev.featured_product_beautify_prev {
    left: -5px;
  }
  
  .swiper-button-prev.featured_product_beautify_prev.swiper-button-disabled:empty,
  .swiper-button-next.featured_product_beautify_next.swiper-button-disabled:empty,
  .swiper-button-prev.featured_product_beautify_prev:empty,
  .swiper-button-next.featured_product_beautify_next:empty {
    display: flex;
  }
  
  .my_featured_product_beautify_ul li modal-opener {
    width: 100%;
  }
  
  .product__media-icon.motion-reduce.my_featured_product_beautify_media_big {
    height: 3rem;
    width: 3rem;
    left: 1.5rem;
    top: 1.5rem;
    opacity: 0;
  }
  
  .product__media-list deferred-media {
    display: block;
  }
  
  .my_featured_product_beautify_ul li deferred-media {
    display: none;
  }
  
  .my_featured_product_beautify_ul li modal-opener {
    display: block !important;
  }
  
  .my_featured_product_beautify_ul .my_featured_product_beautify_media {
    display: none !important;
  }
  
  .my_featured_product_beautify_add {
    font-size: 13px;
    min-height: 44px;
  }
  
  .my_featured_product_beautify_payment_button {
    width: 100%;
    height: 44px;
    line-height: 44px;
    min-height: 44px;
  }
  
  .button.my_featured_product_beautify_payment_button .shopify-payment-button {
    height: 44px;
    min-height: 44px;
  }
  
  .button.my_featured_product_beautify_payment_button .shopify-payment-button .shopify-payment-button__button {
    display: inline-block;
    background: var(--color-button);
    text-transform: uppercase;
    min-height: auto;
    font-weight: 700;
  }
  
  .h1.product__title.my_featured_product_beautify_title {
    font-size: 36px;
    margin-bottom: 30px;
  }
  
  .no-js-hidden.my_featured_product_beautify_price {
    margin: 10px 0 30px;
  }
  
  .my_featured_product_beautify_vendor {
    font-size: 18px;
  }
  
  .form__label.my_featured_product_beautify_size {
    font-size: 15px;
    margin-bottom: 5px;
    color:var(--font-title-color);
  }
  
  .select__select.my_featured_product_beautify_select {
    font-size: 14px;
    height: 44px;
  }
  
  .my_featured_product_beautify_variant-selects .select .icon.icon-caret {
    height: 0.6rem;
    pointer-events: none;
    position: absolute;
    top: calc(50% - 0.2rem);
    right: 2.8rem;
  }
  
  .my_featured_product_beautify_variant-selects .my_featured_product_beautify_select {
    padding: 0 6.8rem 0 1.6rem;
  }
  
  .product-form__input.product-form__quantity.my_featured_product_beautify_quantity {
    margin: 10px 0 15px;
  }
  
  .product-form__input.product-form__input--dropdown.my_featured_product_beautify_select_clear_margin_bottom{
    margin-bottom: 0;
  }
  
  .product__info-container .no-js-hidden.my_featured_product_beautify_variant-selects {
    margin: 0 0;
  }
  
  .product__info-wrapper.grid__item .product__info-container .product-form {
    margin: 0 0;
  }
  
  .product__description.rte.my_featured_product_beautify_description {
    margin: 50px 0 35px;
  }
  
  .link.product__view-details.animate-arrow.my_featured_product_beautify_details {
    display: inline-block;
    font-size: 16px;
    margin: 50px 0 0;
  }
  
  .link.product__view-details.animate-arrow.my_featured_product_beautify_details .icon.icon-arrow {
    margin: 0 0 1px 12px;
  }
  
  .spaced-section .my_featured_product_clear_margin_bottom {
    margin-bottom: 0;
  }
  
  @media screen and (max-width: 750px) {
/*     .h1.product__title.my_featured_product_beautify_title {
      font-size: 36px;
      margin-bottom: 30px;
    }
    .no-js-hidden.my_featured_product_beautify_price {
      margin: 10px 0 30px;
    } 
    .form__label.my_featured_product_beautify_size {
      font-size: 15px;
      margin-bottom: 5px;
    }
    .select__select.my_featured_product_beautify_select {
      font-size: 14px;
      padding-left: 16px;
      height: 44px;
    }*/
    .no-js-hidden.my_featured_product_beautify_variant-selects {
      margin: 10px 0;
    }
/*     .product-form__input.product-form__quantity.my_featured_product_beautify_quantity {
      margin: 10px 0 15px;
    } */
    .my_featured_product_beautify_add {
      font-size: 13px;
      min-height: 44px;
    }
/*     .product__description.rte.my_featured_product_beautify_description {
      margin: 50px 0 35px;
    } 
    .link.product__view-details.animate-arrow.my_featured_product_beautify_details {
      font-size: 16px;
      font-weight: 700;
      margin: 50px 0 0;
    }*/
  }
</style>

<ul class="product__media-list grid grid--peek list-unstyled slider slider--mobile my_featured_product_beautify_ul" role="list">
  <div class="box" style="position:relative; width: 100%; margin: 15px auto 0; padding: 0 25px;">
    <div class="swiper my_swiper_detail_featured_product_beautify">
      <div class="swiper-wrapper my_swiper_div">
        {{ product.media }}
        {%- assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src' -%}
        {%- if product.selected_or_first_available_variant.featured_media != null -%}
        {%- assign media = product.selected_or_first_available_variant.featured_media -%}
        <li class="product__media-item grid__item slider__slide{% if media.media_type != 'image' %} product__media-item--full{% endif %}{% if section.settings.hide_variants and variant_images contains media.src %} product__media-item--variant{% endif %}" 
            data-media-id="{{ section.id }}-{{ media.id }}">
          {% render 'product-thumbnail', media: media, position: 'featured', loop: section.settings.enable_video_looping, modal_id: section.id, xr_button: true %}
        </li>
        {%- endif -%}
        {%- for media in product.media -%}
        {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
        <li class="swiper-slide" 
            data-media-id="{{ section.id }}-{{ media.id }}">
          {% render 'product-thumbnail', media: media, position: forloop.index, loop: section.settings.enable_video_looping, modal_id: section.id, xr_button: true %}
        </li>
        {%- endunless -%}
        {%- endfor -%}
      </div>
    </div>
    <div class="swiper-button-prev featured_product_beautify_prev"></div>
    <div class="swiper-button-next featured_product_beautify_next"></div>
  </div>
</ul>

<script type="module">
  import Swiper from '{{ 'swiper-bundle.esm.browser.min.js' | asset_url }}'

  var swiper = new Swiper(".my_swiper_detail_featured_product_beautify", {
      slidesPerView: 4,
      spaceBetween: 10,
      pagination: {
          el: ".swiper-pagination",
          clickable: true,
      },
      navigation: {
          nextEl: '.swiper-button-next.featured_product_beautify_next',
          prevEl: '.swiper-button-prev.featured_product_beautify_prev',
      },
      breakpoints: {
        0: {  //当屏幕宽度大于等于0 
          slidesPerView: 2,
        },
        750: {  //当屏幕宽度大于等于750 
          slidesPerView: 2,
        },
        990: {  //当屏幕宽度大于等于990
          slidesPerView: 4,
		}
      }
  });
</script>