<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    
 
   
{{'custome-content.css'| asset_url |stylesheet_tag}}
    {{ 'lazysizes.js' | asset_url | script_tag }}
{{ 'lazysizes.min.js' | asset_url | script_tag }}


    {% comment %}
{{ 'lazysizes.js' | asset_url | script_tag }}
{{ 'lazysizes.min.js' | asset_url | script_tag }}
 
<script src="{{ 'lazysizes.js' | asset_url }}" ></script>   
<script src="{{ 'lazysizes.min.js' | asset_url }}" ></script>   
    
    {% endcomment %}
    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | img_url: '32x32' }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
    {{ content_for_header }}

    {%- liquid
      assign body_font_bold = settings.type_body_font | font_modify: 'weight', 'bold'
      assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
      assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
    %}

    {% style %}
      {{ settings.type_body_font | font_face: font_display: 'swap' }}
      {{ body_font_bold | font_face: font_display: 'swap' }}
      {{ body_font_italic | font_face: font_display: 'swap' }}
      {{ body_font_bold_italic | font_face: font_display: 'swap' }}
      {{ settings.type_header_font | font_face: font_display: 'swap' }}

      :root {
        --font-body-family: {{ settings.type_body_font.family }}, {{ settings.type_body_font.fallback_families }};
        --font-body-style: {{ settings.type_body_font.style }};
        --font-body-weight: {{ settings.type_body_font.weight }};

        --font-heading-family: {{ settings.type_header_font.family }}, {{ settings.type_header_font.fallback_families }};
        --font-heading-style: {{ settings.type_header_font.style }};
        --font-heading-weight: {{ settings.type_header_font.weight }};

        --color-base-text: {{ settings.colors_text.red }}, {{ settings.colors_text.green }}, {{ settings.colors_text.blue }};
        --color-base-background-1: {{ settings.colors_background_1.red }}, {{ settings.colors_background_1.green }}, {{ settings.colors_background_1.blue }};
        --color-base-background-2: {{ settings.colors_background_2.red }}, {{ settings.colors_background_2.green }}, {{ settings.colors_background_2.blue }};
        --color-base-solid-button-labels: {{ settings.colors_solid_button_labels.red }}, {{ settings.colors_solid_button_labels.green }}, {{ settings.colors_solid_button_labels.blue }};
        --color-base-outline-button-labels: {{ settings.colors_outline_button_labels.red }}, {{ settings.colors_outline_button_labels.green }}, {{ settings.colors_outline_button_labels.blue }};
        --color-base-accent-1: {{ settings.colors_accent_1.red }}, {{ settings.colors_accent_1.green }}, {{ settings.colors_accent_1.blue }};
        --color-base-accent-2: {{ settings.colors_accent_2.red }}, {{ settings.colors_accent_2.green }}, {{ settings.colors_accent_2.blue }};
        --payment-terms-background-color: {{ settings.colors_background_1 }};

        --gradient-base-background-1: {% if settings.gradient_background_1 != blank %}{{ settings.gradient_background_1 }}{% else %}{{ settings.colors_background_1 }}{% endif %};
        --gradient-base-background-2: {% if settings.gradient_background_2 != blank %}{{ settings.gradient_background_2 }}{% else %}{{ settings.colors_background_2 }}{% endif %};
        --gradient-base-accent-1: {% if settings.gradient_accent_1 != blank %}{{ settings.gradient_accent_1 }}{% else %}{{ settings.colors_accent_1 }}{% endif %};
        --gradient-base-accent-2: {% if settings.gradient_accent_2 != blank %}{{ settings.gradient_accent_2 }}{% else %}{{ settings.colors_accent_2 }}{% endif %};

        --page-width: {{ settings.page_width | divided_by: 10 }}rem;
      }

      *,
      *::before,
      *::after {
        box-sizing: inherit;
      }

      html {
        box-sizing: border-box;
        font-size: 62.5%;
        height: 100%;
      }

      body {
        display: grid;
        grid-template-rows: auto auto 1fr auto;
        grid-template-columns: 100%;
        min-height: 100%;
        margin: 0;
        font-size: 1.5rem;
        letter-spacing: 0.06rem;
        line-height: 1.8;
        font-family: var(--font-body-family);
        font-style: var(--font-body-style);
        font-weight: var(--font-body-weight);
    
      }
    
      @media screen and (min-width: 750px) {
        body {
          font-size: 1.6rem;
        }
      }
    {% endstyle %}
    
	{% include 'css-variables' %}
    {{ 'base.css' | asset_url | stylesheet_tag }}

    {%- unless settings.type_body_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {%- unless settings.type_header_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}

    {%- if settings.predictive_search_enabled -%}
      <link rel="stylesheet" href="{{ 'component-predictive-search.css' | asset_url }}" media="print" onload="this.media='all'">
    {%- endif -%} 
    
    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    </script>
  </head>
  {% style %}
    {% if settings.show_back_to_top == 'Desktop' %}
      @media screen and (min-width: 0px) and (max-width: 750px) {
        #my_backtop {
          display: none;
        }
      }
    {% elsif settings.show_back_to_top == 'Mobile' %}
      @media screen and (min-width: 750px) {
        #my_backtop {
          display: none;
        }
      }
    {% endif %}
    {% if settings.enable_prevent_copying %}
      * { 
        user-select: none;
      }
    {% endif %}
  {% endstyle %}
  
  <body class="gradient">
    <a class="skip-to-content-link button visually-hidden" href="#MainContent">
      {{ "accessibility.skip_to_text" | t }}
    </a>
	{% section 'promo-bar' %}
<!--     % section 'announcement-bar' % -->
    {% section 'top-bar' %}
    {% section 'header' %}
<!--     % section 'header-zx' %} -->

    <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

<!--   	% section 'footer' %} -->
    {% section 'footer-top' %}
    {% section 'footer-bottom' %}
    <ul hidden>
      <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
    </ul>
    
    <a id="my_backtop" style="{% if settings.show_back_to_top == 'Disable' %}display: none;{% endif %}{% if settings.back_to_top_style == 'Style 2' %}border: 2px solid #fff; box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, .2);{% endif %} {% if settings.button_style == 'Round' %}border-radius: 4px;{% endif %}"></a>

    <script>
      /*lzx change*/
      // footer sticky
      let promo_bar = document.getElementById('shopify-section-promo-bar');
      let top_bar = document.getElementById('shopify-section-top-bar');
      let header_zx = document.getElementById('shopify-section-header');
      let footer_top = document.getElementById('shopify-section-footer-top');
      let footer_bottom = document.getElementsByClassName('footer color- gradient my_footer_bottom_color')[0];
      let footer_bottom_height = document.getElementsByClassName('footer color- gradient my_footer_bottom_color')[0].scrollHeight;
      let my_footer_sticky = document.getElementsByClassName('footer color- gradient my_footer_sticky')[0];
      let main = document.getElementById('MainContent');
      let sticky = document.getElementsByClassName('my_footer_sticky');
      
      if(sticky.length > 0) {      
        if(document.body.clientWidth < 1024) {
          main.style.marginBottom = 0 + "px";
        }
        else if(document.body.clientWidth >= 1024) {
          let my_footer_sticky_height = document.getElementsByClassName('footer color- gradient my_footer_sticky')[0].scrollHeight-40+1;
          main.style.background = '#ffffff';
          main.style.zIndex = 999;
          main.style.marginBottom = my_footer_sticky_height + footer_bottom_height + "px";
          my_footer_sticky.style.marginBottom = footer_bottom_height + "px";
          promo_bar.style.zIndex = 999;
          top_bar.style.zIndex = 999;
          header_zx.style.zIndex = 999;
          footer_bottom.style.position = 'fixed';
          footer_bottom.style.bottom = 0;
          footer_bottom.style.width = '100%';
          console.log(footer_bottom_height);
        }
      }
      else {
        main.style.marginBottom = 0 + "px";
      }
      
      // header fixed layout
      let all_header_height = promo_bar.scrollHeight + top_bar.scrollHeight + header_zx.scrollHeight;
      let header_wrapper = document.getElementsByClassName('header-wrapper')[0];
      let header_wrapper_height = document.getElementsByClassName('header-wrapper')[0].scrollHeight;
      let header = document.getElementsByClassName('header')[0];
      let content = document.getElementsByClassName('content')[0];
      let my_header_sticky = document.getElementsByClassName('my_header_sticky');
      let my_backtop = document.getElementById('my_backtop');
      
      my_backtop.onclick = function() {
        console.log(document.body.scrollTop);
//         document.body.scrollTop = document.documentElement.scrollTop = 0;
      }
      
//       function gotoTop() {
//         // 定义点击返回顶部图标后向上滚动的动画
//         $("#my_backtop").click(
//           function () {
//             $('html,body').animate({ scrollTop: '0px' }, 'slow');
//           })
//       };
//       gotoTop();
      
      window.onscroll = function () {
        if(my_header_sticky.length > 0) {
          //获取距离页面顶部的距离
          let toTop = document.documentElement.scrollTop || document.body.scrollTop;
          if(toTop >= all_header_height) {
            content.style.position = 'fixed';
            content.style.width = '100%';
            header_wrapper.style.height = header_wrapper_height + 'px';
            my_backtop.style.opacity = 1;
          } else {
            content.style.position = 'relative';
            my_backtop.style.opacity = 0;
          }
          if(content.style.position == 'fixed') {
            content.classList.add('my_header_sticky_settings');
            header.classList.add('my_header_sticky_settings');
            content.style.transition = 'transform .5s';
            content.style.top = -(content.scrollHeight) + 'px';
            content.style.transform = 'translateY(' + (content.scrollHeight) + 'px)';
          } else if(content.style.position == 'relative') {
            content.classList.remove('my_header_sticky_settings');
            header.classList.remove('my_header_sticky_settings');
            content.style.top = 0 + 'px';
            content.style.transform = 'none';
            content.style.transition = 'none';
          }
        }
      }
    </script>
    
    {% if settings.enable_prevent_copying %}
    <script>
      // disable_right_click
      document.addEventListener("contextmenu", function(event) {var notInput = (event.target || event.srcElement).tagName.toLowerCase() !== "input" && (event.target || event.srcElement).tagName.toLowerCase() !== "textarea";if (notInput && (event.target || event.srcElement).innerText) {event.preventDefault();} });
      // disable_right_click_img
      document.addEventListener("mousedown", function(event) { if ((event.target || event.srcElement).tagName.toLowerCase() === "img") {
      // Middle-click to open in new tab
          if (event.which == 2) { event.preventDefault(); } 
      } });
      document.addEventListener("contextmenu", function(event) { if ((event.target || event.srcElement).tagName.toLowerCase() === "img") { event.preventDefault(); } });
      // Drag and drop <img> elements
      const disableDragAndDrop = function(){document.body.setAttribute("ondragstart", "return false;");document.body.setAttribute("ondrop", "return false;");};
      if (document.readyState === "complete") {disableDragAndDrop();} else {document.addEventListener("DOMContentLoaded", disableDragAndDrop);}
      // disable_right_click_bg_img
      document.addEventListener("contextmenu", function(event) { if ((event.target || event.srcElement).style.backgroundImage) { event.preventDefault(); } });
    </script>
    {% endif %}
    <script>
      window.routes = {
        cart_add_url: '{{ routes.cart_add_url }}',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}',
        predictive_search_url: '{{ routes.predictive_search_url }}'
      };

      window.cartStrings = {
        error: `{{ 'sections.cart.cart_error' | t }}`,
        quantityError: `{{ 'sections.cart.cart_quantity_error_html' | t }}`
      }

      window.variantStrings = {
        addToCart: `{{ 'products.product.add_to_cart' | t }}`,
        soldOut: `{{ 'products.product.sold_out' | t }}`,
        unavailable: `{{ 'products.product.unavailable' | t }}`,
      }

      window.accessibilityStrings = {
        shareSuccess: `{{ 'general.share.success_message' | t }}`,
      }
    </script>
    
    
    
    
    
    
    
    
    {%- if settings.predictive_search_enabled -%}
      <script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}
  </body>
</html>
