


<div class="page-width">
  {% if section.settings.title != blank %}
    <div class="section-header text-center">
      <h1 style="font-weight:600;">{{ section.settings.title | escape }}</h1>
      <p  style="margin-bottom:39px;"> {{ section.settings.sub_title | escape }} </p>
    </div>
  {% endif %}

  {% case section.settings.grid %}
    {% when 2 %}
      {%- assign grid_item_width = 'medium-up--one-half' -%}
    {% when 3 %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}
    {% when 4 %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-quarter' -%}
    {% when 5 %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-fifth' -%}
  	{% when 6 %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-sixth' -%}
  {% endcase %}

  <div class="collection-grid">
    <ul class="grid grid--uniform">
      {% for block in section.blocks limit: section.blocks.size %}
        <li class="grid__item__beautify {{ grid_item_width }}" {{ block.shopify_attributes }}>
          {%- assign collection = collections[block.settings.collection] -%}
          {% include 'collection-grid-item', collection: collection %}
        </li>
      {% endfor %}
    </ul>
  </div>
	
  {% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
  {% endif %}
  
   
  
  <div class="collection-grid">
    <ul class="grid grid--uniform">
            
      {%- for block in section.blocks -%} {%- assign image = block.settings.image -%}
        {%- case block.type -%}
  
          {%- when 'img_top' -%}
       <li class="grid__item__beautify {{ grid_item_width }}" >
               
        <div class="banner_hzoom nt_promotion oh pr">
          {%- if image != blank -%}
            <div class="nt_bg_lz pr_lazy_img lazyload item__position {{block.settings.img_align}}" data-bgset="{{ image | img_url: '1x1' }}" data-ratio="{{image.aspect_ratio}}" data-sizes="auto" data-parent-fit="cover"></div>
          {%- else -%}
            {%- capture cl -%}{% cycle 'a8dacc', '56cfe1' %}{%- endcapture -%}
            <div class="nt_bg_lz pr_lazy_img lazyload item__position {{block.settings.img_align}}" data-bg="https://placehold.it/530x600.png/{{cl}}/{{cl}}?text=1" style="padding-top:52.63157894736842%"></div>
          {%- endif -%}
          <a href="{{ block.settings.url }}" target="{{block.settings.open_link}}" class="pa t__0 l__0 r__0 b__0{% if block.settings.url == blank %} pe_none{% endif %}"></a>
          <div class="nt_promotion_html pa t__0 l__0 {{block.settings.txt_align}} pe_none">{{block.settings.header_top}}</div>
        </div>
            
        
        </li>
      
      {%- endcase -%}
  {%- endfor -%}
  	    </ul>
  </div>
  
  		
   
</div>



{% schema %}
{
  "name": {

    "en": "banner  Beautify"
  },
  "tag": "section",
  "class": "index-section",
  "max_blocks": 8,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": {
   
        "en": "Heading"
      },
      "default": {

        "en": "NEW RELEASES"
      }
    },

 	

 	{
      "type": "text",
      "id": "sub_title",
      "label": {
   
        "en": "Sub text"
      },
      "default": {

        "en": "New supply this week"
      }
    },

	{
        "type": "header",
        "content": "COLUMN TOP"
      },

    {
      "type": "range",
      "id": "font-grid",
      "label": {
 
        "en": "Font size header"
      },
      "min": 12,
      "max": 80,
      "step": 2,
      "default": 30
    },

	{
      "type": "color",
      "id": "color",
      "label": "Header color",
      "default": "#fff"
     },

	{
      "type": "range",
      "id": "grid",
	  
      "label": {
 
        "en": "image per row "
      },
      "min": 1,
      "max": 3,
      "step": 1,
      "default": 3
    },

	{
      "type": "checkbox",
      "id": "show_view_all",
      "default": false,
      "label": "t:sections.collection-list.settings.show_view_all.label"
    },
	{
      "type": "checkbox",
      "id": "show_page_Dot",
      "default": false,
      "label": "Show Page Dot"
    }

  ],
  "blocks": [

    {
      "type": "img_top",
      "name": {

        "en": "Img_Top"
      },
      "settings": [

       {
         "type": "image_picker",
         "id": "image",
         "label": "Image"
       },
		
      {
        "type": "text",
        "id": "header_top",
        "label": {

        "en": "Header"
      },
        "default": {

        "en": "Head"
       }
      },

       {
        "label": "Image link ",
        "id": "url",
        "type": "url"
      },

      {
        "type": "select",
        "id": "open_link",
        "options": [
          {
            "value": "_self",
            "label": "Current window (_self)"
          },
         {
            "value": "_blank",
            "label": "New window (_blank)"
          }
        ],
        "label": "Open link in",
        "default": "_blank"
      }

      ]
    },

	{
      "type": "img_bottom",
      "name": "IMG BOTTOM",
      "limit": 4,
      "settings": [
          {
            "type": "color",
            "id": "color",
            "label": "Color",
            "default": "#fff"
          },
          {
            "type": "range",
            "id": "w",
            "min": 50,
            "max": 150,
            "step": 10,
            "label": "Width",
            "default": 140
          },
          {
            "type": "range",
            "id": "h",
            "min": 1,
            "max": 5,
            "step": 0.5,
            "label": "Height",
            "default": 3
          }
        ]
      }


  ],
  "presets": [
    {
      "name": {

        "en": "Banner"
      },
      "category": {

        "en": "Collection"
      },
      "blocks": [
        {
          "type": "img_top"
        },
        {
          "type": "img_top"
        },
        {
          "type": "img_top"
        }
      ]
    }
  ]
}
{% endschema %}



<script>

$("div").data
</script>