{{ 'lazysizes.js' | asset_url | script_tag }}
{{ 'lazysizes.min.js' | asset_url | script_tag }}

<div class="page-width">
  {% if section.settings.title != blank %}
    <div class="section-header text-center">
      <h1 style="font-weight:600;">{{ section.settings.title | escape }}</h1>
      <p  style="margin-bottom:39px;"> {{ section.settings.sub_title | escape }} </p>
    </div>
  {% endif %}

  {% case section.settings.grid %}
    {% when 2 %}
      {%- assign grid_item_width = 'medium-up--one-half' -%}
    {% when 3 %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}
    {% when 4 %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-quarter' -%}
    {% when 5 %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-fifth' -%}
  	{% when 6 %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-sixth' -%}
  {% endcase %}


	
  {% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
  {% endif %}
  
    <div class="banner_third"> 
  {%- for block in section.blocks -%}  
        {%- case block.type -%}

     {%- when 'banner_third' -%} {%- assign image = block.settings.image -%}
     <div class="flex_center" style="background-image:url(//cdn.shopify.com/s/{{ image |ima_url }})">
       {{ image |ima_url }}
         <a href="{{ block.settings.url }}" target="{{block.settings.open_link}}" class="pa t__0 l__0 r__0 b__0{% if block.settings.url == blank %} pe_none{% endif %}"></a>
       <div class="nt_promotion_html pa t__0 l__0 tc pe_none" style="font-size:{{section.settings.font_top}}px; font-weight:600; color:{{section.settings.color_top}}">
         {{block.settings.header_top}}  
       </div>
      </div>

  
   {%- endcase -%}
  {%- endfor -%}
      
    </div>
  <div class="collection-grid">
    <ul class="grid grid--uniform">
            
      {%- for block in section.blocks -%} 
        {%- case block.type -%}
  
          {%- when 'img_top' -%} {%- assign image = block.settings.image -%}
       <li class="grid__item__beautify {{ grid_item_width }}" >
               
        <div class="banner_hzoom nt_promotion oh pr">
          {%- if image != blank -%}  {% assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          
               <img src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20{{image.width}}%20{{image.height}}%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="{{ img_url  }}" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-sizes="auto" class="lazyload lz_op_ef w__100" alt="{{image.alt}}" style="max-width:{{image.width}}px">

          {%- else -%}
           
           {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          {%- endif -%}
          <a href="{{ block.settings.url }}" target="{{block.settings.open_link}}" class="pa t__0 l__0 r__0 b__0{% if block.settings.url == blank %} pe_none{% endif %}"></a>
          <div class="nt_promotion_html pa t__0 l__0 tc pe_none" style="font-size:{{section.settings.font_top}}px; font-weight:600; color:{{section.settings.color_top}}">{{block.settings.header_top}}</div>
        </div>
            
        
        </li>
      
      {%- endcase -%}
  {%- endfor -%}
  	    </ul>
  </div>
  
  		
   
   
  
  
  
</div>



{% schema %}
{
  "name": {

    "en": "banner  Beautify"
  },
  "tag": "section",
  "class": "index-section",
  "max_blocks": 8,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": {
   
        "en": "Heading"
      },
      "default": {

        "en": "BANNER"
      }
    },

 	

 	{
      "type": "text",
      "id": "sub_title",
      "label": {
   
        "en": "Sub text"
      },
      "default": {

        "en": "Popular this week"
      }
    },

	{
        "type": "header",
        "content": "COLUMN TOP"
      },

    {
      "type": "range",
      "id": "font_top",
      "label": {
 
        "en": "Font size header"
      },
      "min": 12,
      "max": 80,
      "step": 2,
      "default": 30
    },

	{
      "type": "color",
      "id": "color_top",
      "label": "Header color",
      "default": "#fff"
     },

	{
      "type": "range",
      "id": "grid",
	  
      "label": {
 
        "en": "image per row "
      },
      "min": 1,
      "max": 3,
      "step": 1,
      "default": 3
    },

	{
      "type": "checkbox",
      "id": "show_view_all",
      "default": false,
      "label": "t:sections.collection-list.settings.show_view_all.label"
    },
	{
      "type": "checkbox",
      "id": "show_page_Dot",
      "default": false,
      "label": "Show Page Dot"
    }

  ],
  "blocks": [

    {
      "type": "img_top",
      "name": {

        "en": "IMG BOTTOM"
      },
      "settings": [

       {
         "type": "image_picker",
         "id": "image",
         "label": "Image"
       },
		
      {
        "type": "text",
        "id": "header_top",
        "label": {

        "en": "Header"
      },
        "default": {

        "en": "Head"
       }
      },

       {
        "label": "Image link ",
        "id": "url",
        "type": "url"
      },

      {
        "type": "select",
        "id": "open_link",
        "options": [
          {
            "value": "_self",
            "label": "Current window (_self)"
          },
         {
            "value": "_blank",
            "label": "New window (_blank)"
          }
        ],
        "label": "Open link in",
        "default": "_blank"
      }

      ]
    },

	{
      "type": "banner_third",
      "name": "IMG TOP",
      "limit": 3,
      "settings": [
		{
         "type": "image_picker",
         "id": "image",
         "label": "Image"
       },
		{
        "type": "text",
        "id": "header_top",
        "label": {

        "en": "Header"
      },
        "default": {

        "en": "Head"
       }
      },
    {
        "label": "Image link ",
        "id": "url",
        "type": "url"
      },
          {
            "type": "color",
            "id": "color",
            "label": "Color",
            "default": "#fff"
          },
          {
            "type": "range",
            "id": "w",
            "min": 50,
            "max": 150,
            "step": 10,
            "label": "Width",
            "default": 140
          },
          {
            "type": "range",
            "id": "h",
            "min": 1,
            "max": 5,
            "step": 0.5,
            "label": "Height",
            "default": 3
          }
        ]
      }


  ],
  "presets": [
    {
      "name": {

        "en": "Banner"
      },
      "category": {

        "en": "Collection"
      },
      "blocks": [
        {
          "type": "img_top"
        },
        {
          "type": "img_top"
        },
        {
          "type": "img_top"
        }
      ]
    }
  ]
}
{% endschema %}

<style>
  
  .banner_third{
  
  	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .flex_center{
  
    height:100px;
    text-align: center;
    flex-grow: 1;
    padding: 10px 20px;
    
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
  }	

 .w__100{
  
  width:100%;
  }
	
  img{
  
  height: auto;
    max-width: 100%;
    vertical-align: middle;
  }
  
  img.lz_op_ef.lazyloaded {
    -webkit-animation: 1.25s cubic-bezier(.26,.54,.32,1) forwards ani-fadeIn;
    animation: 1.25s cubic-bezier(.26,.54,.32,1) forwards ani-fadeIn;
}

  .tc {
    text-align: center;
}
  .pr{
  
  position:relative;
  }
  .pa{
  
  position:absolute;
  }
  .nt_promotion_html {
    top: 50%;
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    right: auto;
}
  
  .nt_promotion .pa {
    z-index: 10;
    padding: 10px;
}

  
  @media (min-width: 768px)
.tc_md {
    text-align: center;
}

  
 .pe_none {
    pointer-events: none;
}
  
</style>



{% stylesheet %}



{% endstylesheet %}

{% javascript %}
{% endjavascript %}



