<div class="page-width">
 
  <div class="tc">
    {%assign sections = section.settings%}
    {%if sections.show_author %}
    <h1 >Post title</h1>
    {% endif %}
    {% if sections.show_date %}
    <div>
      {{ article.published_at | time_tag: format: 'date' }}
    </div>

    <div class="pr mt__10">
      <span>{{ 'blogs.article.by_author' | t: author:article.author }} <a href="{{ blog.url }}" rel="category tag">{{ blog.title }}</a> </span>
      <span class="comment-number pr"><a href="{{ article.url }}{{cm_link}}">{{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}</a></span>
    </div>

    <p>
      {{article.user.email}}
    </p>  


  


    {% endif %}
  </div>
  
  <div>{{ article.content | strip_html | strip_newlines }}</div>
{% if sections.show_social%}
<div class="color-{{ section.settings.color_scheme }} gradient">
  <ul class="list-social_start list-unstyled" role="list">
    {%- if settings.social_twitter_link != blank -%}
      <li class="list-social__item">
        <a href="{{ settings.social_twitter_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message">
          {%- render 'icon-twitter' -%}
          <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
        </a>
      </li>
    {%- endif -%}
    {%- if settings.social_facebook_link != blank -%}
      <li class="list-social__item">
        <a href="{{ settings.social_facebook_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message">
          {%- render 'icon-facebook' -%}
          <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
        </a>
      </li>
    {%- endif -%}
    {%- if settings.social_pinterest_link != blank -%}
      <li class="list-social__item">
        <a href="{{ settings.social_pinterest_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message">
          {%- render 'icon-pinterest' -%}
          <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
        </a>
      </li>
    {%- endif -%}
    {%- if settings.social_instagram_link != blank -%}
      <li class="list-social__item">
        <a href="{{ settings.social_instagram_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message">
          {%- render 'icon-instagram' -%}
          <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
        </a>
      </li>
    {%- endif -%}
    {%- if settings.social_tiktok_link != blank -%}
      <li class="list-social__item">
        <a href="{{ settings.social_tiktok_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message">
          {%- render 'icon-tiktok' -%}
          <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
        </a>
      </li>
    {%- endif -%}
    {%- if settings.social_tumblr_link != blank -%}
      <li class="list-social__item">
        <a href="{{ settings.social_tumblr_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message">
          {%- render 'icon-tumblr' -%}
          <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
        </a>
      </li>
    {%- endif -%}
    {%- if settings.social_snapchat_link != blank -%}
      <li class="list-social__item">
        <a href="{{ settings.social_snapchat_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message">
          {%- render 'icon-snapchat' -%}
          <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
        </a>
      </li>
    {%- endif -%}
    {%- if settings.social_youtube_link != blank -%}
      <li class="list-social__item">
        <a href="{{ settings.social_youtube_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message">
          {%- render 'icon-youtube' -%}
          <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
        </a>
      </li>
    {%- endif -%}
    {%- if settings.social_vimeo_link != blank -%}
      <li class="list-social__item">
        <a href="{{ settings.social_vimeo_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message">
          {%- render 'icon-vimeo' -%}
          <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
        </a>
      </li>
    {%- endif -%}
  </ul>
</div>
{% endif %}

  <a class="button">{{'blogs.article.back_to_blog' | t }}</a> 
  
  
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": [
	
		 {
          "type": "checkbox",
          "id": "show_author",
          "default": true,
          "label": "Show author"
         },
		{
          "type": "checkbox",
          "id": "show_date",
          "default": true,
          "label": "Show author"
         },
		{
          "type": "checkbox",
          "id": "show_social",
          "default": true,
          "label": "Show author"
         }
		

		]
  }
{% endschema %}

{% stylesheet %}
.tc{
	text-align:center;

	}

{% endstylesheet %}

{% javascript %}
{% endjavascript %}
