<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-card.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-article-card.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-featured-blog.css' | asset_url }}" media="print" onload="this.media='all'">
{{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}

<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-card.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-article-card.css' | asset_url | stylesheet_tag }}</noscript>

{{ 'section-featured-blog.css' | asset_url | stylesheet_tag }}

<style>
  .slider-mobile-gutter .my_blog_page_beautify_ul {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
  
  .slider-mobile-gutter .my_blog_page_beautify_ul li {
    padding: 0 15px;
  }
  
  .blog__posts.articles-wrapper .my_font_size_heading_default {
    align-items: center
  }
  
  .page-width .my-title-wrapper-with-link {
    align-items: center
  }
  
  @media screen and (min-width: 990px) {
    .blog__posts.my_featured_blog_ul.my_featured_blog_ul_margin_right {
      margin-right: -3rem;
    }
  }
</style>

<div class="blog{% if section.settings.blog_soft_background %} background-secondary{% endif %} {% if section.settings.heading == blank %} no-heading{% endif %}"
     style="{%- if section.settings.blog_page_beautify_margin_top != blank -%}margin-top: {{ section.settings.blog_page_beautify_margin_top }}px; {%- endif -%}{%- if section.settings.blog_page_beautify_margin_bottom != blank -%}margin-bottom:{{ section.settings.blog_page_beautify_margin_bottom }}px;{%- endif -%}{%-if section.settings.color_scheme =="soft_background"-%} background-color:{{section.settings.blog_soft_background}}{%-else-%} background-color:{{settings.color_page_background}}{%-endif-%}">
  <div class="page-width">
    <div class="title-wrapper-with-link{% if section.settings.heading == blank %} title-wrapper-with-link--no-heading{% endif %} title-wrapper--self-padded-tablet-down my-title-wrapper-with-link">
      <h2 class="blog__title my_font_weight_default my_between_title_and_text_margin my_font_size_heading_default">{{ section.settings.heading | upcase }}</h2>
      <p class="my_font_size_content_default " style="color:var(--font-sub-text-color);margin: 0 0"> {{section.settings.head_text |escape }}</p>

      {%- if section.settings.blog != blank and section.settings.show_view_all and section.settings.post_limit < section.settings.blog.articles_count -%}
        <a href="{{ section.settings.blog.url }}"
          class="link underlined-link large-up-hide"
        >
          {{ 'sections.featured_blog.view_all' | t }}
        </a>
      {%- endif -%}
    </div>
    {%- liquid
      if section.settings.post_limit <= section.settings.blog.articles_count
        assign posts_exceed_limit = true
      endif
    -%}
    {%- if section.settings.blog != blank and section.settings.blog.articles_count > 0 -%}
    
   {%- liquid
     if section.settings.show_view_all  and section.settings.post_limit <= section.settings.blog.articles_count
     	assign blog_number =   section.settings.post_limit 
     elsif section.settings.show_view_all =='false' and section.settings.post_limit <= section.settings.blog.articles_count
     	assign blog_number = section.settings.blog.post_limit
     else assign blog_number = section.settings.blog.articles_count
     endif    -%}  
      <ul id="Slider-{{ section.id }}"
          class="blog__posts articles-wrapper grid grid--peek grid--2-col-tablet grid--3-col-desktop{% if posts_exceed_limit %} 1 blog__posts--{{ section.settings.post_limit }}-items{% else %} 2 blog__posts--{{ section.settings.blog.articles_count }}-items{% endif %} my_featured_blog_ul {% if section.settings.blog.articles_count < 3 %} my_featured_blog_ul_margin_right {% endif %}"
          role="list">
         {% render 'blog-my-swiper-list', section:section %}
      </ul>

      {%- if section.settings.show_view_all  -%}
    	{%- if section.settings.post_limit >3 -%}
        <div class="blog__view-all center small-hide medium-hide my_blog_viewAll">
          <a href="{{ section.settings.blog.url }}" class="blog__button button">
            {{ 'sections.featured_blog.view_all' | t }}
          </a>
        </div>
    	{%- endif -%}
      {%- endif -%}
    {%- else -%}
      <div class="blog-placeholder">
        <div class="placeholder media media--landscape">
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder-svg-blog-post' }}
        </div>
        <div class="blog-placeholder__content">
          <h2>
            {{ 'sections.featured_blog.onboarding_title' | t }}
          </h2>
          <p class="rte-width">
            {{ 'sections.featured_blog.onboarding_content' | t }}
          </p>
        </div>
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "Blog posts",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Blog posts",
      "label": "t:sections.featured-blog.settings.heading.label"
    },
	{
	"type":"textarea",
	"id":"head_text",
	"default":"The most exciting news",
	"label":"Sub text"
	},
	{
        "type": "select",
        "id": "image_ratio1",
        "label": "Aspect Ratio",
        "default": "ratio_nt",
        "info": "Aspect Ratio Custom will settings in General panel.",
        "options": [
          {
            "group": "Landscape",
            "value": "ratio2_1",
            "label": "2:1"
          },
          {
            "group": "Landscape",
            "value": "ratio16_9",
            "label": "16:9"
          },
          {
            "group": "Landscape",
            "value": "ratio8_5",
            "label": "8:5"
          },
          {
            "group": "Landscape",
            "value": "ratio3_2",
            "label": "3:2"
          },
          {
            "group": "Landscape",
            "value": "ratio4_3",
            "label": "4:3"
          },
          {
            "group": "Landscape",
            "value": "ratio_nt",
            "label": "Ratio ASOS"
          },
          {
            "group": "Squared",
            "value": "ratio1_1",
            "label": "1:1"
          },
          {
            "group": "Portrait",
            "value": "ratio2_3",
            "label": "2:3"
          },
          {
            "group": "Portrait",
            "value": "ratio1_2",
            "label": "1:2"
          },
          {
            "group": "Custom",
            "value": "ratio_cus1",
            "label": "Ratio Custom 1"
          },
          {
            "group": "Custom",
            "value": "ratio_cus2",
            "label": "Ratio Custom 2"
          },
          {
            "group": "Custom",
            "value": "ratio_cus3",
            "label": "Ratio Custom 3"
          },
          {
            "group": "Custom",
            "value": "ratio_cus4",
            "label": "Ratio Custom 4"
          }
        ]
      },
    {
      "type": "blog",
      "id": "blog",
      "label": "t:sections.featured-blog.settings.blog.label"
    },
    {
      "type": "range",
      "id": "post_limit",
      "min": 3,
      "max": 9,
      "step": 1,
      "default": 3,
      "label": "t:sections.featured-blog.settings.post_limit.label"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_image.label",
      "info": "t:sections.featured-blog.settings.show_image.info"
    },
	 {
      "type": "checkbox",
      "id": "show_title",
      "default": true,
      "label": "Show post title"
    },
	 {
      "type": "checkbox",
      "id": "show_short_content",
      "default": true,
      "label": "Show short content"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "t:sections.featured-blog.settings.show_author.label"
    },
	{
      "type": "color",
      "id": "blog_soft_background",
      "label": "Blog-page background",
      "default": "#f3f3f3"
     },
	{
        "type": "select",
       "id": "color_scheme",
      "options": [
        {
       "value": "gradient",
       "label": "Global-page background" 
        },
       {
        "value": "soft_background",
        "label": "Blog-page background"
         }
       ],
     "default": "gradient",
       "label": "Background options"
      },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_view_all.label"
    },
    {
      "type": "text",
      "id": "blog_page_beautify_margin_top",
      "label": "Margin top",
      "info": "t:sections.margintip.settings.margin_top_tip.label"
    },
    {
      "type": "text",
      "id": "blog_page_beautify_margin_bottom",
      "label": "Margin bottom",
      "info": "t:sections.margintip.settings.margin_bottom_tip.label"
    }
  ],
  "presets": [
    {
      "name": "beautify-post-page",
      "settings": {
        "blog": "News"
      }
    }
  ]
}
{% endschema %}
