

<div class="page-width" style="{%- if section.settings.collection_list_beautify_margin_top != blank -%}margin-top: {{ section.settings.collection_list_beautify_margin_top }}px; {%- endif -%}{%- if section.settings.collection_list_beautify_margin_bottom != blank -%}margin-bottom:{{ section.settings.collection_list_beautify_margin_bottom }}px;{%- endif -%}">
  {% if section.settings.title != blank %}
    <div class="section-header text-center my_section_margin_default">
      <h1 class="my_font_size_heading_default my_font_weight_default my_between_title_and_text_margin">{{ section.settings.title | escape }}</h1>
      <p> {{ section.settings.sub_title | escape }} </p>
    </div>
  {% endif %}

  {% case section.settings.grid %}
    {% when 2 %}
      {%- assign grid_item_width = 'medium-up--one-half' -%}
    {% when 3 %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}
    {% when 4 %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-quarter' -%}
    {% when 5 %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-fifth' -%}
  	{% when 6 %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-sixth' -%}
  {% endcase %}

  {%render 'list_beautify_render',collection: collection　, grid:section.settings.grid %}
	
  {% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
  {% endif %}
  
    {% if section.settings.show_view_all or section.settings.show_page_Dot %}
  <div class="center{% if section.settings.swipe_on_mobile %} small-hide medium-hide{% endif %}">
    
    {% if section.settings.show_page_Dot %}
   	
<!--     - render 'slider-pog'- -->
    
      
    
    {% else %}
      <a href="{{ routes.collections_url }}" class="button">{{ 'sections.collection_list.view_all' | t }}</a>
    {% endif %}
    
    </div>
  
    {% endif %}
</div>


<style>

  ol#collection_list_pog{
    width: 100%;
    display: flex;
    justify-content: center;
/*     position: absolute; */
    bottom: 10%;
    z-index: 100;
    cursor: pointer;
    padding: 0px;
    margin: 0;
  }
  
  
  ol#collection_list_pog li{
    float:left;
    background:green;
    width:11px;
    height:11px;
    text-align: center;
    line-height: 11px;
    font-size: 10px;
    border-radius: 50%;
    text-align: center;
    transition:all 1.5s;
    margin: 0 5px;
    list-style-type: none;
  }
  
  ol#collection_list_pog li.active{
    background:blue;
    color:#fff;
  }
  
/*   .my_collection_list_beautify_title_font_size {
  	font-weight: 700;
    font-size: 24px;
  } */

</style>



{% schema %}
{
  "name": {

    "en": "Collection list Beautify"
  },
  "tag": "section",
  "class": "index-section",
  "max_blocks": 8,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": {
   
        "en": "Heading"
      },
      "default": {

        "en": "NEW RELEASES"
      }
    },
 	{
      "type": "text",
      "id": "sub_title",
      "label": {
   
        "en": "Sub text"
      },
      "default": {

        "en": "New supply this week"
      }
    },
    {
      "type": "range",
      "id": "grid",
      "label": {
 
        "en": "Collections per row"
      },
      "min": 2,
      "max": 6,
      "step": 1,
      "default": 3,
	  "info":"Please click save to view the result"	
    },
	{
      "type": "checkbox",
      "id": "show_view_all",
      "default": false,
      "label": "t:sections.collection-list.settings.show_view_all.label"
    },
	{
      "type": "checkbox",
      "id": "show_page_Dot",
      "default": false,
      "label": "Show Page Dot"
    },
    {
      "type":"select",
      "id":"page_dot_style",
      "label":"Style",
      "default":"style_1",
      "options":[{"value":"style_1","label":"Style 1"},{"value":"style_2","label":"Style 2"}]
    },
    {
      "type":"select",
      "id":"page_dot_color",
      "label":"Color",
      "default":"dark",
      "options":[{"value":"dark","label":"Dark"},{"value":"light","label":"Light"}]
    },
    {
      "type": "checkbox",
      "id": "show_button",
      "label": "Show Prev Next Button",
      "default": true
    },
    {
      "type": "select",
      "id": "show_button_visible",
      "label": "Visible",
      "default": "always",
      "options": [
        {
          "value": "only_hover",
          "label": "Only hover"
        },
        {
          "value": "always",
          "label": "Always"
        }
      ]
    },
    {
      "type": "select",
      "id": "show_button_style",
      "label": "Style",
      "default": "style1",
      "options": [
        {
          "value": "style1",
          "label": "Style1"
        },
        {
          "value": "style2",
          "label": "Style2"
        },
        {
          "value": "style3",
          "label": "Style3"
        }
      ]
    },
    {
      "type": "select",
      "id": "show_button_color",
      "label": "Color",
      "default": "white",
      "options": [
        {
          "value": "transparent",
          "label": "Transparent"
        },
        {
          "value": "white",
          "label": "White"
        },
        {
          "value": "gray",
          "label": "Gray"
        }
      ]
    },
    {
      "type": "color",
      "id": "show_button_hover_color",
      "label": "Hover"
    },
    {
      "type": "text",
      "id": "collection_list_beautify_margin_top",
      "label": "Margin top",
	  "info": "t:sections.margintip.settings.margin_tip.label"
    },
    {
      "type": "text",
      "id": "collection_list_beautify_margin_bottom",
      "label": "Margin bottom",
	  "info": "t:sections.margintip.settings.margin_tip.label"
    }
  ],
  "blocks": [
    {
      "type": "featured_collection",
      "name": {

        "en": "Collection"
      },
      "settings": [
        {
          "label": {

            "en": "Collection"
          },
          "id": "collection",
          "type": "collection"
        },
		{
           "type": "image_picker",
           "id": "image",
           "label": "Image"
      	 },
		{
          "type": "text",
          "id": "title",
          "label": {

            "en": "Sub text"
          },
          "default": {

            "en": "New supply this week"
          },
		 "info":"Leave empty to use 'collection title'title. Enter key 'hide_title' to hide title"
    	}
      ]
    }
  ],
  "presets": [
    {
      "name": {

        "en": "collection-list-Beautify"
      },
      "category": {

        "en": "Collection"
      },
      "blocks": [
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        }
      ]
    }
  ]
}
{% endschema %}
