
{%- assign  setting=section.settings-%}

<div class="contatin" style="background-color:{{setting.background_color}}">
  
  <div class="left ">
    
    
    <div class="felx_box pd">
      <h1 style="font-size:{{setting.heading_font_size}}">Daily Deal Of The Day</h1>
<!--       <div class="clock"></div>
      <div class="clock"></div>
      <div class="clock"></div>
      <div class="clock"></div> -->
      
      <div class="timebox"    data-endtime="{{setting.countdown_time}}"  style="font-siez:{{setting.time_font_size}}">
        <div class="day_time f1 time-div"></div>
        <div class="hour_time f1 time-div"></div>
        <div class="minutes_time f1 time-div"></div>
        <div class="second_time f1  time-div"></div>
      </div>
      
    </div>
    
    <div class="pd">
    
      <p>Best gift for us</p>
      <p>Sweety Sweety Sweety Sweety Sweety</p>
      <a class="mr_4"><button class="button ">shop now</button></a>
      <a class="t2"><button class="button white-button">Detail</button></a>
		
    
    </div>
  
    

  </div>
  <div class="right daily-right">
    <div class="daily-product-box" style="background-color: {{setting.background_product_color}};">
<!--       <img class="tt1 lazyload daily-product" 
          
          
           data-src="{{setting.log_image}}"> -->
      
      {%- liquid
          assign highest_ratio = 0
      	  assign product = setting.product 
            if product.images[0].aspect_ratio > highest_ratio
              assign highest_ratio = product.images[0].aspect_ratio
            endif          
          
        -%}
      
      
      
   		 <div class="daily-product" >
          {%- if product.selected_or_first_available_variant.featured_media != null -%}
            {%- assign media = product.selected_or_first_available_variant.featured_media -%}
            <div class="product__media-item" data-media-id="{{ section.id }}-{{ media.id }}">
              {% render 'product-thumbnail', media: media, position: 'featured', loop: section.settings.enable_video_looping, modal_id: section.id, xr_button: false %}
            </div>
          {%- endif -%}
          {%- liquid
            assign media_to_render = product.featured_media.id
            for variant in product.variants
              assign media_to_render = media_to_render | append: variant.featured_media.id | append: ' '
            endfor
          -%}
          {%- for media in product.media -%}
            {%- if media_to_render contains media.id and media.id != product.selected_or_first_available_variant.featured_media.id -%}
              <div class="product__media-item" data-media-id="{{ section.id }}-{{ media.id }}  123">
                {% render 'product-thumbnail', media: media, position: forloop.index, loop: section.settings.enable_video_looping, modal_id: section.id, xr_button: false %}
              </div>
            {%- endif -%}
          {%- endfor -%}
        </div>
      
      
    </div>
  </div>


</div>





{% schema %}
  {
    "name": "daily-deal-of-the-day",
	"tag":"section",
    "settings": [

	 {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
 	{
      "type": "image_picker",
      "id": "log_image",
      "label": "Logo image"
    },
	 {
          "type": "text",
          "id": "heading_text",
          "default": "Daily Deal Of The Day",
          "label": "Heading"
     },

	 {
      "type": "range",
      "id": "heading_font_size",
      "min": 16,
      "max": 80,
      "step": 2,
      "unit": "px",
      "label": "Font size",
      "default": 32
    },
	{
      "type": "color",
      "id": "color_top",
      "label": "Header color",
      "default": "#888"
     },
	{
        "type": "header",
        "content": "COUNTDOWN"
     },
	  {
       "type": "text",
       "id": "countdown_time",
       "label": "Data countdown",
       "default": "2021\/12\/01",
       "info": "Please use this exact format:yyyy/mm/dd hour/minute/second.Examle: 2021/12/01 10:00:00."
      },
	 {
      "type": "range",
      "id": "time_font_size",
      "min": 16,
      "max": 80,
      "step": 2,
      "unit": "px",
      "label": "Font size",
      "default": 32
    },
	{
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#f9f9f9"
     },
	{
      "type": "color",
      "id": "background_product_color",
      "label": "Background product color",
      "default": "#FFF"
     }


 	],
	"presets":[
	{
	"name":"daily-deal-of-the-day"
	}
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}




{% javascript %}
{% endjavascript %}


<style>
  
  
  
  .tt1.ls-is-cached.lazyload{
  
     animation:mymove 5s infinite;
     animation-delay: -2s;
  }
  
  @keyframes mymove
{
  0%{transform: scale(0.5);
/*  transition: 0.5s; */
  }
  
  25%{
  transform: scale(0.75);
/*  transition: 0.5s; */
  }
  
  50%{
  
  transform: scale(1);
/*  transition: 0.5s; */
  }
  

}
  
 
    .timebox{
            width: 100%;
            height: 150px;            
            color: white;
            font-size: 30px;
            text-align: center;
            float: left;
            margin: 10px 5px;
            line-height: 150px;
      		
        }
  
  .timebox{
  
  display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  
  }
  
  
  .f1{
    flex:1;
  
  }
  
  .time-div{
  
  position: relative;
    float: left;
    margin-right: 10px;
    background-color: #b1b1b1;
    border-radius: 8px;
  }
  
  .time-div:after{
  
  content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  
  }
  
  
  .white-button{
  
  
  background-color: #f1f1f1;
    color: black;
  
  }

  .contatin{
  width:100%;
  display:flex;
  align-items: center;
  height:390px;  
  overflow:hidden;
  }
  
  
  @media (max-width: 750px) {

}

  .daily-right{
  
  	display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
  
  	
  }
  
  @media screen and (max-width: 750px) {
    
    .felx_box{
    
    
    flex-direction: column;
    }
    
      .contatin {
   flex-direction: column-reverse;
  }
    
    
  .daily-product{
/*   max-height:390px; */
  transform: skew(0deg) !important;
  } 
    
    
  .daily-product-box{
  
  	transform:skew(0deg) !important;
   
  } 
    .timebox{
    
    font-size: inherit;
    }
    .contatin{
    
    height:auto;
    }
    
    
    .daily-right{

       width:100%;


      }
    .product__modal-opener:not(.product__modal-opener--image) {
      
    display: none;
      
 	 }
    
    
     .daily-product{
  
      width:{{ 1 | divided_by: highest_ratio | times: 1000 }}%;

      }
    
    
  }

@media screen and (max-width: 990px) {
  
   
    .felx_box{
    
    
    flex-direction: column;
    }

  
  	    .contatin {
   flex-direction: column-reverse;
  }
    
  	.daily-right{

       width:100%;


      }
  	
  	.product__modal-opener:not(.product__modal-opener--image) {
      
    display: none;
      
 	 }
  
  
  }
  
  .daily-product-box{
  
  	transform: skew(323deg);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  	width:100%;
  
  }
  
  .daily-product{
/*   max-height:390px;
  height:95%;   */
    
  transform: skew(37deg);
  }
  
  .daily-product{
  
  width:{{ 1 | divided_by: highest_ratio | times: 88 }}%;
  
  }
  
  .left,.right{
  flex:1;
  }
  
  .pd{
  
  padding:2rem;
  
  }
  
  .mr_4{
  
  margin-right:4%;
  
  }
  
  
  .left{
  	
    margin-left: 2%;
	text-align:left;
  
  }
  
  .clock1{
  
  text-align:center;
  }
  
  .felx_box{
  
  display:flex;
  }
  
  .clock {
  border: 4px solid #00cc9d;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin: 0px auto;
  display:inline-block !important;
}

.clock::before {
  content: " ";
  background-color: #fd43bb;
  display: block;
  width: 3px;
  height: 40px;
  margin: 50%;
  -webkit-animation: tick 36s linear infinite;
  -moz-animation: tick 36s linear infinite;
  animation: tick 36s linear infinite;
  -webkit-transform-origin: center top;
  -moz-transform-origin: center top;
  transform-origin: center top;
}

.clock::after {
  content: " ";
  background-color: #0088cc;
  display: block;
  width: 3px;
  height: 25px;
  margin: -93% 0 0 50%;
  -webkit-animation: tick 864s linear infinite;
  -moz-animation: tick 864s linear infinite;
  animation: tick 864s linear infinite;
  -webkit-transform-origin: center top;
  -moz-transform-origin: center top;
  transform-origin: center top;
}

@-moz-keyframes tick {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes tick {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
  
</style>



<script>

	
  
	var set_time_box = document.getElementsByClassName('timebox')[0];
  	var set_time_day = set_time_box.getElementsByClassName('day_time')[0];
    var set_time_hour = set_time_box.getElementsByClassName('hour_time')[0];
    var set_time_minutes = set_time_box.getElementsByClassName('minutes_time')[0];
  	var set_time_second = set_time_box.getElementsByClassName('second_time')[0];
  	
  	var endT = set_time_box.dataset.endtime;
  	
  
  	var end_time = new Date(endT); 	
  
 function cctime(){
  
  	var now_time = new Date(); 
    var count_time = parseInt((end_time.getTime() - now_time.getTime())/1000);
    
    if( count_time<=0){
      
      set_time_day.innerHTML = "秒";
      set_time_hour.innerHTML = "杀";
      set_time_minutes.innerHTML = "结";
      set_time_second.innerHTML = "束";
      clearInterval(a);
      
    }else {
     	
      set_time_day.innerHTML = parseInt(count_time/(3600*24))+"天"; 
      set_time_hour.innerHTML = parseInt(count_time/3600%24)+"时";
      set_time_minutes.innerHTML = parseInt(count_time/60%60)+"分";
      set_time_second.innerHTML = parseInt(count_time%60)+"秒";
      
    }
    
    
  
  };
        
        
        
  
  
  var a= setInterval(cctime,1000);
  
</script>




