{%- assign  setting=section.settings-%}
{%- liquid
          assign highest_ratio = 0
      	  assign product = setting.product 
          if product.images[0].aspect_ratio > highest_ratio
            assign highest_ratio = product.images[0].aspect_ratio
          endif          
        -%}

<div class="contatin spaced-section" style="background-color:{{setting.background_color}}; {%- if section.settings.daily_deal_of_the_day_margin_top != blank -%}margin-top: {{ section.settings.daily_deal_of_the_day_margin_top }}px; {%- endif -%}{%- if section.settings.daily_deal_of_the_day_margin_bottom != blank -%}margin-bottom:{{ section.settings.daily_deal_of_the_day_margin_bottom }}px;{%- endif -%}"> 
  <div class="left ">
    <div class="felx_box h_45">
      <div class="f5 felx_box" style=" font: bold {{section.settings.heading_font_size}}px 'Droid Sans', Arial, sans-serif; line-height:{{setting.heading_font_size}}px !important; height:100%;">{{section.settings.heading_text | truncate: 25 ,"" }}</div>
      <div class="timebox f4"    data-endtime="{{setting.countdown_time}}"  >
        <div class="day_time f1 time-div"></div>
        <div class="hour_time f1 time-div"></div>
        <div class="minutes_time f1 time-div"></div>
        <div class="second_time f1  time-div"></div>
      </div>
    </div>

    <div class="h_55">
      <p style="font-weight:600;">{{ product.title }}</p>
      <p>{{product.description}}</p>
      <div style="margin: 1rem 0;">
      {% render 'price', product: product, price_class: '' %}
      </div>
      
      {% if product.available %}
      
        	<product-form class="product-form buy_button_box" >
                {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                  <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                  <div class="product-form__buttons {% if section.settings.main_product_mediasize == 'Small' or section.settings.main_product_mediasize == 'Extra large' %}my_main_product_product_form_button{% endif %}">
           
                    <div class="button my_clear_padding " >

                      {{ form | payment_button }}
             		
                    </div>
                   

                                
                  </div>
                {%- endform -%}
       			 <a class="button white-button font-cap my_daily_deal_of_the_day_button_font_size my_font_weight_default my_clear_padding" style="margin-left:4rem;" href=" {{product.url}}"><button class="button white-button font-cap my_daily_deal_of_the_day_button_font_size my_font_weight_default">Detail</button></a>
             
        
              </product-form>
        {% else %}
      
        <a  href=" {{product.url}}"><button class="button white-button font-cap my_daily_deal_of_the_day_button_font_size my_font_weight_default">Sold Out</button></a>
      {% endif %}
      
      
        
      
      
      
    </div>
  </div>
  <div class="right daily-right">
    <div class="daily-product-box" style="background-color: {{setting.background_product_color}};">
   		 <div class="daily-product  " >
          {%- if product.selected_or_first_available_variant.featured_media != null -%}
            {%- assign media = product.selected_or_first_available_variant.featured_media -%}
            <div class="product__media-item" data-media-id="{{ section.id }}-{{ media.id }}">
              {% render 'product-thumbnail', media: media, position: 'featured', loop: section.settings.enable_video_looping, modal_id: section.id, xr_button: false %}
            </div>
          {%- endif -%}
          {%- liquid
            assign media_to_render = product.featured_media.id
            for variant in product.variants
              assign media_to_render = media_to_render | append: variant.featured_media.id | append: ' '
            endfor
          -%}
           {% comment %}
           
          {%- for media in product.media -%}
            {%- if media_to_render contains media.id and media.id != product.selected_or_first_available_variant.featured_media.id -%}
              <div class="product__media-item" data-media-id="{{ section.id }}-{{ media.id }}  123">
                {% render 'product-thumbnail', media: media, position: forloop.index, loop: section.settings.enable_video_looping, modal_id: section.id, xr_button: false %}
              </div>
            {%- endif -%}
          {%- endfor -%}
           
           {% endcomment %}
          
          <div class=" my_deal_swiper-{{section.id}} swiper" > 
          	<div class=" product__media-item swiper-wrapper ">
    	{%- for media in product.media -%}
              <div class="slider__slide" style="width:100%;">
            {%- liquid
             assign media = product.selected_or_first_available_variant.featured_media 
           
                 render 'product-media',media: media, loop: false, variant_image: true
            -%}
              </div>
         
          {%- endfor -%}
           </div>
<!--              <div class="swiper-button-prev del_featured_product_beautify_prev-{{section.id}}"></div>
            <div class="swiper-button-next del_featured_product_beautify_next-{{section.id}}"></div> -->
            <div class="swiper-button-prev "></div>
            <div class="swiper-button-next "></div>
           <div class="swiper-pagination-{{section.id}}"></div>
     	  </div>
           
        </div>
    </div>
    	
    	
  </div>
</div>

{% schema %}
  {
    "name": "daily-deal-of-the-day",
	"tag":"section",
    "settings": [
      {
        "type": "product",
        "id": "product",
        "label": "Product"
      },
      {
        "type": "image_picker",
        "id": "log_image",
        "label": "Logo image"
      },
      {
        "type": "text",
        "id": "heading_text",
        "default": "Daily Deal Of The Day",
		"info" : "Text limit to display 25 characters",
        "label": "Heading"
      },
      {
        "type": "range",
        "id": "heading_font_size",
        "min": 16,
        "max": 60,
        "step": 2,
        "unit": "px",
        "label": "Font size",
        "default": 32
      },
      {
        "type": "color",
        "id": "color_top",
        "label": "Header color",
        "default": "#888"
      },
      {
        "type": "header",
        "content": "COUNTDOWN"
      },
	  {
        "type": "text",
        "id": "countdown_time",
        "label": "Data countdown",
        "default": "2021\/12\/01",
        "info": "Please use this exact format:yyyy/mm/dd hour/minute/second.Examle: 2021/12/01 10:00:00."
      },
      {
        "type": "range",
        "id": "time_font_size",
        "min": 16,
        "max": 40,
        "step": 2,
        "unit": "px",
        "label": "Font size",
        "default": 32
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background color",
        "default": "#f9f9f9"
      },
      {
        "type": "color",
        "id": "background_product_color",
        "label": "Background product color",
        "default": "#FFF"
      },
     
      {
        "type": "text",
        "id": "daily_deal_of_the_day_margin_top",
        "label": "Margin top",
        "info": "t:sections.margintip.settings.margin_tip.label"
      },
      {
        "type": "text",
        "id": "daily_deal_of_the_day_margin_bottom",
        "label": "Margin bottom",
        "info": "t:sections.margintip.settings.margin_tip.label"
      }
 	],
	"presets":[
      {
        "name":"daily-deal-of-the-day"
      }
	]
  }
{% endschema %}



{{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}




<style>
  .font-cap {
    text-transform: capitalize;
  }

  .tt1.ls-is-cached.lazyload{
    animation: mymove 5s infinite;
    animation-delay: -2s;
  }

  @keyframes mymove
  {
    0%{transform: scale(0.5);
      /*  transition: 0.5s; */
    }

    25%{
      transform: scale(0.75);
      /*  transition: 0.5s; */
    }

    50%{
      transform: scale(1);
      /*  transition: 0.5s; */
    }
  }
/* 
  .my_deal_swiper-{{section.id}}{
  width: 600px;
    height: 300px;
  } */
  	
  .buy_button_box{
  display: flex;  
  align-items: center; 
  padding-bottom:2%;
  }
  
  .timebox{
    width: 100%;
    max-height: 100px;            
    color: white;
    font-size: 30px;
    text-align: center;
    float: left;
    margin: 10px 5px;
    line-height: 150px;
  }

  .timebox{
    display: flex;	
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .f1{
    flex: 1;
  }

  .f5{
    flex: 5;
  }

  .f4{
    flex: 4;
  }

  .time-div{
    position: relative;
   
    
    font: bold {{section.settings.time_font_size}}px 'Droid Sans', Arial, sans-serif;
    text-align: center;
    color: #111;
    background-color: #b1b1b1;
    background-image: -webkit-linear-gradient(top, #bbb, #eee);
    background-image: -moz-linear-gradient(top, #bbb, #eee);
    background-image: -ms-linear-gradient(top, #bbb, #eee);
    background-image: -o-linear-gradient(top, #bbb, #eee);
    border-top: 1px solid #fff;
    border-radius: 0.3rem;
    box-shadow: 0px 0px 1.2rem rgb(0 0 0 / 70%);
    margin: 0 0.7rem;
    padding: 1rem 0.1rem;
    display: inline-block;
    
    
  }

  .time-div:after{
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .white-button{
    background-color: #f1f1f1;
    color: black;
  }

  .contatin{
    width: 100%;
    display: flex;
    align-items: center;
    height: 390px;  
    overflow: hidden;
  }

  .my_daily_deal_of_the_day_button_font_size {
    font-size: 13px;
  }
  
  
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-button-prev.featured_product_beautify_prev:after,
  .swiper-button-next.featured_product_beautify_next:after {
    color: #000;
    width: 10px;
    height: 20px;
    font-size: 20px;
  }

  .swiper-button-next.featured_product_beautify_next {
    right: -5px;
  }

  .swiper-button-prev.featured_product_beautify_prev {
    left: -5px;
  }
  
  .swiper-button-prev.featured_product_beautify_prev.swiper-button-disabled:empty,
  .swiper-button-next.featured_product_beautify_next.swiper-button-disabled:empty,
  .swiper-button-prev.featured_product_beautify_prev:empty,
  .swiper-button-next.featured_product_beautify_next:empty {
    display: flex;
  }
  
  
  
  
  
  
      
.del_featured_product_beautify_prev-{{section.id}},
    .del_featured_product_beautify_next-{{section.id}} {
        position: absolute;
        top: 50%;
        width: calc(var(--swiper-navigation-size)/ 44 * 27);
        height: var(--swiper-navigation-size);
        margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
        z-index: 10;
        cursor: pointer;
        display: flex !important;
        align-items: center;
        justify-content: center;
        color: var(--swiper-navigation-color, var(--swiper-theme-color))
    }

    .swiper-button-next-{{section.id}}.swiper-button-disabled,
    .swiper-button-prev-{{section.id}}.swiper-button-disabled {
        opacity: .35;
        cursor: auto;
        pointer-events: none
    }

    .swiper-button-next-{{section.id}}:after,
    .swiper-button-prev-{{section.id}}:after {
        font-family: swiper-icons;
        font-size: var(--swiper-navigation-size);
        text-transform: none !important;
        letter-spacing: 0;
        text-transform: none;
        font-variant: initial;
        line-height: 1
    }



  @media (max-width: 750px) {
    .contatin{
      width: 100%;
      display: flex;
      align-items: center;
      height: 100%;  
      overflow: hidden;
    }
  }

  .daily-right{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
  }

  .daily-product-box{
    transform: skew(323deg);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  .daily-product{
    /*   max-height:390px;
    height:95%;   */
    transform: skew(37deg);
  }

  .daily-product{
    width: {{ 1 | divided_by: highest_ratio | times: 88 }}%;
  }

  .left,.right{
    height: 100%;
    flex: 1;
  }

  .h_55{
    height: 55%;
  }
  
  .h_45{
    height: 45%;
  }

  .pd_2{
    margin: 2rem;
  }

  .mr_4{
    margin-right: 4%;
  }

  .left{
    padding-left: 2%;
    text-align: left;
/*     padding-bottom: 20px; */
    display:flex;
    flex-direction: column;
  }

  .clock1{
    text-align: center;
  }

  .felx_box{
    display: flex;
    align-items: center;  
  }

  .clock {
    border: 4px solid #00cc9d;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: 0px auto;
    display: inline-block !important;
  }

  .clock::before {
    content: " ";
    background-color: #fd43bb;
    display: block;
    width: 3px;
    height: 40px;
    margin: 50%;
    -webkit-animation: tick 36s linear infinite;
    -moz-animation: tick 36s linear infinite;
    animation: tick 36s linear infinite;
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    transform-origin: center top;
  }

  .clock::after {
    content: " ";
    background-color: #0088cc;
    display: block;
    width: 3px;
    height: 25px;
    margin: -93% 0 0 50%;
    -webkit-animation: tick 864s linear infinite;
    -moz-animation: tick 864s linear infinite;
    animation: tick 864s linear infinite;
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    transform-origin: center top;
  }

  @-moz-keyframes tick {
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @-webkit-keyframes tick {
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  .daily-product :after {
/*     content: ''; */
    position: absolute;
/*     position: fixed; */
    width: 100%;
    height: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
/*     background-image: url({{ section.settings.log_image | img_url :'x400'}}); */
    background-size: 100%;
  }
  
  @media screen and (max-width: 990px) {
    .daily-product :after {
/*       content: ''; */
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 999;
/*       background-image: url({{ section.settings.log_image | img_url :'x400'}}); */
      background-size: 100%;
      background-repeat: no-repeat;
      position: fixed;
      width: 100%;
      height: auto;
    }
  }

  @media screen and (max-width: 750px) {
    .felx_box{
      flex-direction: column;
    }

    .contatin {
      flex-direction: column-reverse;
    }

    .daily-product{
      transform: skew(0deg) !important;
    } 

    .daily-product-box{
      transform: skew(0deg) !important;
    } 
    
    .timebox{
      font-size: inherit;
    }
    
    .contatin{
      height: auto;
    }

    .daily-right{
      width: 100%;
    }
   
    .product__modal-opener:not(.product__modal-opener--image) {
      display: none;
    }

    .daily-product{
      width: {{ 1 | divided_by: highest_ratio | times: 120 }}%;
    }
    
    .left{
      width: 100%;
      margin-left: 0%;
      text-align: left;
    }
  }

  @media screen and (max-width: 990px) {
    .timebox{
      font-size: inherit;
    }
    
    .contatin{
      height: auto;
    }

    .felx_box{
      flex-direction: column;
    }

    .contatin {
      flex-direction: column-reverse;
    }

    .daily-right{
      width:100%;
    }

    .product__modal-opener:not(.product__modal-opener--image) {
      display: none;
    }
    
    .daily-product{
/*       width:{{ 1 | divided_by: highest_ratio | times: 120 }}%; */
      width: 100%;
    }
    
    .left{
      width: 100%;
      margin-left: 0%;
      text-align: left;
    }
  }  
</style>



<script type="module">
  import Swiper from '{{ 'swiper-bundle.esm.browser.min.js' | asset_url }}'

  
  const deal_swiper123 = new Swiper('.my_deal_swiper-{{section.id}}', {
  	  direction: 'horizontal', // 垂直切换选项  horizontal  vertical
    //  slidesPerView: 4,
      loop: true,
    //  spaceBetween: 10,
    
   // 如果需要分页器
      pagination: {
        el: '.swiper-pagination-{{section.id}}',
      },
      
      navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
      },

  });
    
  
  console.log('看看我出错没+',deal_swiper123);
    
  
  
    const timedeal =  function abc(){
	var set_time_box = document.getElementsByClassName('timebox')[0];
  	var set_time_day = set_time_box.getElementsByClassName('day_time')[0];
    var set_time_hour = set_time_box.getElementsByClassName('hour_time')[0];
    var set_time_minutes = set_time_box.getElementsByClassName('minutes_time')[0];
  	var set_time_second = set_time_box.getElementsByClassName('second_time')[0];
  	
  	var endT = set_time_box.dataset.endtime;

  	var end_time = new Date(endT); 	
  
  function cctime(){
    var now_time = new Date(); 
    var count_time = parseInt((end_time.getTime() - now_time.getTime())/1000);

    if( count_time<=0){
      set_time_day.innerHTML = "Daily";
      set_time_hour.innerHTML = "Deal";
      set_time_minutes.innerHTML = "Time";
      set_time_second.innerHTML = "Up";
      clearInterval(a);
    }else {
      set_time_day.innerHTML = parseInt(count_time/(3600*24))+"<span>Day</span>"; 
      set_time_hour.innerHTML = parseInt(count_time/3600%24)+"<span>H</span>";
      set_time_minutes.innerHTML = parseInt(count_time/60%60)+"<span>Min</span>";
      set_time_second.innerHTML = parseInt(count_time%60)+"<span>S</span>";
    }
  };
  var a = setInterval(cctime,1000);
  
  
  }
  
  var timebb = new timedeal();
  
  
   var designMode = Shopify.designMode || false;
   if(designMode){
   
//    console.log('进入后台了');
   document.addEventListener('shopify:section:load',()=>{  
    console.log('这是渲染完的');
	 timebb = new timedeal();
	},true);
  
    document.addEventListener('shopify:section:unload',()=>{  
	console.log('正在重新渲染');
    timebb = null;
	},true);

 
 
 }
  
  
  
</script>

