<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-card.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-article-card.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-featured-blog.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-card.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-article-card.css' | asset_url | stylesheet_tag }}</noscript>

{{ 'section-featured-blog.css' | asset_url | stylesheet_tag }}
{{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}

<style>
  .slider-mobile-gutter .my_featured_blog_ul {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }

  .my_featured_blog_ul .blog__post.grid__item.article.slider__slide {
    padding: 0 0 3rem;
  }

  .my_featured_blog_title {
    align-items: center;
    gap: 0;
  }

  .my_article_card_beautify_background {
    background: transparent;
  }

  .my_featured_blog_title_font_size {
    font-size: 28px;
  }

  @media screen and (min-width: 990px) {
    .blog__posts.my_featured_blog_ul.my_featured_blog_ul_margin_right {
      margin-right: -3rem;
    }
  }

  @media screen and (max-width: 990px) {
    .slider-mobile-gutter .my_featured_blog_ul {
      margin-left: 0;
      margin-right: -1.5rem;
    }

    .my_featured_blog_ul .blog__post.grid__item.article.slider__slide {
      padding: 0 0 1.5rem;
    }
  } 
</style>
<div class="spaced-section{% if section.settings.featured_blog_bk_color %} background-secondary{% endif %}{% if section.settings.heading == blank %} no-heading{% endif %}"  style="{%- if section.settings.featured_blog_margin_top != blank -%}margin-top: {{ section.settings.featured_blog_margin_top }}px; {%- endif -%}{%- if section.settings.featured_blog_margin_bottom != blank -%}margin-bottom:{{ section.settings.featured_blog_margin_bottom }}px;{%- endif -%}
 {%-if section.settings.color_scheme =="featured_blog_bk_color"-%} background-color:{{section.settings.featured_blog_bk_color}}{%-else-%} background-color:{{settings.color_page_background}}{%-endif-%}">
  <div class="page-width">
    <div class="title-wrapper-with-link{% if section.settings.heading == blank %} title-wrapper-with-link--no-heading{% endif %} title-wrapper--self-padded-tablet-down my_featured_blog_title my_clear_margin my_section_margin_default">
      <h2 class="blog__title my_font_weight_default my_between_title_and_text_margin my_font_size_heading_default">{{ section.settings.heading | escape }}</h2>
      <p class="my_font_size_content_default my_clear_margin" style="color:var(--font-sub-text-color);"> {{section.settings.head_text |escape }}</p>

      {%- if section.settings.blog != blank and section.settings.show_view_all and section.settings.post_limit < section.settings.blog.articles_count -%}
      <a href="{{ section.settings.blog.url }}"
         class="link underlined-link large-up-hide">
        {{ 'sections.featured_blog.view_all' | t }}
      </a>
      {%- endif -%}
    </div>
  </div>
  {%- liquid
      if section.settings.post_limit <= section.settings.blog.articles_count
        assign posts_exceed_limit = true
      endif
    -%}
  {%- if section.settings.blog != blank and section.settings.blog.articles_count > 0 -%}

  {%- liquid
     if section.settings.show_view_all  and section.settings.post_limit <= section.settings.blog.articles_count
     	assign blog_number =   section.settings.post_limit 
     elsif section.settings.show_view_all =='false' and section.settings.post_limit <= section.settings.blog.articles_count
     	assign blog_number = section.settings.blog.post_limit
     else assign blog_number = section.settings.blog.articles_count
     endif    -%}    
  <div class="page-width">
    <ul id="Slider-{{ section.id }}"
        class="blog__posts articles-wrapper grid grid--peek grid--2-col-tablet grid--3-col-desktop{% if posts_exceed_limit %} 1 blog__posts--{{ section.settings.post_limit }}-items{% else %} 2 blog__posts--{{ section.settings.blog.articles_count }}-items{% endif %} my_featured_blog_ul {% if section.settings.blog.articles_count < 3 %} my_featured_blog_ul_margin_right {% endif %}"
        role="list"
        >
      {% render 'swiper-blog-post', section:section %}
    </ul>
  </div>

  {%- if section.settings.show_view_all  -%}
  {%- if section.settings.post_limit < section.settings.blog.articles_count -%}
  <div class="blog__view-all center small-hide medium-hide  my_blog_viewAll">
    <a href="{{ section.settings.blog.url }}" class="blog__button button my_font_weight_default my_button_font_size_default my_button_text">
      {{ 'sections.featured_blog.view_all' | t }}
    </a>
  </div>
  {%- endif -%}
  {%- endif -%}
  {%- else -%}
  <div class="blog-placeholder">
    <div class="placeholder media media--landscape">
      {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder-svg-blog-post' }}
    </div>
    <div class="blog-placeholder__content">
      <h2>
        {{ 'sections.featured_blog.onboarding_title' | t }}
      </h2>
      <p class="rte-width">
        {{ 'sections.featured_blog.onboarding_content' | t }}
      </p>
    </div>
  </div>
  {%- endif -%}
</div>
{% schema %}
{
  "name": "t:sections.featured-blog.name",
  "tag": "section",
  "class": "spaced-section--full-width",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Blog posts",
      "label": "t:sections.featured-blog.settings.heading.label"
    },
	{
	"type":"textarea",
	"id":"head_text",
	"default":"The most exciting news",
	"label":"Sub text"
	},
    {
      "type": "blog",
      "id": "blog",
      "label": "t:sections.featured-blog.settings.blog.label"
    },
    {
      "type": "range",
      "id": "post_limit",
      "min": 3,
      "max": 9,
      "step": 1,
      "default": 3,
      "label": "t:sections.featured-blog.settings.post_limit.label"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_image.label",
      "info": "t:sections.featured-blog.settings.show_image.info"
    },
	 {
      "type": "checkbox",
      "id": "show_title",
      "default": true,
      "label": "Show post title"
    },
	 {
      "type": "checkbox",
      "id": "show_short_content",
      "default": true,
      "label": "Show short content"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "t:sections.featured-blog.settings.show_author.label"
    },
	{
      "type": "color",
      "id": "featured_blog_bk_color",
      "label": "Background",
      "default": "#1eec5e"
     },
	{
      "type": "select",
       "id": "color_scheme",
       "options": [
        {
         "value": "gradient",
         "label": "Global-page background" 
        },
        {
        "value": "featured_blog_bk_color",
       "label": "Featured-blog background"
        }
        ],
      "default": "gradient",
       "label": "Background options"
     },   
   
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_view_all.label"
    },
    {
      "type": "text",
      "id": "featured_blog_margin_top",
      "label": "Margin top",
	  "info": "t:sections.margintip.settings.margin_top_tip.label"
    },
    {
      "type": "text",
      "id": "featured_blog_margin_bottom",
      "label": "Margin bottom",
	  "info": "t:sections.margintip.settings.margin_bottom_tip.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-blog.presets.name",
      "settings": {
        "blog": "News"
      }
    }
  ]
}
{% endschema %}
