<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-card.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-article-card.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-featured-blog.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-card.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-article-card.css' | asset_url | stylesheet_tag }}</noscript>

{{ 'section-featured-blog.css' | asset_url | stylesheet_tag }}

<style>
  .slider-mobile-gutter .my_featured_blog_ul {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
  
  .my_featured_blog_ul .blog__post.grid__item.article.slider__slide {
    padding: 0 1.5rem 3rem;
  }
  
  .my_featured_blog_title {
    align-items: center;
    gap: 0;
  }
  
  .my_article_card_beautify_background {
    background: transparent;
  }
  
  .my_featured_blog_title_font_size {
    font-size: 28px;
  }
  
  @media screen and (max-width: 990px) {
    .slider-mobile-gutter .my_featured_blog_ul {
      margin-left: 0;
      margin-right: -1.5rem;
    }
    
    .my_featured_blog_ul .blog__post.grid__item.article.slider__slide {
      padding: 0 0.75rem 1.5rem;
    }
  } 
  
/*   @media screen and (max-width: 750px) {
    .slider-mobile-gutter .my_featured_blog_ul {
      margin-left: -1rem;
      margin-right: -1.5rem;
    }
    .my_featured_blog_ul .blog__post.grid__item.article.slider__slide:first-child {
      padding-left: 25px;
    }
  } 
  
  .my_featured_blog_clear_margin {
    margin: 0 0 !important;
  } */
</style>

<div class="blog spaced-section{% if section.settings.soft_background %} background-secondary{% endif %}{% if section.settings.heading == blank %} no-heading{% endif %}"  style="{%- if section.settings.featured_blog_margin_top != blank -%}margin-top: {{ section.settings.featured_blog_margin_top }}px; {%- endif -%}{%- if section.settings.featured_blog_margin_bottom != blank -%}margin-bottom:{{ section.settings.featured_blog_margin_bottom }}px;{%- endif -%}">
  <div class="page-width-desktop">
    <div class="title-wrapper-with-link{% if section.settings.heading == blank %} title-wrapper-with-link--no-heading{% endif %} title-wrapper--self-padded-tablet-down my_featured_blog_title my_clear_margin my_section_margin_default">
      <h2 class="blog__title my_font_weight_default my_between_title_and_text_margin my_font_size_heading_default">{{ section.settings.heading | escape }}</h2>
      <p class="my_clear_margin"> {{section.settings.head_text |escape }}</p>

      {%- if section.settings.blog != blank and section.settings.show_view_all and section.settings.post_limit < section.settings.blog.articles_count -%}
        <a href="{{ section.settings.blog.url }}"
          class="link underlined-link large-up-hide"
        >
          {{ 'sections.featured_blog.view_all' | t }}
        </a>
      {%- endif -%}
    </div>
    {%- liquid
      if section.settings.post_limit <= section.settings.blog.articles_count
        assign posts_exceed_limit = true
      endif
    -%}
    {%- if section.settings.blog != blank and section.settings.blog.articles_count > 0 -%}
    
    {%- liquid
     if section.settings.show_view_all  
     	assign blog_number = 3  
     else assign blog_number = section.settings.blog.articles limit: section.settings.post_limit 
     endif   
    -%}    
    
      <slider-component class="slider-mobile-gutter">
        <ul id="Slider-{{ section.id }}"
          class="blog__posts articles-wrapper grid grid--peek grid--2-col-tablet grid--3-col-desktop slider slider--tablet{% if posts_exceed_limit %} 1 blog__posts--{{ section.settings.post_limit }}-items{% else %} 2 blog__posts--{{ section.settings.blog.articles_count }}-items{% endif %} my_featured_blog_ul"
          role="list"
        >
          
          {%- case section.settings.show_view_all -%}
          {%- when true -%}
          
          {%- for article in section.settings.blog.articles limit: 3 -%}
            <li class="blog__post grid__item article slider__slide slider__slide--full-width 1">
              {% render 'article-card-beautify', blog: section.settings.blog, article: article, show_image: section.settings.show_image, show_title: section.settings.show_title,show_short_content: section.settings.show_short_content,show_date: section.settings.show_date, show_author: section.settings.show_author %}
            </li>
          {%- endfor -%}
          
          {%- when false -%}
          
          
          {%- for article in section.settings.blog.articles limit: section.settings.post_limit -%}
            <li class="blog__post grid__item article slider__slide slider__slide--full-width 2">
              {% render 'article-card-beautify', blog: section.settings.blog, article: article, show_image: section.settings.show_image, show_title: section.settings.show_title,show_short_content: section.settings.show_short_content,show_date: section.settings.show_date, show_author: section.settings.show_author %}
            </li>
          {%- endfor -%}
          
          {%- endcase -%}
          
        </ul>
        {%- if posts_exceed_limit -%}
          <div class="slider-buttons no-js-hidden{% if section.settings.post_limit < 3 %} medium-hide{% endif %}{% if section.settings.post_limit < 2 %} small-hide{% endif %}">
            <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'accessibility.previous_slide' | t }}">{% render 'icon-caret' %}</button>
            <div class="slider-counter caption">
              <span class="slider-counter--current">1</span>
              <span aria-hidden="true"> / </span>
              <span class="visually-hidden">{{ 'accessibility.of' | t }}</span>
              <span class="slider-counter--total">2</span>
            </div>
            <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'accessibility.next_slide' | t }}">{% render 'icon-caret' %}</button>
          </div>
        {%- endif -%}
      </slider-component>

      {%- if section.settings.show_view_all  -%}
    	{%- if section.settings.post_limit >3 -%}
        <div class="blog__view-all center small-hide medium-hide">
          <a href="{{ section.settings.blog.url }}" class="blog__button button my_font_weight_default">
            {{ 'sections.featured_blog.view_all' | t }}
          </a>
        </div>
    	{%- endif -%}
      {%- endif -%}
    {%- else -%}
      <div class="blog-placeholder">
        <div class="placeholder media media--landscape">
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
        <div class="blog-placeholder__content">
          <h2>
            {{ 'sections.featured_blog.onboarding_title' | t }}
          </h2>
          <p class="rte-width">
            {{ 'sections.featured_blog.onboarding_content' | t }}
          </p>
        </div>
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.featured-blog.name",
  "tag": "section",
  "class": "spaced-section--full-width",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Blog posts",
      "label": "t:sections.featured-blog.settings.heading.label"
    },
	{
	"type":"textarea",
	"id":"head_text",
	"default":"The most exciting news",
	"label":"Sub text"
	},
    {
      "type": "blog",
      "id": "blog",
      "label": "t:sections.featured-blog.settings.blog.label"
    },
    {
      "type": "range",
      "id": "post_limit",
      "min": 3,
      "max": 9,
      "step": 1,
      "default": 3,
      "label": "t:sections.featured-blog.settings.post_limit.label"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_image.label",
      "info": "t:sections.featured-blog.settings.show_image.info"
    },
	 {
      "type": "checkbox",
      "id": "show_title",
      "default": true,
      "label": "Show post title"
    },
	 {
      "type": "checkbox",
      "id": "show_short_content",
      "default": true,
      "label": "Show short content"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "t:sections.featured-blog.settings.show_author.label"
    },
    {
      "type": "checkbox",
      "id": "soft_background",
      "default": false,
      "label": "t:sections.featured-blog.settings.soft_background.label"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_view_all.label"
    },
    {
      "type": "text",
      "id": "featured_blog_margin_top",
      "label": "Margin top",
	  "info": "t:sections.margintip.settings.margin_tip.label"
    },
    {
      "type": "text",
      "id": "featured_blog_margin_bottom",
      "label": "Margin bottom",
	  "info": "t:sections.margintip.settings.margin_tip.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-blog.presets.name",
      "settings": {
        "blog": "News"
      }
    }
  ]
}
{% endschema %}
