{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-product-grid.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'template-collection.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'template-collection.css' | asset_url | stylesheet_tag }}</noscript>

{%- liquid
  assign products_to_display = section.settings.collection.all_products_count

  if section.settings.collection.all_products_count > section.settings.products_to_show
    assign products_to_display = section.settings.products_to_show
    assign more_in_collection = true
  endif
-%}

<div class="collection page-width spaced-section{% if section.settings.swipe_on_mobile == true and section.settings.collection.all_products_count > 2 and section.settings.products_to_show > 2 %} page-width-desktop{% endif %}" style="{%- if section.settings.featured_colection_margin_top != blank -%}margin-top: {{ section.settings.featured_colection_margin_top }}px; {%- endif -%}{%- if section.settings.featured_colection_margin_bottom != blank -%}margin-bottom:{{ section.settings.featured_colection_margin_bottom }}px;{%- endif -%}">
  <div class="title-wrapper-with-link{% if section.settings.title == blank %} title-wrapper-with-link--no-heading{% endif %}{% if section.settings.collection.all_products_count > 2 and section.settings.swipe_on_mobile and section.settings.products_to_show > 2 %} title-wrapper--self-padded-tablet-down{% endif %} my_clear_margin my_featured_collection_title my_section_margin_default my_featured_collection_mobile_align">
    <h2 class="title text-center{% if section.settings.title == blank %} title--no-heading{% endif %} my_font_weight_default my_between_title_and_text_margin my_font_size_heading_default">{{ section.settings.title | escape }}</h2>
    <p class="text-center my_font_size_content_default my_clear_margin"> {{ section.settings.sub_title | escape }} </p>
    {%- if section.settings.show_view_all and section.settings.swipe_on_mobile and more_in_collection -%}
      <a href="{{ section.settings.collection.url }}" class="link underlined-link large-up-hide">{{ 'sections.featured_collection.view_all' | t }}</a>
    {%- endif -%}
  </div>

  <slider-component class="slider-mobile-gutter">
    {% case section.settings.grid %}
    {% when 1 %}
      {%- assign grid_item_width = 'small--one-whole' -%}
      {%- assign grid_item_style = 'grid__item__featured '-%}
    {% when 2 %}
      {%- assign grid_item_width = 'medium-up--one-half' -%}
      {%- assign grid_item_style = 'grid__item__featyred__beautify '-%}
    {% when 3 %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}
      {%- assign grid_item_style = 'grid__item__featyred__beautify '-%}
    {% when 4 %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-quarter' -%}
      {%- assign grid_item_style = 'grid__item__featyred__beautify '-%}
    {% when 5 %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-fifth' -%}
      {%- assign grid_item_style = 'grid__item__featyred__beautify '-%}
  	{% when 6 %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-sixth' -%}
      {%- assign grid_item_style = 'grid__item__featyred__beautify '-%}
    {% endcase %}
    
    <ul class="grid grid--2-col   product-grid{% if products_to_display == 4 or section.settings.collection == blank %} grid--2-col-tablet grid--4-col-desktop{% else %} grid--3-col-tablet{% endif %}{% if products_to_display > 5 %} grid--one-third-max grid--4-col-desktop grid--quarter-max{% endif %}{% if section.settings.collection.all_products_count > 2 and section.settings.swipe_on_mobile and section.settings.products_to_show > 2 %} slider slider--tablet grid--peek{% endif %}{% if section.settings.show_view_all == false or section.settings.collection.products.size < section.settings.products_to_show %} negative-margin{% endif %}{% if section.settings.show_view_all and section.settings.collection.products.size > section.settings.products_to_show %} negative-margin--small{% endif %}  " role="list">
      {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
        <li class=" {{ grid_item_style }} {{ grid_item_width }}    {% if section.settings.collection.all_products_count > 2 and section.settings.swipe_on_mobile and section.settings.products_to_show > 2 %} slider__slide{% endif %}">
          {% render 'product-card-beautify',
            use_eq_height:section.settings.use_eq_height,
          	section:section,
            product_card_product: product,
            media_size: section.settings.image_ratio,
            show_secondary_image: section.settings.show_secondary_image,
            add_image_padding: section.settings.add_image_padding,
            show_vendor: section.settings.show_vendor,
            show_image_outline: section.settings.show_image_outline,
            show_rating: section.settings.show_rating
          %}
        </li>
      {%- else -%}
        {%- for i in (1..4) -%}
          <li class="grid__item">
            {% render 'product-card-placeholder' %}
          </li>
        {%- endfor -%}
      {%- endfor -%}
    </ul>
    {%- if section.settings.collection.all_products_count > 2 and section.settings.swipe_on_mobile and section.settings.products_to_show > 2 -%}
      <div class="slider-buttons no-js-hidden{% if section.settings.collection.all_products_count < 4 %} medium-hide{% endif %}{% if section.settings.collection.all_products_count < 3 %} small-hide{% endif %}">
        <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'accessibility.previous_slide' | t }}">{% render 'icon-caret' %}</button>
        <div class="slider-counter caption">
          <span class="slider-counter--current">1</span>
          <span aria-hidden="true"> / </span>
          <span class="visually-hidden">{{ 'accessibility.of' | t }}</span>
          <span class="slider-counter--total">{{ products_to_display }}</span>
        </div>
        <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'accessibility.next_slide' | t }}">{% render 'icon-caret' %}</button>
      </div>
    {%- endif -%}
  </slider-component>
  
    {%- if section.settings.show_view_all and more_in_collection -%}
      <div class="center{% if section.settings.swipe_on_mobile %} small-hide medium-hide{% endif %}">
        <a href="{{ section.settings.collection.url }}"
          class="button"
          aria-label="{{ 'sections.featured_collection.view_all_label' | t: collection_name: section.settings.collection.title }}">
          {{ 'sections.featured_collection.view_all' | t }}
        </a>
      </div>
    {%- endif -%}
</div>

<style>
  .slider-mobile-gutterL:after{
    clear: both;
    content: "";
    width: 0;
    height: 0;
    display: block;
    visibility: hidden; 
  }

  .collection.page-width:after{
    clear: both;
    content: "";
    width: 0;
    height: 0;
    display: block;
    visibility: hidden;
  }

  .grid__item__featyred__beautify {
    padding: 0 1.5rem 0 1.5rem;
    max-width: 50%;
    flex-grow: 1;
    flex-shrink: 0;
  }

  .grid__item__featyred__beautify {
    max-width: 50%;
    flex-grow: 1;
    flex-shrink: 0;
  }
  
  .my_featured_collection_title {
    gap: 0;
  }

  @media screen and (max-width: 750px) {
    .grid__item__featyred__beautify {
      width:100%;
      max-width: 50%;
      flex-grow: 1;
      flex-shrink: 0;
    }
  }
  
  @media screen and (max-width: 990px) {
    .my_featured_collection_mobile_align {
      align-items: center;
    }
  }
</style>


{% schema %}
{
  "name": "t:sections.featured-collection.name",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "TRENDING",
      "label": "t:sections.featured-collection.settings.title.label"
    },
	{
      "type": "textarea",
      "id": "sub_title",
      "default": "Popular this week",
      "label": "Sub text"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured-collection.settings.collection.label"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 24,
      "step": 2,
      "default": 4,
      "label": "t:sections.featured-collection.settings.products_to_show.label"
    },
	{
      "type": "range",
      "id": "grid",
      "label": {
 
        "en": "Collections per row"
      },
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 3
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": true,
      "label": "t:sections.featured-collection.settings.show_view_all.label"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "t:sections.featured-collection.settings.swipe_on_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.featured-collection.settings.header.content"
    },
    {
      "type": "checkbox",
      "id": "use_eq_height",
      "label": "Use equal height images?",
      "default": false
    },
    {
      "type": "select",
      "id": "image_ratio1",
      "label": "Aspect Ratio",
      "default": "ratio_nt",
      "info": "Aspect Ratio Custom will settings in General panel.",
      "options": [
        {
          "group": "Landscape",
          "value": "ratio2_1",
          "label": "2:1"
        },
        {
          "group": "Landscape",
          "value": "ratio16_9",
          "label": "16:9"
        },
        {
          "group": "Landscape",
          "value": "ratio8_5",
          "label": "8:5"
        },
        {
          "group": "Landscape",
          "value": "ratio3_2",
          "label": "3:2"
        },
        {
          "group": "Landscape",
          "value": "ratio4_3",
          "label": "4:3"
        },
        {
          "group": "Landscape",
          "value": "ratio_nt",
          "label": "Ratio ASOS"
        },
        {
          "group": "Squared",
          "value": "ratio1_1",
          "label": "1:1"
        },
        {
          "group": "Portrait",
          "value": "ratio2_3",
          "label": "2:3"
        },
        {
          "group": "Portrait",
          "value": "ratio1_2",
          "label": "1:2"
        },
        {
          "group": "Custom",
          "value": "ratio_cus1",
          "label": "Ratio Custom 1"
        },
        {
          "group": "Custom",
          "value": "ratio_cus2",
          "label": "Ratio Custom 2"
        },
        {
          "group": "Custom",
          "value": "ratio_cus3",
          "label": "Ratio Custom 3"
        },
        {
          "group": "Custom",
          "value": "ratio_cus4",
          "label": "Ratio Custom 4"
        }
      ]
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.featured-collection.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.featured-collection.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.featured-collection.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.featured-collection.settings.image_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "add_image_padding",
      "default": false,
      "label": "t:sections.featured-collection.settings.add_image_padding.label"
    },
    {
      "type": "checkbox",
      "id": "show_image_outline",
      "default": true,
      "label": "t:sections.featured-collection.settings.show_image_outline.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_rating.label",
      "info": "t:sections.featured-collection.settings.show_rating.info"
    },
    {
      "type": "text",
      "id": "featured_colection_margin_top",
      "label": "Margin top",
	  "info": "t:sections.margintip.settings.margin_tip.label"
    },
    {
      "type": "text",
      "id": "featured_colection_margin_bottom",
      "label": "Margin bottom",
	  "info": "t:sections.margintip.settings.margin_tip.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-collection.presets.name",
	
	  "category": {

        "en": "Collection"
      }

    }
  ]
}
{% endschema %}
