{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-newsletter.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-payment.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-social.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'disclosure.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-social.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'disclosure.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
.my_footer_bottom_color { background: {{ section.settings.background_color }}; }
.copyright__content { color: {{ section.settings.text_color }}; }
.copyright__content a { color: {{ section.settings.link_color }}; text-decoration: none; cursor: pointer; transition: all .3s; } 
.copyright__content a:hover { color: {{ section.settings.link_hover_color }}; text-decoration: none; }
{%- endstyle -%}

<style>
  .my_footer_copyright {
  	margin-top: 0;
    text-align: left;
    margin-bottom: auto;
    text-align: left;
  }
  
  .my_footer_svg {
  	text-align: right;
  }
  
  .my_footer_bottom_padding {
  	padding: 20px 0 16px;
  }
  
  .my_footer_bottom_flex {
  	flex-direction: row;
    justify-content: space-between;
    padding: 0 0;
  }
  
  .my_footer_bottom_item_flex {
  	flex: 0 0 50%;
    max-width: 50%;
  }
  
  .my_footer_bottom_layout_center {
  	flex-wrap: wrap;
  }
  
  .my_footer_bottom_item_centered {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
  }
  
  .my_footer_bottom_item_centered_padding {
    padding-bottom: 20px;
  }
  
  .my_footer_bottom_copyright_font_size {
    font-size: 14px;
  }
  
  @media screen and (max-width: 990px) {
    .my_footer_bottom_layout_nocenter {
      flex-wrap: wrap;
    }
    
    .my_footer_bottom_item_nocentered {
      flex: 0 0 100%;
      max-width: 100%;
      text-align: center;
    }
    
    .my_footer_bottom_item_nocentered_padding {
      padding-bottom: 20px;
    }
    
    .my_footer_bottom_padding {
      padding: 20px 0;
    }
  }
</style>

<footer class="footer color-{{ section.settings.color_scheme }} gradient my_footer_bottom_color">
  <div class="footer__content-bottom my_footer_bottom_padding">
    <div class="footer__content-bottom-wrapper page-width">
      {%- if section.settings.copyrights_layouts != 'centered' -%}
      <div class="footer__column footer__column--info my_footer_bottom_flex my_footer_bottom_layout_nocenter"> 
        <div class="footer__copyright caption my_footer_copyright my_footer_bottom_item_flex my_footer_bottom_item_nocentered my_footer_bottom_item_nocentered_padding">
          {%- for block in section.blocks -%}
          <small class="copyright__content my_footer_bottom_copyright_font_size">{{ block.settings.copyrights_text }}</small>
          {%- endfor -%}
        </div>
        <div class="my_footer_bottom_item_flex my_footer_svg my_footer_bottom_item_nocentered"> 
          {%- for block in section.blocks -%}
            {%- assign image = block.settings.trust_image -%}
            {%- if block.settings.source_img == 'Image' and image -%}
              <div class="dib"><img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{image | img_url:'master'}}" alt="{{image.alt}}"></div>
            {%- elsif block.settings.source_img == 'SVG' and block.settings.svg_list -%}
            {%- assign arr = block.settings.svg_list | remove: ' ' | split: "," -%}
            <style>.bot_footer_svg img {padding: 2.5px;height: {{ block.settings.svg_height }}px;}</style>
            <div class="dib bot_footer_svg">{%- for img in arr -%}<img class="lazyload" src="https://cdn.shopify.com/s/assets/payment_icons/generic-dfdcaf09b6731ca14dd7441354c0ad8bc934184eb15ae1fda6a6b9e307675485.svg" data-src="{{ img | payment_type_img_url }}" alt="{{img | replace:'_',' '}}" />{%- endfor -%}</div>
            {%- endif -%}
          {%- endfor -%}
        </div>
      </div>
      {%- else -%}
      <div class="footer__column footer__column--info my_footer_bottom_flex my_footer_bottom_layout_center"> 
        <div class="footer__copyright caption my_footer_copyright my_footer_bottom_item_flex my_footer_bottom_item_centered my_footer_bottom_item_centered_padding">
          {%- for block in section.blocks -%}
          <small class="copyright__content my_footer_bottom_copyright_font_size">{{ block.settings.copyrights_text }}</small>
          {%- endfor -%}
        </div>
        <div class="my_footer_bottom_item_flex my_footer_svg my_footer_bottom_item_centered"> 
          {%- for block in section.blocks -%}
            {%- assign image = block.settings.trust_image -%}
            {%- if block.settings.source_img == 'Image' and image -%}
              <div class="dib"><img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{image | img_url:'master'}}" alt="{{image.alt}}"></div>
            {%- elsif block.settings.source_img == 'SVG' and block.settings.svg_list -%}
            {%- assign arr = block.settings.svg_list | remove: ' ' | split: "," -%}
            <style>.bot_footer_svg img {padding: 2.5px;height: {{ block.settings.svg_height }}px;}</style>
            <div class="dib bot_footer_svg">{%- for img in arr -%}<img class="lazyload" src="https://cdn.shopify.com/s/assets/payment_icons/generic-dfdcaf09b6731ca14dd7441354c0ad8bc934184eb15ae1fda6a6b9e307675485.svg" data-src="{{ img | payment_type_img_url }}" alt="{{img | replace:'_',' '}}" />{%- endfor -%}</div>
            {%- endif -%}
          {%- endfor -%}
        </div>
      </div>
      {%- endif -%}
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Footer Bottom",
  "max_blocks": 2,
  "blocks": [
    {
      "type": "copyright",
      "name": "Copyrights",
      "settings": [
        {
          "type": "html",
          "id": "copyrights_text",
          "default": "© 2021, giraffly2 Powered by Shopify <a>test</a>",
          "label": "Copyrights"
        }
      ]
    },
	{
      "type": "payment",
      "name": "Payment",
      "settings": [
		{
          "type": "select",
          "id": "source_img",
          "options": [
			{
              "value": "Image",
              "label": "Image"
            },
            {
              "value": "SVG",
              "label": "SVG"
            }
          ],
          "default": "Image",
          "label": "Source IMG"
        },
        {
          "type": "header",
          "content": "image"
        },
        {
          "type": "image_picker",
          "id": "trust_image",
          "label": "Trust image"
        },
		{
          "type": "range",
          "id": "svg_height",
          "label": "Height",
          "default": 40,
          "min": 20,
          "max": 60,
          "step": 1
		},
        {
          "type": "header",
          "content": "svg"
        },
        {
          "type": "textarea",
          "id": "svg_list",
          "label": "SVG list",
		  "default": "amazon_payments,american_express,apple_pay,bitcoin,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,interac,google_pay,jcb,klarna,klarna-pay-later,litecoin,maestro,master,paypal,shopify_pay,sofort,visa",
		  "info": "amazon_payments,american_express,apple_pay,bitcoin,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,interac,google_pay,jcb,klarna,klarna-pay-later,litecoin,maestro,master,paypal,shopify_pay,sofort,visa"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "select",
      "id": "copyrights_layouts",
      "options": [
        {
          "value": "centered",
          "label": "Centered"
        },
        {
          "value": "Two columns",
          "label": "Two columns"
        }
      ],
      "default": "Two columns",
      "label": "Copyrights layouts"
    },
	{
      "type": "color",
      "id": "background_color",
      "label": "Background",
      "default": "#FFFFFF"
    },
	{
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#797979"
    },
	{
      "type": "color",
      "id": "link_color",
      "label": "Link",
      "default": "#797979"
    },
	{
      "type": "color",
      "id": "link_hover_color",
      "label": "Hover Link",
      "default": "#F2F2F2"
    }
  ]
}
{% endschema %}
