{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-newsletter.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-payment.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-social.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'disclosure.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-social.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'disclosure.css' | asset_url | stylesheet_tag }}</noscript>

<style>
  
  .my_footer_p_align p:first-child {
    color: red;
  }
  @font-face {
  font-family: 'iconfont';
    src: url('//at.alicdn.com/t/font_2903696_vrib6au3n8m.woff2?t=1636012795082') format('woff2'),
         url('//at.alicdn.com/t/font_2903696_vrib6au3n8m.woff?t=1636012795082') format('woff'),
         url('//at.alicdn.com/t/font_2903696_vrib6au3n8m.ttf?t=1636012795082') format('truetype');
  }
  
  .my_icon {
	padding-right: 9px;
  	font-family: "iconfont" !important;
    font-size: 20px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    cursor: default;
  }
  
  .my_icon:first-child {
    margin-top: -2px;
  }
  
  .pl__30 {
  	padding-left: 30px;
  }
  
  .footer-block__details-content.rte.my_footer_p p {
  	margin-bottom: 20px;
  }
  
  .footer-block__details-content.rte.my_footer_p p:last-child {
  	margin-bottom: 0;
  }
  
  .my_footer_menu_item_margin_bottom li {
  	margin-bottom: 20px;
  }

  .my_footer_top_padding {
  	padding: 72px 0 0 0;
    display: block;
  }
  
  .my_footer_padding_margin {
    margin-bottom: 0;
    padding: 0 55px;
  }
  
  .my_footer_margin_top {
    box-sizing: border-box;
  	margin-top: 55px;
  }
  
  .my_footer_sticky {
  	position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .my_form_margin0 {
  	margin: 0 0 !important;
    max-width: 100% !important;
  }
  
  .my_footer_email_width {
    max-width: 100% !important;
  }
  
  .my_footer_hide_heading {
  	display: none;
  }
  
  .my_footer_newsletter_design_2 {
  	height: 100% !important;
    margin: 0 0 !important;
  }
  
  .my_footer_newsletter_design_3 {
  	border-radius: 4px;
  }
  
  .my_footer_newsletter_design_4 {
  	border-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  
  .my_footer_newsletter_design_4_button {
    border-radius: 4px;
    margin: 0 0 !important;
    height: 100% !important;
  }
  
  .my_footer_item_width_1 {
  	flex: 0 0 100%;
    max-width: 100%;
    padding-bottom: 20px;
  }
  
  .my_footer_item_width_2 {
  	flex: 0 0 66.666667%;
    max-width: 66.666667%;
    padding-bottom: 20px;
  }
  
  .my_footer_item_width_3 {
  	flex: 0 0 50%;
    max-width: 50%;
    padding-bottom: 20px;
  }
  
  .my_footer_item_width_4 {
  	flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding-bottom: 20px;
  }
  
  .my_footer_item_width_5 {
  	flex: 0 0 25%;
    max-width: 25%;
    padding-bottom: 20px;
  }
  
  .my_footer_item_width_6 {
  	flex: 0 0 20%;
    max-width: 20%;
    padding-bottom: 20px;
  }
  
  .my_footer_item_width_7 {
  	flex: 0 0 16.666667%;
    max-width: 16.666667%;
    padding-bottom: 20px;
  }
  
  .my_footer_mobile_show {
    display: none;
    position: relative;
    width: 20px;
    height: 20px;
    text-align: center;
    transition: all .5s;
  }
  
  .my_icon_column,
  .my_icon_row {
    position: absolute;
    top: 10px;
    left: 5px;
    width: 10px;
    border: 1px solid black;
  }
  
  .my_icon_column {
    transition: all .5s;
  }
  
  .my_icon_row {
    transform: rotate(90deg);
    transition: all .5s;
  }
  
  .my_footer_p_align p {
    display: flex; 

  }
  
  .my_footer_button_style {
    padding: 0 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  @media screen and (min-width: 769px) and (max-width: 1024px) {
	.my_footer_item_width_1 {
      flex: 0 0 50%;
      max-width: 50%;
      padding-bottom: 20px;
    }
    
    .my_footer_item_width_2 {
      flex: 0 0 50%;
      max-width: 50%;
      padding-bottom: 20px;
    }
    
    .my_footer_item_width_3 {
      flex: 0 0 50%;
      max-width: 50%;
      padding-bottom: 20px;
    }
    
    .my_footer_item_width_4 {
      flex: 0 0 50%;
      max-width: 50%;
      padding-bottom: 20px;
    }
    
    .my_footer_item_width_5 {
      flex: 0 0 50%;
      max-width: 50%;
      padding-bottom: 20px;
    }
    
    .my_footer_item_width_6 {
      flex: 0 0 50%;
      max-width: 50%;
      padding-bottom: 20px;
    }
    
    .my_footer_item_width_7 {
      flex: 0 0 50%;
      max-width: 50%;
      padding-bottom: 20px;
    } 
    
    .my_footer_top_padding {
      padding: 72px 0 0 0;
      display: block;
    }
    
    .my_footer_sticky {
      position: static;
    }
  }
</style>

{%- style -%}
.my_footer_a_hover { text-decoration: none; display: inline-block; transition: all .3s; } .my_footer_a_hover:hover { color: {{ section.settings.hover_link_color }} !important; }
.my_footer_bgcolor { background: {{ section.settings.background_color }}; }
.my_footer_heading { color: {{ section.settings.heading_color }}; font-size: 18px; margin-bottom: 30px; margin-top: 0; font-weight: 700; }
.my_footer_item_width { flex: 0 0 {{ section.blocks.settings.container_width }}; max-width: {{ section.blocks.settings.container_width }}; }
.my_footer_bgcolor.my_footer_margin_top a { color: {{ section.settings.link_color }}; }
.my_footer_p { color: {{ section.settings.text_color }}; }
.my_footer_p a { transition: all .3s !important; } .my_footer_p a:hover { color: {{ section.settings.hover_link_color }} !important; }
.my_footer_border { border-top: 1px solid {{ section.settings.border_color }};  border-bottom: 1px solid {{ section.settings.border_color }}; }

.my_footer_input { height: 44px; color: {{ section.settings.newsletter_input_color }}; border: 1px solid {{ section.settings.newsletter_border_color }}; background: #fff; }
.my_footer_label { color: {{ section.settings.newsletter_input_color }}; }
.my_footer_input:hover { box-shadow: none; }
.my_field__input { box-shadow: none; }
.my_field__input:focus { outline: transparent; box-shadow: none; }
.my_footer_button { color: {{ section.settings.newsletter_button_text_color }} !important; background: {{ section.settings.newsletter_button_color }}; height: 40px; margin: 2px 2px 1px 0; width: auto; max-width: 50%; }
.my_footer_displaynone { display: none; }
{%- if section.settings.accordions_options_on_mobile -%}
  @media screen and (min-width: 0px) and (max-width: 768px) {
    .my_footer_padding_margin {
      padding: 0 0;
      margin: 0 0;
      width: 100%;
    }

    .my_footer_p,
    .my_footer_menu_item_margin_bottom {
      height: 0;
      overflow: hidden;
      transition: all .3s;
    }

    .my_footer_img {
      opacity: 0;
      transition: all .5s;
    }

    .my_footer_mobile_flex {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
	  justify-content: center;
      padding-bottom: 72px;
      padding-left: 15px;
      padding-right: 15px;
    }

    .my_footer_mobile_div {
      flex: 0 0 100%;
      margin-bottom: 0;
      margin: 0 0;
    }

    .my_fotter_mobile_heading {
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
    }

    .my_footer_mobile_show {
      display: block;
    }

    .my_footer_hide_heading {
      display: flex;
    }

    .my_footer_sticky {
      position: static;
    }

    .footer__blocks-wrapper.grid.grid--1-col.grid--2-col.grid--4-col-tablet.my_footer_padding_margin div:last-child {
      padding-bottom: 0;
    }

	.footer__blocks-wrapper.grid.grid--1-col.grid--2-col.grid--4-col-tablet.my_footer_padding_margin div:last-child .my_footer_heading.my_fotter_mobile_heading {
	  margin-bottom: 0;
	}
  }
{%- endif -%}
{%- endstyle -%}

<footer class="footer color-{{ section.settings.color_scheme }} gradient {% if section.settings.sticky_footer %}my_footer_sticky{% endif %}">
  {%- if section.blocks.size > 0 or section.settings.newsletter_enable or section.settings.show_social -%}
  <div class="my_footer_bgcolor my_footer_margin_top {% if section.settings.border_footer %}my_footer_border{% endif %}">
    <div class="my_footer_top_padding page-width my_footer_bgcolor my_footer_mobile_flex">
      {%- if section.blocks.size > 0 -%}
        {%- liquid
          if section.blocks.size == 9
            assign footer_grid_class = 'grid--3-col-tablet'
          elsif section.blocks.size > 6
            assign footer_grid_class = 'grid--4-col-desktop'
          elsif section.blocks.size > 4
            assign footer_grid_class = 'grid--3-col-tablet'
          endif
        -%}
        <div class="footer__blocks-wrapper grid grid--1-col grid--2-col grid--4-col-tablet my_footer_padding_margin {{ footer_grid_class }}">
          {%- for block in section.blocks -%}
            <div class="footer-block grid__item my_footer_mobile_div {% if block.settings.container_width == '1' %}my_footer_item_width_1{% elsif block.settings.container_width == '2' %}my_footer_item_width_2{% elsif block.settings.container_width == '3' %}my_footer_item_width_3{% elsif block.settings.container_width == '4' %}my_footer_item_width_4{% elsif block.settings.container_width == '5' %}my_footer_item_width_5{% elsif block.settings.container_width == '6' %}my_footer_item_width_6{% else %}my_footer_item_width_7{% endif %}{% if block.type == 'link_list' and block.settings.heading != blank %} footer-block--menu{% endif %}" {{ block.shopify_attributes }}>
              {%- case block.type -%}
                {%- when 'text' -%}
                  {%- if block.settings.heading != blank -%}
              	    <h2 class="my_footer_heading my_fotter_mobile_heading">
                      <span>{{- block.settings.heading | escape -}}</span>
                      <div class="my_footer_mobile_show">
                        <i class="my_icon_column"></i>
                        <i class="my_icon_row"></i>
                      </div>
              		</h2>
                  {%- endif -%}
                  <div class="footer-block__details-content rte my_footer_p my_font_size_content_default">
                    {{ block.settings.subtext }}
                  </div>
                {%- when 'text1' -%}
              	  {%- if block.settings.heading != blank -%}
                    <h2 class="my_footer_heading my_fotter_mobile_heading {% if block.settings.image != blank %}my_footer_hide_heading{% endif %}">
                      <span>{{- block.settings.heading | escape -}}</span>
                      <div class="my_footer_mobile_show">
                        <i class="my_icon_column"></i>
                        <i class="my_icon_row"></i>
                      </div>
                    </h2>
                  {%- endif -%}
                  <div class="footer-block__details-content rte my_footer_p my_footer_p_align my_font_size_content_default">
                        {%- if block.settings.image != blank -%}
                          {%- assign image_size = block.settings.custom_logo_width | append: 'x' -%}
                           <img
                               class="my_footer_img"
                               srcset= "{{ block.settings.image | img_url: image_size }}, {{ block.settings.image | img_url: image_size, scale: 2 }} 2x"
                               src="{{ block.settings.image | img_url: '400x' }}"
                               alt="{{ block.settings.image.alt | escape }}"
                               loading="lazy"
                               width="{{ block.settings.custom_logo_width }}"
                               height="{{ block.settings.custom_logo_width }}"
                               style="max-width: min(100%, {{ block.settings.custom_logo_width }}px); margin-bottom: 14px;"
                               >
                        {%- endif -%}
                    {{ block.settings.textarea }}
                    {%- render 'my-social-sharing',follow_social:true,class_tooltip:class_tooltip -%}
                  </div>
                {%- when 'text2' -%}
                  {%- if block.settings.heading != blank -%}
              	    <h2 class="my_footer_heading my_fotter_mobile_heading">
                      <span>{{- block.settings.heading | escape -}}</span>
                      <div class="my_footer_mobile_show">
                        <i class="my_icon_column"></i>
                        <i class="my_icon_row"></i>
                      </div>
              		</h2>
                  {%- endif -%}
                  <div class="footer-block__details-content rte my_footer_p my_font_size_content_default">
                    <p>{{ block.settings.sub_text }}</p>
                    {%- if  block.settings.newsletter_design == '1' -%}
                      {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form my_form_margin0' -%}
                        <input type="hidden" name="contact[tags]" value="newsletter">
                        <div class="newsletter-form__field-wrapper my_footer_email_width">
                          <div class="field">
                            <input
                              id="NewsletterForm--{{ section.id }}"
                              type="email"
                              name="contact[email]"
                              class="field__input my_footer_input my_field__input"
                              value="{{ form.email }}"
                              aria-required="true"
                              autocorrect="off"
                              autocapitalize="off"
                              autocomplete="email"
                              {% if form.errors %}
                                autofocus
                                aria-invalid="true"
                                aria-describedby="ContactFooter-error"
                              {% elsif form.posted_successfully? %}
                                aria-describedby="ContactFooter-success"
                              {% endif %}
                              placeholder="{{ 'newsletter.label' | t }}"
                              required
                            >
                            <label class="field__label my_footer_label" for="NewsletterForm--{{ section.id }}">
                              {{ 'newsletter.label' | t }}
                            </label>
                            <button type="submit" class="field__button my_footer_button" name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}">
                              <span class="my_footer_button_style my_font_weight_default my_button_font_size_default">SUBSCRIBE</span>
                            </button>
                          </div>
                          {%- if form.errors -%}
                            <small class="newsletter-form__message form__message" id="ContactFooter-error">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
                          {%- endif -%}
                        </div>
                        {%- if form.posted_successfully? -%}
                          <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="ContactFooter-success" tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
                        {%- endif -%}
                      {%- endform -%}
                    {%- elsif block.settings.newsletter_design == '2' -%}
                      {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form my_form_margin0' -%}
                        <input type="hidden" name="contact[tags]" value="newsletter">
                        <div class="newsletter-form__field-wrapper my_footer_email_width">
                          <div class="field">
                            <input
                              id="NewsletterForm--{{ section.id }}"
                              type="email"
                              name="contact[email]"
                              class="field__input my_footer_input my_field__input"
                              value="{{ form.email }}"
                              aria-required="true"
                              autocorrect="off"
                              autocapitalize="off"
                              autocomplete="email"
                              {% if form.errors %}
                                autofocus
                                aria-invalid="true"
                                aria-describedby="ContactFooter-error"
                              {% elsif form.posted_successfully? %}
                                aria-describedby="ContactFooter-success"
                              {% endif %}
                              placeholder="{{ 'newsletter.label' | t }}"
                              required
                            >
                            <label class="field__label my_footer_label" for="NewsletterForm--{{ section.id }}">
                              {{ 'newsletter.label' | t }}
                            </label>
                            <button type="submit" class="field__button my_footer_button my_footer_newsletter_design_2" name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}">
							  <span class="my_footer_button_style my_font_weight_default my_button_font_size_default">SUBSCRIBE</span>
                            </button>
                          </div>
                          {%- if form.errors -%}
                            <small class="newsletter-form__message form__message" id="ContactFooter-error">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
                          {%- endif -%}
                        </div>
                        {%- if form.posted_successfully? -%}
                          <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="ContactFooter-success" tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
                        {%- endif -%}
                      {%- endform -%}
                    {%- elsif block.settings.newsletter_design == '3' -%}
                      {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form my_form_margin0' -%}
                        <input type="hidden" name="contact[tags]" value="newsletter">
                        <div class="newsletter-form__field-wrapper my_footer_email_width">
                          <div class="field">
                            <input
                              id="NewsletterForm--{{ section.id }}"
                              type="email"
                              name="contact[email]"
                              class="field__input my_footer_input my_field__input my_footer_newsletter_design_3"
                              value="{{ form.email }}"
                              aria-required="true"
                              autocorrect="off"
                              autocapitalize="off"
                              autocomplete="email"
                              {% if form.errors %}
                                autofocus
                                aria-invalid="true"
                                aria-describedby="ContactFooter-error"
                              {% elsif form.posted_successfully? %}
                                aria-describedby="ContactFooter-success"
                              {% endif %}
                              placeholder="{{ 'newsletter.label' | t }}"
                              required
                            >
                            <label class="field__label my_footer_label" for="NewsletterForm--{{ section.id }}">
                              {{ 'newsletter.label' | t }}
                            </label>
                            <button type="submit" class="field__button my_footer_button my_footer_newsletter_design_3" name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}">
							  <span class="my_footer_button_style my_font_weight_default my_button_font_size_default">SUBSCRIBE</span>
                            </button>
                          </div>
                          {%- if form.errors -%}
                            <small class="newsletter-form__message form__message" id="ContactFooter-error">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
                          {%- endif -%}
                        </div>
                        {%- if form.posted_successfully? -%}
                          <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="ContactFooter-success" tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
                        {%- endif -%}
                      {%- endform -%}
                    {%- elsif block.settings.newsletter_design == '4' -%}
                      {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form my_form_margin0' -%}
                        <input type="hidden" name="contact[tags]" value="newsletter">
                        <div class="newsletter-form__field-wrapper my_footer_email_width">
                          <div class="field">
                            <input
                              id="NewsletterForm--{{ section.id }}"
                              type="email"
                              name="contact[email]"
                              class="field__input my_footer_input my_field__input my_footer_newsletter_design_4"
                              value="{{ form.email }}"
                              aria-required="true"
                              autocorrect="off"
                              autocapitalize="off"
                              autocomplete="email"
                              {% if form.errors %}
                                autofocus
                                aria-invalid="true"
                                aria-describedby="ContactFooter-error"
                              {% elsif form.posted_successfully? %}
                                aria-describedby="ContactFooter-success"
                              {% endif %}
                              placeholder="{{ 'newsletter.label' | t }}"
                              required
                            >
                            <label class="field__label my_footer_label" for="NewsletterForm--{{ section.id }}">
                              {{ 'newsletter.label' | t }}
                            </label>
                            <button type="submit" class="field__button my_footer_button my_footer_newsletter_design_4_button" name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}">
                              <span class="my_footer_button_style my_font_weight_default my_button_font_size_default">SUBSCRIBE</span>
                            </button>
                          </div>
                          {%- if form.errors -%}
                            <small class="newsletter-form__message form__message" id="ContactFooter-error">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
                          {%- endif -%}
                        </div>
                        {%- if form.posted_successfully? -%}
                          <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="ContactFooter-success" tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
                        {%- endif -%}
                      {%- endform -%}
                    {%- endif -%}
                  </div>
                {%- when 'link_list' -%}
                  {%- if block.settings.heading != blank -%}
              	    <h2 class="my_footer_heading my_fotter_mobile_heading">
                      <span>{{- block.settings.heading | escape -}}</span>
                      <div class="my_footer_mobile_show">
                        <i class="my_icon_column"></i>
                        <i class="my_icon_row"></i>
                      </div>
              		</h2>
                  {%- endif -%}
                  {%- if block.settings.menu != blank and block.settings.heading != blank -%}
                    <ul class="footer-block__details-content list-unstyled my_footer_menu_item_margin_bottom">
                      {%- for link in block.settings.menu.links -%}
                        <li>
                          <a href="{{ link.url }}" class="link link--text list-menu__item my_footer_a_hover">
                            {{ link.title }}
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}
                {%- when 'image' -%}
                  <div class="footer-block__details-content footer-block-image {{ block.settings.alignment }}">
                    {%- if block.settings.image != blank -%}
                      {%- assign image_size = block.settings.image_width | append: 'x' -%}
                      <img
                        srcset= "{{ block.settings.image | img_url: image_size }}, {{ block.settings.image | img_url: image_size, scale: 2 }} 2x"
                        src="{{ block.settings.image | img_url: '400x' }}"
                        alt="{{ block.settings.image.alt | escape }}"
                        loading="lazy"
                        width=""
                        height=""
                        style="max-width: min(100%, {{ block.settings.image_width }}px);"
                      >
                    {%- else -%}
                      {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                    {%- endif -%}
                  </div>
                {%- endcase -%}
            </div>
          {%- endfor -%}
        </div>
      {%- endif -%}
    </div>
  </div>
  {%- endif -%}
</footer>

{% javascript %}
  class LocalizationForm extends HTMLElement {
    constructor() {
      super();
      this.elements = {
        input: this.querySelector('input[name="locale_code"], input[name="country_code"]'),
        button: this.querySelector('button'),
        panel: this.querySelector('ul'),
      };
      this.elements.button.addEventListener('click', this.openSelector.bind(this));
      this.elements.button.addEventListener('focusout', this.closeSelector.bind(this));
      this.addEventListener('keyup', this.onContainerKeyUp.bind(this));

      this.querySelectorAll('a').forEach(item => item.addEventListener('click', this.onItemClick.bind(this)));
    }

    hidePanel() {
      this.elements.button.setAttribute('aria-expanded', 'false');
      this.elements.panel.setAttribute('hidden', true);
    }

    onContainerKeyUp(event) {
      if (event.code.toUpperCase() !== 'ESCAPE') return;

      this.hidePanel();
      this.elements.button.focus();
    }

    onItemClick(event) {
      event.preventDefault();
      const form = this.querySelector('form');
      this.elements.input.value = event.currentTarget.dataset.value;
      if (form) form.submit();
    }

    openSelector() {
      this.elements.button.focus();
      this.elements.panel.toggleAttribute('hidden');
      this.elements.button.setAttribute('aria-expanded', (this.elements.button.getAttribute('aria-expanded') === 'false').toString());
    }

    closeSelector(event) {
      const shouldClose = event.relatedTarget && event.relatedTarget.nodeName === 'BUTTON';
      if (event.relatedTarget === null || shouldClose) {
        this.hidePanel();
      }
    }
  }

  customElements.define('localization-form', LocalizationForm);
{% endjavascript %}

{% schema %}
{
  "name": "Footer Top",
  "max_blocks": 8,
  "blocks": [
	{
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Text",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "<p>Share store details, promotions, or brand content with your customers.</p>",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        },
        {
          "type": "select",
          "id": "container_width",
          "label": "Container width",
          "default": "5",
          "options": [
            {
              "value": "1",
              "label": "100%"
            },
            {
              "value": "2",
              "label": "66%"
            },
            {
              "value": "3",
              "label": "50%"
            },
            {
              "value": "4",
              "label": "33%"
            },
            {
              "value": "5",
              "label": "25%"
            },
            {
              "value": "6",
              "label": "20%"
            },
            {
              "value": "7",
              "label": "16%"
            }
          ]
        }
      ]
    },
	{
	  "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Menu",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label"
        },
        {
          "type": "select",
          "id": "container_width",
          "label": "Container width",
          "default": "5",
          "options": [
            {
              "value": "1",
              "label": "100%"
            },
            {
              "value": "2",
              "label": "66%"
            },
            {
              "value": "3",
              "label": "50%"
            },
            {
              "value": "4",
              "label": "33%"
            },
            {
              "value": "5",
              "label": "25%"
            },
            {
              "value": "6",
              "label": "20%"
            },
            {
              "value": "7",
              "label": "16%"
            }
          ]
        }
      ]
	},
	{
      "type": "text1",
      "name": "Get in touch",
      "settings": [
		{
          "type": "image_picker",
          "id": "image",
          "label": "Logo image",
          "info": "190px wide recommended"
        },
		{
          "type": "range",
          "id": "custom_logo_width",
          "label": "Custom logo width",
          "default": 54,
          "min": 50,
          "max": 120,
          "step": 1
		},
        {
          "type": "text",
          "id": "heading",
          "default": "Get in touch",
          "label": "Heading",
		  "info": "if you want not use logo, you can use text"
        },
         {
		  "type": "textarea",
          "id": "textarea",
          "default": "<p><i class=\"my_icon\">&#xe650;<\/i><span class=\"footer_location\">184Main Rd E, St Albans <br> VIC3021, Australia<\/span><\/p><p><i class=\"my_icon\">&#xe601;<\/i><span class=\"footer_email\"> <a href=\"mailto:Giraffly@company.com\">contact@company.com<\/a><\/span><\/p><p><i class=\"my_icon\">&#xe7b7;<\/i><span class=\"footer_phone\">+1 23456789<\/span><\/p>",
          "label": "Content"
		},
        {
          "type": "select",
          "id": "container_width",
          "label": "Container width",
          "default": "5",
          "options": [
            {
              "value": "1",
              "label": "100%"
            },
            {
              "value": "2",
              "label": "66%"
            },
            {
              "value": "3",
              "label": "50%"
            },
            {
              "value": "4",
              "label": "33%"
            },
            {
              "value": "5",
              "label": "25%"
            },
            {
              "value": "6",
              "label": "20%"
            },
            {
              "value": "7",
              "label": "16%"
            }
          ]
        }
      ]
    },
	{
      "type": "text2",
      "name": "Newsletter",
      "settings": [
		{
          "type": "select",
          "id": "newsletter_design",
          "label": "Newsletter Design",
          "default": "1",
          "options": [
            {
              "value": "1",
              "label": "Design 1"
            },
            {
              "value": "2",
              "label": "Design 2"
            },
            {
              "value": "3",
              "label": "Design 3"
            },
            {
              "value": "4",
              "label": "Design 4"
            }
          ]
        },
        {
          "type": "text",
          "id": "heading",
          "default": "Newsletter",
          "label": "Heading"
        },
        {
		  "type": "text",
          "id": "sub_text",
          "default": "Subscribe to our newsletter and get 10% off your first purchase",
          "label": "Sub text"
		},
        {
          "type": "select",
          "id": "container_width",
          "label": "Container width",
          "default": "5",
          "options": [
            {
              "value": "1",
              "label": "100%"
            },
            {
              "value": "2",
              "label": "66%"
            },
            {
              "value": "3",
              "label": "50%"
            },
            {
              "value": "4",
              "label": "33%"
            },
            {
              "value": "5",
              "label": "25%"
            },
            {
              "value": "6",
              "label": "20%"
            },
            {
              "value": "7",
              "label": "16%"
            }
          ]
        }
      ]
    }
  ],
  "settings": [
     {
      "type": "header",
      "content": "GENERAL SETTINGS"
    },
    {
      "type": "checkbox",
      "id": "sticky_footer",
      "label": "Sticky footer",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "accordions_options_on_mobile",
      "label": "Accordions options on mobile",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "border_footer",
      "label": "Border footer",
      "default": false
    },
    {
      "type": "header",
      "content": "COLOR"
    },
	{
      "type": "color",
      "id": "border_color",
      "label": "Border color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background",
      "default": "#F2F2F2"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading",
      "default": "#333333"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#797979"
    },
    {
      "type": "color",
      "id": "link_color",
      "label": "Link",
      "default": "#F2F2F2"
    },
    {
      "type": "color",
      "id": "hover_link_color",
      "label": "Hover link",
      "default": "#E21F4A"
    },
    {
      "type": "color",
      "id": "newsletter_input_color",
      "label": "Newsletter input",
      "default": "#797979"
    },
    {
      "type": "color",
      "id": "newsletter_border_color",
      "label": "Newsletter border",
      "default": "#797979"
    },
    {
      "type": "color",
      "id": "newsletter_button_color",
      "label": "Newsletter button",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "newsletter_button_text_color",
      "label": "Newsletter button text",
      "default": "#FFFFFF"
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "text"
      }
    ]
  }
}
{% endschema %}

<script>
    {% comment %} // footertop移动端手风琴 {% endcomment %}
    var footer_mobile_show = document.getElementsByClassName('my_footer_mobile_show');
	var footer_h2 = document.getElementsByClassName('my_footer_heading my_fotter_mobile_heading');
  
    for (let i = 0; i < footer_mobile_show.length; i++) {
        footer_mobile_show[i].onclick = function () {
            var yuansu = footer_h2[i].nextElementSibling;
			var img = footer_h2[i].nextElementSibling.firstElementChild;
            
            if (yuansu.style.height) {
              {% comment %} // 高度有值 {% endcomment %}
              this.children[0].style.transform = 'rotate(0deg)';
              this.children[0].style.opacity = '1';
              this.children[1].style.transform = 'rotate(90deg)';
              yuansu.style.height = null;
              if(img.tagName == 'IMG') {
                img.style.opacity = '0';
              }
            } else {
             if (img.tagName == 'IMG') {
                var firstload = document.getElementsByClassName('footer-block__details-content rte my_footer_p')[i].firstElementChild.scrollHeight;
				{% comment %} // 监听图片是否加载完成 解决第一次刷新高度显示有误 {% endcomment %}
                img.onload = function(){ 
                  yuansu.style.height = yuansu.scrollHeight + "px";
                }
                img.style.opacity = '1';
              }
              {% comment %} // 高度为0 {% endcomment %}
              this.children[0].style.transform = 'rotate(180deg)';
              this.children[0].style.opacity = '0';
              this.children[1].style.transform = 'rotate(360deg)';
              yuansu.style.height = yuansu.scrollHeight + "px";

            }
        }
    }
</script>