<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

<style>
  .my_page_title_center {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
  }
  .my_page_margin {
    margin: 55px auto;
  }
  
  @media screen and (max-width: 750px) {
    .my_page_margin {
      margin: 35px auto;
    }
  }
  
  @media screen and (max-width: 990px) {
    .my_page_margin {
      margin: 35px auto;
    }
  }
</style>

<div class="page-width page-width--narrow my_page_margin">
  <h1 class="main-page-title page-title h0 my_page_title_center">
    {{ page.title | escape }}
  </h1>
  <div class="rte">
    {{ page.content }}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "gallery_margin_top",
      "label": "Margin top",
      "info": "Margin top. If you not use to blank"
    },
    {
      "type": "text",
      "id": "gallery_margin_bottom",
      "label": "Margin bottom",
      "info": "Margin bottom. If you not use to blank"
    }
  ]
}
{% endschema %}
