{{ 'component-collection-hero.css' | asset_url | stylesheet_tag }}

<style>
  .my_collection_hero_des {
    margin: 10px 0 0;
    text-align: center;
  }
  .my_collection_hero_title {
    font-size: 36px;
  }
</style>

<div class="collection-hero spaced-section{% if section.settings.show_collection_image and collection.image %} collection-hero--with-image{% endif %}"
     style="{%- if section.settings.main_collection_banner_margin_top != blank -%}margin-top: {{ section.settings.main_collection_banner_margin_top }}px; {%- endif -%}{%- if section.settings.main_collection_banner_margin_bottom != blank -%}margin-bottom:{{ section.settings.main_collection_banner_margin_bottom }}px;{%- endif -%}">
  <div class="collection-hero__inner page-width">
    <div class="collection-hero__text-wrapper">
      <h1 class="collection-hero__title my_collection_hero_title my_font_weight_default"  style="color:var(--font-page-heading);">
        <span class="visually-hidden">{{ 'sections.collection_template.title' | t }}: </span>
        {{- collection.title | escape -}}
      </h1>
      <h4 class="my_collection_hero_des">{{- collection.description -}}</h4>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
      "type": "text",
      "id": "main_collection_banner_margin_top",
      "label": "Margin top",
	  "placeholder": "ar; ha; he",
      "info": "t:sections.margintip.settings.margin_top_tip.label"
    },
    {
      "type": "text",
      "id": "main_collection_banner_margin_bottom",
      "label": "Margin bottom",
      "info": "t:sections.margintip.settings.margin_bottom_tip.label"
    }
  ]
}
{% endschema %}
