<style type="text/css">
  .template-404 .title + * {
    margin-top: 1rem;
  }

  .my_main_404_margin {
    margin: 18rem auto;
  }
  
  .my_main_404_title {
    font-size: 36px;
  }
  
  .template-404.page-width.page-margin.center.my_main_404_margin .my_font_size_content_default.my_main_404_content_margin {
    margin: 15px 0 20px;
  }
  
  @media screen and (min-width: 750px) {
    .template-404 .title + * {
      margin-top: 2rem;
    }
  }
</style>

<div class="template-404 page-width page-margin center my_main_404_margin">

  <h1 class="title my_main_404_title my_font_weight_default my_clear_margin" style="color:var(--font-page-heading);">
    {{ 'templates.404.subtext' | t }} {{ 'templates.404.title' | t }}
  </h1>
  <p class="my_font_size_content_default my_main_404_content_margin">
    {{ 'templates.404.info_text' | t }}
  </p>
  <a href="{{ routes.all_products_collection_url }}" class="button my_button_font_size_default my_font_weight_default">
    {{ 'general.continue_shopping' | t }}
  </a>
</div>






