{{ 'component-cart.css' | asset_url | stylesheet_tag }}
{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}
{{ 'component-totals.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-discounts.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}

<script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>

<style>
  :root {
  	--font-size-subtotal: 12;
  }
    
  .my_cart_margin {
  	margin: 55px 0;
    gap: 15px;
    align-items: center;
  }
    
  .my_cart_empty_padding {
  	padding: 180px 0 125px 0 !important;
  }
    
  .my_cart_empty_font {
    font-size: 36px;
    font-weight: 700;
    margin: 0 0;
  }
    
  .my_cart_empty_tip {
  	margin: 15px 0 20px 0;
  }
    
  .my_cart_button {
    padding: 0 20px;
    font-size: 13px;
    font-weight: 700;
    min-height: 41px;
  }
    
  .my_cart_arrow_margin {
  	margin-left: 16px;
  }
    
  .my_cart_media_padding {
    padding: 30px 0 !important;
  }
    
  .my_cart_item_padding {
    padding: 0 0 !important;
  }
    
  .my_cart_img_style {
  	width: 100%;
    display: block;
  }
    
  .my_cart_item_details_padding {
  	padding: 30px 0 0 48px !important;
  }
    
  .my_cart_link_style {
    font-size: 17px;
    font-weight: 700;
    color: #000;
  	text-decoration: none;
  }
    
  .my_cart_link_style:hover {
  	text-decoration: none;
  }
    
  .my_cart_product_option_font_style {
    font-size: 13px;
  }
    
  .my_cart_price_font_size {
  	font-size: calc(((var(--font-size-subtotal) - 1) / (var(--font-size-subtotal))) * 1em) !important;
  }
    
  .my_cart_text_align_center {
    text-align: center !important;
  }
    
  .my_cart_text_align_right {
    text-align: right !important;
  }
    
  .my_cart_item__quantity {
    justify-content: end;
  }
    
  .my_cart_table {
    border-collapse: collapse;
  }
    
  .my_cart_table tbody tr:first-child {
    border-top: 1px solid #eee;
  }
    
  .my_cart_table tbody tr:last-child {
    border-bottom: 1px solid #eee; 
  }
    
  @media screen and (min-width: 0px) and (max-width: 750px) {
    .my_cart_item__quantity {
      justify-content: start;
      padding-left: 48px !important;
    }
    .my_cart_text_align_right {
      display: none;
      text-align: right !important;
    }
    .my_cart_align_center {
      align-items: center;
    }
    .my_cart_empty_padding {
      padding: 160px 0 105px 0 !important;
    }
  }
  @media screen and (max-width: 990px) {
    .my_cart_item__quantity {
      justify-content: start;
      padding-left: 48px !important;
    }
    .my_cart_text_align_right {
/*       display: none; */
      text-align: right !important;
    }
    .my_cart_align_center {
      align-items: center;
    }
    .my_cart_empty_padding {
      padding: 160px 0 105px 0 !important;
    }
  }
</style>

<cart-items class="page-width{% if cart == empty %} is-empty{% endif %}">
  <div class="title-wrapper-with-link my_cart_margin">
    <h1 class="title title--primary my_cart_empty_font">{{ 'sections.cart.title' | t }}</h1>
    <a href="{{ routes.all_products_collection_url }}" class="underlined-link">{{ 'general.continue_shopping' | t }}</a>
  </div>

  <div class="cart__warnings my_cart_empty_padding">
    {% comment %}<h1 class="cart__empty-text">{{ 'sections.cart.empty' | t }}</h1>{% endcomment %}
    <h1 class="cart__empty-text my_cart_empty_font">Your cart</h1>
    <p class="my_cart_empty_tip">Your cart is currently empty</p>
    {% comment %}<a href=" routes.all_products_collection_url }}" class="button">
      {{ 'general.continue_shopping' | t }}
    </a>{% endcomment %}
    <a href="{{ routes.all_products_collection_url }}" class="button my_cart_button">
      <span>CONTINUE SHOPPING</span>
      <span class="my_cart_arrow_margin">→</span>
    </a>

    {%- if shop.customer_accounts_enabled -%}
      <h2 class="cart__login-title">{{ 'sections.cart.login.title' | t }}</h2>
      <p class="cart__login-paragraph">
        {{ 'sections.cart.login.paragraph_html' | t: link: routes.account_login_url }}
      </p>
    {%- endif -%}
  </div>

  <form action="{{ routes.cart_url }}" class="cart__contents critical-hidden" method="post" id="cart">
    <div class="cart__items my_cart_item_padding" id="main-cart-items" {% if section.settings.cart_updates %} data-id="{{ section.id }}" {% endif %}>
      <div class="js-contents">
        {%- if cart != empty -%}
          <table class="cart-items my_cart_table">
            <thead>
              <tr>
                <th class="caption-with-letter-spacing" colspan="2" scope="col">{{ 'sections.cart.headings.product' | t }}</th>
                <th class="cart-items__heading--wide caption-with-letter-spacing my_cart_text_align_right" colspan="1" scope="col">{{ 'sections.cart.headings.price' | t }}</th>
                <th class="medium-hide large-up-hide right caption-with-letter-spacing" colspan="1" scope="col">{{ 'sections.cart.headings.total' | t }}</th>
                <th class="cart-items__heading--wide small-hide caption-with-letter-spacing my_cart_text_align_center" colspan="1" scope="col">{{ 'sections.cart.headings.quantity' | t }}</th>
                <th class="small-hide right caption-with-letter-spacing" colspan="1" scope="col">{{ 'sections.cart.headings.total' | t }}</th>
              </tr>
            </thead>

            <tbody>
              {%- for item in cart.items -%}
                <tr class="cart-item" id="CartItem-{{ item.index | plus: 1 }}">
                  <td class="cart-item__media my_cart_media_padding">
                    {% if item.image %}
                      <a href="{{ item.url }}">
                        <img class="cart-item__image my_cart_img_style"
                          src="{{ item.image | img_url: '150x' }}"
                          alt="{{ item.image.alt | escape }}"
                          loading="lazy"
                          width="100"
                          height="{{ 100 | divided_by: item.image.aspect_ratio | ceil }}"
                        >
                      </a>
                    {% endif %}
                  </td>

                  <td class="cart-item__details my_cart_item_details_padding">
                    {%- if section.settings.show_vendor -%}
                      <p class="caption-with-letter-spacing light">{{ item.product.vendor }}</p>
                    {%- endif -%}

                    <a href="{{ item.url }}" class="my_cart_link_style">{{ item.product.title | escape }}</a>
                    
                    <span class="price my_cart_price_font_size">{{ item.original_line_price | divided_by: item.quantity | money }}</span>

                    {%- if item.product.has_only_default_variant == false or item.properties.size != 0 or item.selling_plan_allocation != nil -%}
                      <dl>
                        {%- if item.product.has_only_default_variant == false -%}
                          {%- for option in item.options_with_values -%}
                            <div class="product-option my_cart_product_option_font_style">
                              <dt>{{ option.name }}: </dt>
                              <dd>{{ option.value }}</dd>
                            </div>
                          {%- endfor -%}
                        {%- endif -%}

                        {%- for property in item.properties -%}
                          {%- assign property_first_char = property.first | slice: 0 -%}
                          {%- if property.last != blank and property_first_char != '_' -%}
                            <div class="product-option">
                              <dt>{{ property.first }}: </dt>
                              <dd>
                                {%- if property.last contains '/uploads/' -%}
                                  <a href="{{ property.last }}" target="_blank">
                                    {{ property.last | split: '/' | last }}
                                  </a>
                                {%- else -%}
                                  {{ property.last }}
                                {%- endif -%}
                              </dd>
                            </div>
                          {%- endif -%}
                        {%- endfor -%}
                      </dl>

                      <p class="product-option">{{ item.selling_plan_allocation.selling_plan.name }}</p>
                    {%- endif -%}

                    <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                      {%- for discount in item.discounts -%}
                        <li class="discounts__discount">
                          {%- render 'icon-discount' -%}
                          {{ discount.title }}
                        </li>
                      {%- endfor -%}
                    </ul>
                    
                    <p class="cart-item__error" id="Line-item-error-{{ item.index | plus: 1 }}">
                      <span class="cart-item__error-text {% if section.settings.cart_updates == false %}my_cart_autoupdate{% endif %}"></span>
                      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
                        <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                        <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                        <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                        <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                      </svg>
                    </p>
                  </td>
                  {% comment %}
                  <td class="cart-item__totals right small-hide">
                    <div class="cart-item__price-wrapper">
                      {%- if item.original_line_price != item.final_line_price -%}
                        <dl class="cart-item__discounted-prices">
                          <dt class="visually-hidden">
                            {{ 'products.product.price.regular_price' | t }}
                          </dt>
                          <dd>
                            <s class="cart-item__old-price price price--end my_cart_price_font_size">
                              {{ item.original_line_price | money }}
                            </s>
                          </dd>
                          <dt class="visually-hidden">
                            {{ 'products.product.price.sale_price' | t }}
                          </dt>
                          <dd class="price price--end my_cart_price_font_size">
                            {{ item.final_line_price | money }}
                          </dd>
                        </dl>
                      {%- else -%}
                        <span class="price price--end my_cart_price_font_size">
                          {{ item.original_line_price | divided_by: item.quantity | money }}
                        </span>
                      {%- endif -%}

                      {%- if item.variant.available and item.unit_price_measurement -%}
                        <div class="unit-price caption">
                          <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                          {{ item.variant.unit_price | money }}
                          <span aria-hidden="true">/</span>
                          <span class="visually-hidden">&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
                          {%- if item.variant.unit_price_measurement.reference_value != 1 -%}
                            {{- item.variant.unit_price_measurement.reference_value -}}
                          {%- endif -%}
                          {{ item.variant.unit_price_measurement.reference_unit }}
                        </div>
                      {%- endif -%}
                    </div>
                  </td>
				  {% endcomment %}
                  <td class="cart-item__totals right medium-hide large-up-hide my_cart_align_center">
                    <div class="loading-overlay hidden">
                      <div class="loading-overlay__spinner">
                        <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                        </svg>
                      </div>
                    </div>
                    <div class="cart-item__price-wrapper">
                      {%- if item.original_line_price != item.final_line_price -%}
                        <dl class="cart-item__discounted-prices">
                          <dt class="visually-hidden">
                            {{ 'products.product.price.regular_price' | t }}
                          </dt>
                          <dd>
                            <s class="cart-item__old-price price price--end my_cart_price_font_size">
                              {{ item.original_line_price | money }}
                            </s>
                          </dd>
                          <dt class="visually-hidden">
                            {{ 'products.product.price.sale_price' | t }}
                          </dt>
                          <dd class="price price--end my_cart_price_font_size">
                            {{ item.final_line_price | money }}
                          </dd>
                        </dl>
                      {%- else -%}
                        <span class="price price--end my_cart_price_font_size">
                          {{ item.original_line_price | money }}
                        </span>
                      {%- endif -%}

                      {%- if item.variant.available and item.unit_price_measurement -%}
                        <div class="unit-price caption">
                          <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                          {{ item.variant.unit_price | money }}
                          <span aria-hidden="true">/</span>
                          <span class="visually-hidden">&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
                          {%- if item.variant.unit_price_measurement.reference_value != 1 -%}
                            {{- item.variant.unit_price_measurement.reference_value -}}
                          {%- endif -%}
                          {{ item.variant.unit_price_measurement.reference_unit }}
                        </div>
                      {%- endif -%}
                    </div>
                  </td>

                  <td class="cart-item__quantity my_cart_item__quantity">
                    <label class="visually-hidden" for="Quantity-{{ item.index | plus: 1 }}">
                      {{ 'products.product.quantity.label' | t }}
                    </label>
                    <quantity-input class="quantity">
                      <button class="quantity__button no-js-hidden" name="minus" type="button">
                        <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: item.product.title | escape }}</span>
                        {% render 'icon-minus' %}
                      </button>
                      <input class="quantity__input"
                        type="number"
                        name="updates[]"
                        value="{{ item.quantity }}"
                        min="0"
                        {% if section.settings.cart_updates == false %}max="{{ item.variant.inventory_quantity }}"{% endif %}
                        aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                        id="Quantity-{{ item.index | plus: 1 }}"
                        data-index="{{ item.index | plus: 1 }}"
                      >
                      <button class="quantity__button no-js-hidden" name="plus" type="button">
                        <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: item.product.title | escape }}</span>
                        {% render 'icon-plus' %}
                      </button>
                    </quantity-input>

                    <cart-remove-button id="Remove-{{ item.index | plus: 1 }}" data-index="{{ item.index | plus: 1 }}">
                      <a href="{{ item.url_to_remove }}" class="button button--tertiary" aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}">
                        {% render 'icon-remove' %}
                      </a>
                    </cart-remove-button>
                  </td>

                  <td class="cart-item__totals right small-hide">
                    {%- if section.settings.cart_updates -%}
                    <div class="loading-overlay hidden">
                      <div class="loading-overlay__spinner">
                        <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                        </svg>
                      </div>
                    </div>
                    {%- endif -%}
                    <div class="cart-item__price-wrapper">
                      {%- if item.original_line_price != item.final_line_price -%}
                        <dl class="cart-item__discounted-prices">
                          <dt class="visually-hidden">
                            {{ 'products.product.price.regular_price' | t }}
                          </dt>
                          <dd>
                            <s class="cart-item__old-price price price--end my_cart_price_font_size">
                              {{ item.original_line_price | money }}
                            </s>
                          </dd>
                          <dt class="visually-hidden">
                            {{ 'products.product.price.sale_price' | t }}
                          </dt>
                          <dd class="price price--end my_cart_price_font_size">
                            {{ item.final_line_price | money }}
                          </dd>
                        </dl>
                      {%- else -%}
                        <span class="price price--end my_cart_price_font_size">
                          {{ item.original_line_price | money }}
                        </span>
                      {%- endif -%}

                      {%- if item.variant.available and item.unit_price_measurement -%}
                        <div class="unit-price caption">
                          <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                          {{ item.variant.unit_price | money }}
                          <span aria-hidden="true">/</span>
                          <span class="visually-hidden">&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
                          {%- if item.variant.unit_price_measurement.reference_value != 1 -%}
                            {{- item.variant.unit_price_measurement.reference_value -}}
                          {%- endif -%}
                          {{ item.variant.unit_price_measurement.reference_unit }}
                        </div>
                      {%- endif -%}
                    </div>
                  </td>
                </tr>
              {%- endfor -%}
            </tbody>
          </table>
        {%- endif -%}
      </div>
    </div>

    <p class="visually-hidden" id="cart-live-region-text" aria-live="polite" role="status"></p>
    <p class="visually-hidden" id="shopping-cart-line-item-status" aria-live="polite" aria-hidden="true" role="status">{{ 'accessibility.loading' | t }}</p>
  </form>
</cart-items>

{% schema %}
{
  "name": "Cart Item",
  "settings": [
	{
      "type": "checkbox",
      "id": "cart_updates",
      "default": true,
      "label": "Enable automatic cart updates",
	  "info": "Updates the cart as soon as customer changes are made"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-cart-items.settings.show_vendor.label"
    }
  ]
}
{% endschema %}
<script>
  var my_product = document.getElementsByClassName('cart-item');
  var my_cart_autoupdate = document.getElementsByClassName('my_cart_autoupdate');
  {% comment %}// 关闭自动更新 产品数量超过 则提示{% endcomment %}
  if(my_cart_autoupdate.length > 0) {
  	for (let i = 0; i < my_product.length; i++) {
      let input_value = document.getElementsByClassName('cart-item')[i].getElementsByClassName('quantity__input')[0].value;
      let input_max = document.getElementsByClassName('cart-item')[i].getElementsByClassName('quantity__input')[0].max;
      let minus = document.getElementsByClassName('cart-item')[i].getElementsByClassName('quantity__button no-js-hidden')[0];
      let plus = document.getElementsByClassName('cart-item')[i].getElementsByClassName('quantity__button no-js-hidden')[1];

      let over_info = document.getElementsByClassName('cart-item__error-text')[i];

      minus.onclick = function () {
        let i_value = this.nextElementSibling.value-1;
        if(i_value > input_max) {
          over_info.innerHTML = "You can only add " + input_max + " of this item to your cart.";
        } else {
          over_info.innerHTML = '';
        }
      }

      plus.onclick = function () {
        let i_value = this.previousElementSibling.value*1+1;
        if(i_value > input_max) {
          over_info.innerHTML = "You can only add " + input_max + " of this item to your cart.";
        } else {
          over_info.innerHTML = '';
        }
      }
    }
  }
</script>