{{ 'component-cart.css' | asset_url | stylesheet_tag }}
{{ 'component-totals.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-discounts.css' | asset_url | stylesheet_tag }}

<style>
  .my_subtotal_addnote {
    flex: 0 0 50%;
    max-width: 50%;
  }
  
  .my_subtotal_font_size {
    font-size: calc(((var(--font-size-subtotal) + 2) / (var(--font-size-subtotal))) * 1em);
  }
    
  .my_subtotal_margin_bottom {
	margin-bottom: 15px !important;    
  }
  
  .my_subtotal_cart_blocks_margin {
    flex: 0 0 50%;
    max-width: 50%;
  	margin: 0 0;
  }
  
  .my_subtotal_margin_bottom_checkout {
    margin-bottom: 35px;
  }
    
  .my_subtotal_textarea {
    width: 95%;
    border: 1px solid var(--color-foreground);
    min-height: 70px;
    padding: 8px 10px;
  	resize: vertical;
    transition: all .5s;
  }
  
  .my_subtotal_textarea:focus-visible {
    outline: none;
    border: 1px solid #000;
    outline-offset: 0;
    box-shadow: none;
  }
    
  .my_subtotal_tip_margin {
    margin: 10px 0 0 0;
  }
  
  .my_subtotal_button {
  	font-size: 13px;
    font-weight: 700;
  }
  
  .my_subtotal_btn_flex_style {
  	justify-content: flex-end;
    margin-top: 0;
  }
  
  .my_subtotal_btn_style {
  	width: auto !important;
    min-width: 0;
    min-height: 37px;
    padding: 0 10px;
    border-radius: 4px;
  }
  
  .my_subtotal_subtotal_left {
    margin-left: 2rem;
  }
  
  @media screen and (min-width: 0px) and (max-width: 750px) {
    .my_subtotal_addnote_position {
      text-align: center;
      margin: 0 auto 50px;
    }
    .my_subtotal_position {
      justify-content: center;
    }
    .my_subtotal_margin_bottom {
	  margin-bottom: 15px !important; 
      justify-content: center;
    }
    .my_subtotal_margin_auto {
      margin: 0 auto;
    }
    .my_subtotal_flex_wrap {
      flex-wrap: wrap;
    }
    .my_cart_footer_mobile {
      display: flex;
      flex-wrap: wrap;
      padding: 45px 0 0 0;
    }
    .my_cart_footer_content_mobile {
      flex: 0 0 100%;
      max-width: 100%;
      text-align: center;
    }
    .my_cart_footer_checkout_width {
      min-width: 100%;
    }
  }
</style>

<div class="page-width{% if cart == empty %} is-empty{% endif %}" id="main-cart-footer" data-id="{{ section.id }}">
  <div>
    <div class="cart__footer my_cart_footer_mobile">
    {%- if section.settings.show_cart_note -%}
      <cart-note class="cart__note field my_subtotal_addnote my_subtotal_addnote_position my_cart_footer_content_mobile">
        <label for="Cart-note" class="my_subtotal_font_size my_subtotal_margin_bottom">Add a note to your order main</label>
        <textarea class="my_subtotal_textarea"  placeholder="Input your order">{{ cart.note }}</textarea>
      </cart-note>
    {%- endif -%}

    <div class="cart__blocks my_subtotal_cart_blocks_margin my_subtotal_margin_auto my_cart_footer_content_mobile">
      {% for block in section.blocks %}
        {%- case block.type -%}
          {%- when 'subtotal' -%}
          <div class="js-contents my_subtotal_margin_bottom_checkout" {{ block.shopify_attributes }}>
            <div class="totals my_subtotal_flex_wrap">
              <h3 class="totals__subtotal my_subtotal_font_size">{{ 'sections.cart.subtotal' | t }}</h3>
              <p class="totals__subtotal-value my_subtotal_subtotal_left">{{ cart.total_price | money_with_currency }}</p>
            </div>

            <div>
              {%- if cart.cart_level_discount_applications.size > 0 -%}
              <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                {%- for discount in cart.cart_level_discount_applications -%}
                <li class="discounts__discount discounts__discount--end">
                  {%- render 'icon-discount' -%}
                  {{ discount.title }}
                  (-{{ discount.total_allocated_amount | money }})
                </li>
                {%- endfor -%}
              </ul>
              {%- endif -%}
            </div>

            <small class="tax-note caption-large rte my_subtotal_tip_margin">
              {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
              {{ 'sections.cart.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
              {%- elsif cart.taxes_included -%}
              {{ 'sections.cart.taxes_included_but_shipping_at_checkout' | t }}
              {%- elsif shop.shipping_policy.body != blank -%}
              {{ 'sections.cart.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
              {%- else -%}
              {{ 'sections.cart.taxes_and_shipping_at_checkout' | t }}
              {%- endif -%}
            </small>
          </div>
        {%- else -%}
          <div class="cart__ctas my_subtotal_btn_flex_style" {{ block.shopify_attributes }}>
            <noscript>
              <button type="submit" class="cart__update-button button button--secondary" form="cart">
                {{ 'sections.cart.update' | t }}
              </button>
            </noscript>
            {% comment %}
            <button type="submit" id="checkout" class="cart__checkout-button button my_subtotal_button" name="checkout"% if cart == empty %} disabled% endif %} form="cart">
              {{ 'sections.cart.checkout' | t }}
            </button>
            {% endcomment %}
            <button type="submit" id="checkout" class="cart__checkout-button button my_subtotal_button my_subtotal_btn_style my_cart_footer_checkout_width" name="checkout"{% if cart == empty %} disabled{% endif %} form="cart">
              CHECK OUT
            </button>
          </div>

          {%- if additional_checkout_buttons -%}
          <div class="cart__dynamic-checkout-buttons additional-checkout-buttons">
            {{ content_for_additional_checkout_buttons }}
          </div>
          {%- endif -%}
        {%- endcase -%}
      {% endfor %}
      <div id="cart-errors" style="display:none;"></div>
    </div>
  </div>
 </div>
</div>

{% javascript %}
  class CartNote extends HTMLElement {
    constructor() {
      super();

      this.addEventListener('change', debounce((event) => {
        const body = JSON.stringify({ note: event.target.value });
        fetch(`${routes.cart_update_url}`, {...fetchConfig(), ...{ body }});
      }, 300))
    }
  }

  customElements.define('cart-note', CartNote);
{% endjavascript %}

<script>
  document.addEventListener('DOMContentLoaded', function() {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return (msie > 0 || trident > 0);
    }

    if (!isIE()) return;
    const cartSubmitInput = document.createElement('input');
    cartSubmitInput.setAttribute('name', 'checkout');
    cartSubmitInput.setAttribute('type', 'hidden');
    document.querySelector('#cart').appendChild(cartSubmitInput);
    document.querySelector('#checkout').addEventListener('click', function(event) {
      document.querySelector('#cart').submit();
    });
  });
</script>

{% schema %}
{
  "name": "t:sections.main-cart-footer.name",
  "class": "cart__footer-wrapper",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_cart_note",
      "default": false,
      "label": "t:sections.main-cart-footer.settings.show_cart_note.label"
    }
  ],
  "blocks": [
    {
      "type": "subtotal",
      "name": "t:sections.main-cart-footer.blocks.subtotal.name",
      "limit": 1
    },
    {
      "type": "buttons",
      "name": "t:sections.main-cart-footer.blocks.buttons.name",
      "limit": 1
    },
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
