{{ 'component-collection-hero.css' | asset_url | stylesheet_tag }}

<style>
  .my_collection_hero_des {
    margin: 10px 0 0;
    text-align: center;
  }
  
  .my_collection_hero_title {
    font-size: 36px;
    margin: 55px 0 0;
  }
  
  @media screen and (max-width: 750px) {
    .my_collection_hero_title {
      font-size: 36px;
      margin: 35px 0 0;
    }
  }
  
  @media screen and (max-width: 990px) {
    .my_collection_hero_title {
      font-size: 36px;
      margin: 35px 0 0;
    }
  }
</style>

<div class="collection-hero{% if section.settings.show_collection_image and collection.image %} collection-hero--with-image{% endif %}"
     style="{%- if section.settings.main_collection_banner_margin_top != blank -%}margin-top: {{ section.settings.main_collection_banner_margin_top }}px; {%- endif -%}{%- if section.settings.main_collection_banner_margin_bottom != blank -%}margin-bottom:{{ section.settings.main_collection_banner_margin_bottom }}px;{%- endif -%}">
  <div class="collection-hero__inner page-width my_section_margin_default">
    <div class="collection-hero__text-wrapper">
      <h1 class="collection-hero__title my_collection_hero_title my_font_weight_default">
        <span class="visually-hidden">{{ 'sections.collection_template.title' | t }}: </span>
        {{- collection.title | escape -}}
      </h1>
      <h4 class="my_collection_hero_des">{{- collection.description -}}</h4>
      {%- if section.settings.show_collection_description -%}
        <div class="collection-hero__description rte">{{ collection.description }}</div>
      {%- endif -%}
    </div>

    {%- if section.settings.show_collection_image and collection.image -%}
      <div class="collection-hero__image-container media">
        <img
          srcset="{%- if collection.image.width >= 165 -%}{{ collection.image | img_url: '165x' }} 165w,{%- endif -%}
            {%- if collection.image.width >= 360 -%}{{ collection.image | img_url: '360x' }} 360w,{%- endif -%}
            {%- if collection.image.width >= 535 -%}{{ collection.image | img_url: '535x' }} 535w,{%- endif -%}
            {%- if collection.image.width >= 750 -%}{{ collection.image | img_url: '750x' }} 750w,{%- endif -%}
            {%- if collection.image.width >= 1070 -%}{{ collection.image | img_url: '1070x' }} 1070w,{%- endif -%}
            {%- if collection.image.width >= 1500 -%}{{ collection.image | img_url: '1500x' }} 1500w,{%- endif -%}"
          src="{{ collection.image | img_url: '750x' }}"
          sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc(50vw - 130px), calc(50vw - 55px)"
          alt="{{ collection.title | escape }}"
          loading="lazy"
          width="{{ collection.image.width }}"
          height="{{ collection.image.height }}"
        >
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": false,
      "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "default": false,
      "label": "t:sections.main-collection-banner.settings.show_collection_image.label",
      "info": "t:sections.main-collection-banner.settings.show_collection_image.info"
    },
    {
      "type": "text",
      "id": "main_collection_banner_margin_top",
      "label": "Margin top",
      "info": "t:sections.margintip.settings.margin_tip.label"
    },
    {
      "type": "text",
      "id": "main_collection_banner_margin_bottom",
      "label": "Margin bottom",
      "info": "t:sections.margintip.settings.margin_tip.label"
    }
  ]
}
{% endschema %}
