{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'newsletter-section.css' | asset_url | stylesheet_tag }}

<style>
  .my_newsletter_heading_font_size {
    font-size: 24px;
    font-weight: 700;
  }
  
  .my_newsletter_button_style {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 50%;
    background: #000;
    color: #fff;
    border: 1px solid #000;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    padding: 0 0;
  }
  
  .my_newsletter_button_style_1 {
    height: 42px;
    min-height: 42px;
    margin: 1px 1px;
  }

  .my_newsletter_button_style_2 {
    height: 100%;
  }

  .my_newsletter_button_style_3 {
    height: 42px;
    min-height: 42px;
    margin: 1px 1px;
    border-radius: 4px;
  }

  .my_newsletter_button_style_4 {
    height: 100%;
    border-radius: 4px;
  }
  
  .my_field_input_radius {
    border-radius: 4px;
  }
  
  .my_field_input_style {
    height: 44px;
  }
  
  .my_field_input_style:hover,
  .my_field_input_style:focus {
    box-shadow: 0 0 0 0.1rem var(--color-foreground);
  }
  
  .my_newsletter_btn_text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .my_newsletter_button_text {
    padding: 0 15px;
  }
  
  @media screen and (max-width: 750px) {
    .my_newsletter_padding {
      padding: 5.5rem 1.5rem;
    }
  }
</style>

<div class="newsletter center spaced-section{% if section.settings.full_width == false %} newsletter--narrow page-width{% endif %}"
     style="{%- if section.settings.newsletter_margin_top != blank -%}margin-top: {{ section.settings.newsletter_margin_top }}px; {%- endif -%}{%- if section.settings.newsletter_margin_bottom != blank -%}margin-bottom:{{ section.settings.newsletter_margin_bottom }}px;{%- endif -%}">
  <div class="newsletter__wrapper color-{{ section.settings.color_scheme }} gradient my_newsletter_padding" {%- if section.settings.newsletter_bk_box-%} style="background-color:{{ section.settings.newsletter_bk_color }}" {%- endif -%}>
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when '@app' -%}
          {% render block %}
        {%- when 'heading' -%}
          <h2 class="h1 my_newsletter_heading_font_size" {{ block.shopify_attributes }}>{{ block.settings.heading | escape }}</h2>
        {%- when 'paragraph' -%}
          <div class="newsletter__subheading rte" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
        {%- when 'email_form' -%}
          <div {{ block.shopify_attributes }}>
            {% form 'customer', class: 'newsletter-form' %}
              <input type="hidden" name="contact[tags]" value="newsletter">
              <div class="newsletter-form__field-wrapper">
                <div class="field my_newsletter_mobile_flex">
                  <input
                    id="NewsletterForm--{{ section.id }}"
                    type="email"
                    name="contact[email]"
                    class="field__input my_field_input_style {% if section.settings.button_design == '3' or section.settings.button_design == '4' %}my_field_input_radius{% endif %}"
                    style="background: #fff;"
                    value="{{ form.email }}"
                    aria-required="true"
                    autocorrect="off"
                    autocapitalize="off"
                    autocomplete="email"
                    {% if form.errors %}
                      autofocus
                      aria-invalid="true"
                      aria-describedby="Newsletter-error--{{ section.id }}"
                    {% elsif form.posted_successfully? %}
                      aria-describedby="Newsletter-success--{{ section.id }}"
                    {% endif %}
                    placeholder="{{ 'newsletter.label' | t }}"
                    required
                  >
                  <label class="field__label" for="NewsletterForm--{{ section.id }}">
                    {{ 'newsletter.label' | t }}
                  </label>
                  
                  <button type="submit" class="my_newsletter_button_style {% if section.settings.button_design == '1' %}my_newsletter_button_style_1{% elsif section.settings.button_design == '2' %}my_newsletter_button_style_2{% elsif section.settings.button_design == '3' %}my_newsletter_button_style_3{% elsif section.settings.button_design == '4' %}my_newsletter_button_style_4{% endif %} my_newsletter_mobile_style">
                    <span class="my_newsletter_button_text">SUBSCRIBE</span>
                  </button>
                </div>
                {%- if form.errors -%}
                  <small class="newsletter-form__message form__message" id="Newsletter-error--{{ section.id }}">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
                {%- endif -%}
              </div>
              {%- if form.posted_successfully? -%}
                <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="Newsletter-success--{{ section.id }}" tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
              {%- endif -%}
            {% endform %}
          </div>
      {%- endcase -%}
    {%- endfor -%}
  </div>
</div>

<style>
  .newsletter__wrapper .newsletter-form__field-wrapper{
/*     background-color:white; */
  }
</style>
{% schema %}
{
  "name": "newsletter",
  "tag": "section",
  "class": "spaced-section--full-width",
  "settings": [

	{
      "type": "color",
      "id": "newsletter_bk_color",
      "label": "Background",
      "default": "#f3f3f3"
     },
	{
        "type": "checkbox",
        "id": "newsletter_bk_box",
        "label": "Show background",
        "default": true
      },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "t:sections.newsletter.settings.full_width.label"
    },
    {
      "type": "paragraph",
      "content": "t:sections.newsletter.settings.paragraph.content"
    },
    {
      "type": "select",
      "id": "button_design",
      "label": "Button Design",
      "default": "1",
      "options": [
        {
          "value": "1",
          "label": "Design 1"
        },
        {
          "value": "2",
          "label": "Design 2"
        },
        {
          "value": "3",
          "label": "Design 3"
        },
        {
          "value": "4",
          "label": "Design 4"
        }
      ]
    },
    {
      "type": "text",
      "id": "newsletter_margin_top",
      "label": "Margin top",
	  "placeholder": "55",
      "info": "t:sections.margintip.settings.margin_tip.label"
    },
    {
      "type": "text",
      "id": "newsletter_margin_bottom",
      "label": "Margin bottom",
      "info": "t:sections.margintip.settings.margin_tip.label",
	  "placeholder": "123",
	  "default": "12"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.newsletter.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "SUBSCRIBE TO OUR NEWSLETTER",
          "label": "t:sections.newsletter.blocks.heading.settings.heading.label"
        }
      ]
    },
    {
      "type": "paragraph",
      "name": "t:sections.newsletter.blocks.paragraph.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Promotions, new products and sales. Directly to your inbox</p>",
          "label": "t:sections.newsletter.blocks.paragraph.settings.paragraph.label"
        }
      ]
    },
    {
      "type": "email_form",
      "name": "t:sections.newsletter.blocks.email_form.name",
      "limit": 1
    },
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "newsletter",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "paragraph"
        },
        {
          "type": "email_form"
        }
      ]
    }
  ]
}
{% endschema %}
