{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'newsletter-section.css' | asset_url | stylesheet_tag }}

{%- style -%}
.my_password_logo { display: block; width: {{ section.settings.logo_width }}px; }
.my_password_hide_newsletter_signup { {%- if section.settings.show_newsletter_signup -%}visibility: hidden; user-select: none; {%- endif -%} }
.my_password_link { display: block; padding: 0;width: {{ section.settings.logo_width }}px; margin: 120px auto 0; }
{%- endstyle -%}

<style>
  .my_password {
    flex-wrap: wrap;
    justify-content: right !important;
    height: auto !important;
  }
  
  .my_password_content {
    padding-top: 0 !important;
    height: auto !important;
  }
  
  .my_password_button_1 {
    margin: 30px 30px 0 0;
    border: 1px solid black;
    height: 42px;
    line-height: 42px;
    padding: 0 20px;
  }
  
  .my_password_button_1_color {
    font-size: 13px;
    color: #000;
  }
  
  .my_password_summary_div {
    justify-content: center;
    text-decoration: none;
    font-size: 13px;
  }
  
  .my_password_heading {
    margin-top: 86px;
    font-weight: 700;
  }
  
  .my_password_copyright {
    margin: 32px 0 20px;
  }
  
  .my_password_email {
    height: 40px;
    padding-left: 12px !important;
    font-size: 13px;
  }
  
  .my_password_form {
    margin-top: 0;
    flex-direction: column;
  }
  
  .my_password_form_div {
    flex-wrap: wrap;
  }
  
  .my_password_button {
    width: 100%;
    margin-top: 20px;
    min-height: 40px;
    font-size: 16px;
    font-weight: 700;
  }
  
  .my_password_tip {
    position: static;
    box-sizing: border-box;
    width: 36rem;
    height: 50px;
/*     line-height: 50px; */
  	margin: 20px 0 0;
    border: 1px solid #000;
    justify-content: center;
    font-size: 14px;
  }
  
  .my_password_tip:focus-visible {
    outline: none;
    box-shadow: none;
  }
  
  .my_password_email_font {
    font-size: 13px;
  }
  
  .my_password_icon {
  	margin-top: 20px;
  }
</style>

<style>
  .newsletter__wrapper .newsletter-form__field-wrapper{
    background-color:white;
  }
</style>

<div class="newsletter center{% if section.settings.full_width == false %} newsletter--narrow page-width{% endif%} my_password">
  <div class="my_password_button_1">
    <password-modal>
      <details class="password-modal modal">
        <summary class="modal__toggle" aria-haspopup="dialog" aria-label="{{ 'general.password_page.modal' | t }}">
          <div class="modal__toggle-open password-link link underlined-link my_password_summary_div">
            {% comment %}{% render 'icon-padlock' %}{% endcomment %}
            {{ 'general.password_page.login_password_button_1' | t }}
          </div>
          <div class="modal__toggle-close" aria-hidden="true">
            {% render 'icon-close' %}
          </div>
        </summary>
        <div
          class="modal__content"
          role="dialog"
          aria-labelledby="DialogHeading"
          aria-modal="true"
        >
          <div class="password-modal__content" tabindex="-1">
            <button type="button" class="modal__close-button link" aria-label="{{ 'accessibility.close' | t }}">
              {% render 'icon-close' %}
            </button>
            <h2 class="password-modal__content-heading" id="DialogHeading">
              {{ 'general.password_page.login_form_heading' | t }}
            </h2>
            {%- form 'storefront_password', class: 'password-form' -%}
              <div class="password-field field{% if form.errors %} password-field--error{% endif %}">
                <input
                  type="password"
                  name="password"
                  id="Password"
                  class="field__input"
                  autocomplete="current-password"
                  {% if form.errors %}
                    aria-invalid="true"
                    aria-describedby="PasswordLoginForm-password-error"
                  {%- endif -%}
                  placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
                >
                <label class="field__label" for="{{ 'general.password_page.login_form_password_label' | t }}">{{ 'general.password_page.login_form_password_placeholder' | t }}</label>
                {%- if form.errors -%}
                  <div id="PasswordLoginForm-password-error" role="status">
                    <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                    <span class="form__message">{% render 'icon-error' %} {{ 'general.password_page.login_form_error' | t }}</span>
                  </div>
                {%- endif -%}
              </div>
              <button name="commit" class="password-button button button--outline">
                {{ 'general.password_page.login_form_submit' | t }}
              </button>
            {%- endform -%}
            <small class="password__footer-text">{{ 'general.password_page.admin_link_html' | t }}</small>
          </div>
        </div>
      </details>
    </password-modal>
  </div>
  <div class="newsletter__wrapper color-{{ section.settings.color_scheme }} gradient my_password_content" {%- if section.settings.newsletter_bk_box-%} style="background-color:{{ section.settings.newsletter_bk_color }}" {%- endif -%}>
    <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset my_password_link">
      {%- if section.settings.logo_image != blank -%}
      {%- assign image_size = section.settings.logo_width | append: 'x' -%}
      <img srcset="{{ section.settings.logo_image | img_url: image_size }} 1x, {{ section.settings.logo_image | img_url: image_size, scale: 2 }} 2x"
           src="{{ section.settings.logo_image | img_url: image_size }}"
           loading="lazy"
           class="header__heading-logo my_password_logo"
           width="{{ section.settings.logo_image.width }}"
           height="{{ section.settings.logo_image.height }}"
           alt="{{ section.settings.logo_image.alt | default: shop.name | escape }}"
           >
      {%- endif -%}
    </a>
    {%- for block in section.blocks -%}
      {%- case block.type -%}
      {%- when 'heading' -%}
        {%- if block.settings.heading != blank -%} 
          <h1 class="my_password_heading">{{ block.settings.heading }}</h1>
        {%- endif -%}      
        <div class="my_password_hide_newsletter_signup">
          <p class="my_password_copyright">{{ block.settings.copyrights }}</p>
        </div>
      <div {{ block.shopify_attributes }}>
        {%- when 'email_form' -%}
        {% form 'customer', class: 'newsletter-form my_password_form' %}
        <input type="hidden" name="contact[tags]" value="newsletter">
        <div class="newsletter-form__field-wrapper my_password_hide_newsletter_signup">
          <div class="field my_password_form_div">
            <input
                   id="NewsletterForm--{{ section.id }}"
                   type="email"
                   name="contact[email]"
                   class="field__input my_password_email"
                   value="{{ form.email }}"
                   aria-required="true"
                   autocorrect="off"
                   autocapitalize="off"
                   autocomplete="email"
                   {% if form.errors %}
                   autofocus
                   aria-invalid="true"
                   aria-describedby="Newsletter-error--{{ section.id }}"
                   {% elsif form.posted_successfully? %}
                   aria-describedby="Newsletter-success--{{ section.id }}"
                   {% endif %}
                   placeholder="{{ 'newsletter.label' | t }}"
                   required
                   >
            <label class="field__label my_password_email_font" for="NewsletterForm--{{ section.id }}">
              {{ block.settings.newsletter_placeholder_text }}
            </label>
            <button type="submit" class="button my_password_button">
              {{ block.settings.newsletter_button_text }}
            </button>
          </div>
          {%- if form.errors -%}
          <small class="newsletter-form__message form__message" id="Newsletter-error--{{ section.id }}" style="display: none;">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
          {%- endif -%}
        </div>
        {%- if form.posted_successfully? -%}
        <h3 class="newsletter-form__message newsletter-form__message--success form__message my_password_tip" id="Newsletter-success--{{ section.id }}" tabindex="-1" autofocus>{{ block.settings.signup_form_success }}</h3>
        {%- endif -%}
        {% endform %}
        {%- when 'social' -%}
        <div class="my_password_icon">
          {%- if block.settings.social == 'Share' -%}
          {%- render 'my-social-sharing',class_tooltip:'ttip_nt tooltip_bottom_right' -%}
          {%- elsif block.settings.social == 'Follow' -%}
          {% if forloop.last %}
          {% assign class_tooltip = 'ttip_nt tooltip_bottom_left' %}
          {% else %}
          {% assign class_tooltip = 'ttip_nt tooltip_bottom_right' %}
          {% endif %}
          {%- render 'my-social-sharing',follow_social:true,class_tooltip:class_tooltip -%}
          {%- elsif block.settings.social == 'None' -%}
          {%- endif -%}
        </div>
      </div>
     {%- endcase -%}
   {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "Password",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo_image",
      "label": "Logo image"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 120,
      "step": 1,
      "default": 54,
      "label": "Custom logo width"
    },
	{
      "type": "checkbox",
      "id": "show_newsletter_signup",
      "label": "Show newsletter signup",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "heading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Our new store will be opening soon",
          "label": "Heading"
        },
        {
          "type": "html",
          "id": "copyrights",
          "default": "We are about to go public so be sure to root on us and check back in anytime!<br>Can't wait to have you!",
          "label": "Copyrights"
        }
      ]
    },
    {
      "type": "email_form",
      "name": "email_form",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "newsletter_placeholder_text",
          "default": "enter your email address",
          "label": "Newsletter placeholder text"
        },
        {
          "type": "text",
          "id": "newsletter_button_text",
          "default": "SUBMIT",
          "label": "Newsletter button text"
        },
        {
          "type": "text",
          "id": "signup_form_success",
          "default": "We will send you an email right before we open!",
          "label": "Signup form success"
        }
      ]
    },
    {
      "type": "social",
	  "name": "social",
      "limit": 1,
      "settings": [
		{
          "type": "select",
          "id": "social",
          "options": [
            {
              "value": "None",
              "label": "None"
            },
            {
              "value": "Share",
              "label": "Share"
            },
            {
              "value": "Follow",
              "label": "Follow"
            }
          ],
          "default": "Follow",
          "label": "Social"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Password"
    }
  ]
}
{% endschema %}
