{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'newsletter-section.css' | asset_url | stylesheet_tag }}

<style>
  .my_password_email {
    height: 40px;
    padding-left: 12px;
    font-size: 13px;
  }
  .my_password_form {
    flex-wrap: wrap;
  }
  .my_password_button {
    width: 100%;
    margin-top: 20px;
    min-height: 40px;
    font-size: 16px;
    font-weight: 700;
  }
  .my_password_tip {
    box-sizing: border-box;
    width: 36rem;
    height: 50px;
    bottom: -71px;
  	margin: 0 0;
    border: 1px solid;
    justify-content: center;
    font-size: 14px;
  }
  .my_password_email_font {
    font-size: 13px;
  }
</style>

<div class="newsletter center{% if section.settings.full_width == false %} newsletter--narrow page-width{% endif%}">
  <div class="newsletter__wrapper color-{{ section.settings.color_scheme }} gradient" {%- if section.settings.newsletter_bk_box-%} style="background-color:{{ section.settings.newsletter_bk_color }}" {%- endif -%}>
    {%- if section.settings.heading != blank -%} 
      <h1>{{ section.settings.heading | escape }}</h1>
    {%- endif -%}
    <div>
      <p>{{ section.settings.copyrights }}</p>
    </div>
<!--     %- for block in section.blocks -%} -->
<!--       %- case block.type -%} -->
<!--         %- when '@app' -%} -->
<!--           % render block %} -->
<!--         %- when 'heading' -%} -->
<!--           <h2 class="h1"  block.shopify_attributes }}> block.settings.heading | escape }}</h2> -->
<!--         %- when 'paragraph' -%} -->
<!--           <div class="newsletter__subheading rte"  block.shopify_attributes }}> block.settings.text }}</div> -->
<!--         %- when 'email_form' -%} -->
          <div {{ block.shopify_attributes }}>
            {% form 'customer', class: 'newsletter-form' %}
              <input type="hidden" name="contact[tags]" value="newsletter">
              <div class="newsletter-form__field-wrapper">
                <div class="field my_password_form">
                  <input
                    id="NewsletterForm--{{ section.id }}"
                    type="email"
                    name="contact[email]"
                    class="field__input my_password_email"
                    value="{{ form.email }}"
                    aria-required="true"
                    autocorrect="off"
                    autocapitalize="off"
                    autocomplete="email"
                    {% if form.errors %}
                      autofocus
                      aria-invalid="true"
                      aria-describedby="Newsletter-error--{{ section.id }}"
                    {% elsif form.posted_successfully? %}
                      aria-describedby="Newsletter-success--{{ section.id }}"
                    {% endif %}
                    placeholder="{{ 'newsletter.label' | t }}"
                    required
                  >
                  <label class="field__label my_password_email_font" for="NewsletterForm--{{ section.id }}">
                    {{ section.settings.newsletter_placeholder_text }}
                  </label>
<!--                   <button type="submit" class="newsletter-form__button field__button" name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}">
                   % render 'icon-arrow' % 
                    subscribe
                  </button> -->
                  
                  
                  <button type="submit" class="button my_password_button">
                    {{ section.settings.newsletter_button_text }}
                  </button>
                </div>
                {%- if form.errors -%}
                  <small class="newsletter-form__message form__message" id="Newsletter-error--{{ section.id }}" style="display: none;">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
                {%- endif -%}
              </div>
              {%- if form.posted_successfully? -%}
<!--                 <h3 class="newsletter-form__message newsletter-form__message--success form__message my_password_tip" id="Newsletter-success-- section.id }}" tabindex="-1" autofocus>% render 'icon-success' %} 'newsletter.success' | t }}</h3> -->
                <h3 class="newsletter-form__message newsletter-form__message--success form__message my_password_tip" id="Newsletter-success--{{ section.id }}" tabindex="-1" autofocus>{{ section.settings.signup_form_success }}</h3>
              {%- endif -%}
            {% endform %}
            <div>1</div>
            {%- render 'my-social-sharing',follow_social:true,class_tooltip:class_tooltip -%}
          </div>
<!--       %- endcase -%}
    %- endfor -%} -->
  </div>
</div>



<style>



  .newsletter__wrapper .newsletter-form__field-wrapper{
  
  
  background-color:white;
  
  }
</style>
{% schema %}
{
  "name": "Password",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
	{
      "type": "checkbox",
      "id": "show_newsletter_signup",
      "label": "Show newsletter signup",
      "default": true
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Our new store will be opening soon",
      "label": "Heading"
    },
    {
      "type": "html",
      "id": "copyrights",
      "default": "We are about to go public so be sure to root on us and check back in anytime!<br>Can't wait to have you!",
      "label": "Copyrights"
    },
    {
      "type": "text",
      "id": "newsletter_placeholder_text",
      "default": "enter your email address",
      "label": "Newsletter placeholder text"
    },
	{
      "type": "text",
      "id": "newsletter_button_text",
      "default": "SUBMIT",
      "label": "Newsletter button text"
    },
	{
      "type": "text",
      "id": "signup_form_success",
      "default": "We will send you an email right before we open!",
      "label": "Signup form success"
    },
    {
      "type": "select",
      "id": "social",
      "options": [
        {
          "value": "None",
          "label": "None"
        },
        {
          "value": "Share",
          "label": "Share"
        },
        {
          "value": "Follow",
          "label": "Follow"
        }
      ],
      "default": "Follow",
      "label": "Social"
    }
  ],
  "presets": [
    {
      "name": "Password"
    }
  ]
}
{% endschema %}
