{%- style -%}
{%- assign promo_bar_bg_op = section.settings.promo_bar_bg_op | divided_by: 100.0 -%}
.h__banner { background-color: {{ section.settings.promo_bar_bg | color_modify: 'alpha', promo_bar_bg_op }};min-height:{{section.settings.promo_bar_height}}px;font-size:{{section.settings.promo_bar_fontsize}}px;}.h_banner_wrap {color:{{section.settings.promo_bar_cl}} }.h_banner_close,.h_banner_close:hover,.h_banner_close:focus {color:{{section.settings.promo_bar_cl_btn}} !important }.h_banner_close:after, .h_banner_close:before {background-color:{{section.settings.promo_bar_cl_btn}} }
.my_a:hover { color: {{ section.settings.promo_bar_cl_btn | color_darken: 10 }} !important; transition: all .3s; }
.my_a:hover .i_left { transform: rotate(45deg);border-bottom: 1px solid {{ section.settings.promo_bar_cl_btn | color_darken: 10 }} !important; transition: all .3s; } .my_a:hover .i_right { transform: rotate(-45deg);border-bottom: 1px solid {{ section.settings.promo_bar_promo_bar_cl_btn | color_darken: 10 }} !important; transition: all .3s; }
.my_a:hover .close_left { border-bottom: 2px solid {{ section.settings.promo_bar_cl_btn | color_darken: 10 }} !important; transition: all .3s; } .my_a:hover .close_right { border-bottom: 2px solid {{ section.settings.promo_bar_cl_btn | color_darken: 10 }} !important; transition: all .3s; }
.my_a { color: {{ section.settings.promo_bar_cl_btn }}; }
.my_a .i_left { border-bottom: 1px solid {{ section.settings.promo_bar_cl_btn }};} .my_a .i_right { border-bottom: 1px solid {{ section.settings.promo_bar_cl_btn }};}
.close_left { border-bottom: 2px solid {{ section.settings.promo_bar_cl_btn }}; } .close_right { border-bottom: 2px solid {{ section.settings.promo_bar_cl_btn }}; }
{%- endstyle -%}

<style>
  #hide_banner {
  	transition: all 1s;
  }
  
  .my_promo_flex {
    display: flex;
    justify-content: space-around;
    align-items: center; 
  }
  
  .my_style {
   width: 100%; 
   padding: 0px 0;
  }
  
  .my_center {
    position: relative;
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
  }
  
  .my_title_div {
    flex: 10;
  	padding: 0 15px;
  }
  
  .my_a {
    display: block;
    position: relative;
    flex: 1;
    padding-left: 10px;
    margin-right: 30px;
  	text-decoration: none;
  }
  
  .my_a .i_left,
  .my_a .i_right {
    content: "";
  	position: absolute;
    display: inline-block;
    width: 7px;
    left: 0;
    top: 50%;
    margin-top: 1px;
  }
  
  .close_left,
  .close_right {
  	content: "";
  	position: absolute;
    display: inline-block;
    width: 20px;
    left: 0;
    top: 50%;
    transform: rotate(45deg);
  }
  
  .close_right {
  	transform: rotate(-45deg);
  }
  
  .hide_close {
    opacity: 0;
    user-select: none;
    cursor: default;
  }
  
  .la-arrow-right {
  	position: relative;
  }
  
  .my_link {
  	width: 100%;
    height: 100%;
  }
</style>
<!-- margin-top:-{{ section.settings.promo_bar_height }}px; -->
<div id="hide_banner" style="height:auto;margin-top:-{{ section.settings.promo_bar_height }}px;{%- if settings.promo_bar == false and settings.promo_bar_home_page_only -%}display: none;{%- elsif settings.promo_bar == false and settings.promo_bar_home_page_only == false -%}display: none;{%- elsif settings.promo_bar and settings.promo_bar_home_page_only and request.page_type != 'index' -%}display: none;{%- endif -%}" data-mheight='{{ section.settings.promo_bar_height }}'>
  <div class="h__banner bgp pt__10 pb__10 fs__14 flex fl_center al_center pr oh show_icon_{{section.settings.promo_bar_show_icon}} my_promo_flex"
       data-date='{{section.settings.promo_bar_date}}'>
    {%- if section.settings.promo_bar_link != blank -%}<a href="{{ section.settings.promo_bar_link }}" class="pa t__0 l__0 r__0 b__0 z_100 my_link">&nbsp;</a>{%- endif -%}
    <div class="container my_style" {% if settings.full_width == false %} style="max-width: 1200px;"{% endif %}style="font-size: 14px;">
      <div class="row al_center my_center">
        {%- capture cap_btn -%}
        {%- if section.settings.promo_bar_show_close -%}
          {%- if section.settings.promo_bar_show_icon -%}
          <div class="col-auto">
            <a data-no-instant rel="nofollow" href="#" class="h_banner_close pr pl__10 cw z_index my_a">
              <i class="close_left"></i>
              <i class="close_right"></i>
            </a>
          </div>
          {%- else -%}
          <div class="col-auto">
            <a data-no-instant rel="nofollow" href="#" class="h_banner_close pr pl__10 cw z_index my_a">
              <i class="i_left"></i>
              <i class="i_right"></i>
              {{ section.settings.promo_bar_txt_btn }}
            </a>
          </div>
          {%- endif -%}
        {%- endif -%}
        {%- endcapture -%}
        <div class="hide_close">{{-cap_btn-}}</div>
        {%- if section.settings.promo_bar_link != blank -%}<a href="{{ section.settings.promo_bar_link }}" class="pa t__0 l__0 r__0 b__0 z_100 my_link">&nbsp;</a>{%- endif -%}
        <div class="col h_banner_wrap tc cw my_title_div">{{ section.settings.promo_bar_textarea }}</div>
        <div class="show_close">{{-cap_btn-}}</div>
      </div>
    </div>
  </div>
</div>

<script>
  let close = document.getElementsByClassName('show_close')[0];
  let my_center = document.getElementsByClassName('my_center')[0];
  let hide_banner = document.getElementById('hide_banner');  
  let hide_banner_height = document.getElementById('hide_banner').scrollHeight;
  let count = document.getElementsByClassName('row al_center my_center')[0].childElementCount;
  close.onclick = function () {
    if(hide_banner_height > hide_banner.dataset.mheight) {
      hide_banner.dataset.mheight = hide_banner_height;
    }
    hide_banner.style.marginTop = -hide_banner.dataset.mheight + 'px';
  }
  
  if(count != document.getElementsByClassName('row al_center my_center')[0].childElementCount) {
    close.onclick = function () {
      if(hide_banner_height > hide_banner.dataset.mheight) {
        hide_banner.dataset.mheight = hide_banner_height;
      }
      hide_banner.style.marginTop = -hide_banner.dataset.mheight + 'px';
    }
  }
  
//     hide_banner.style.marginTop = -hide_banner.dataset.mheight + 'px';
  
  
      hide_banner.style.marginTop = 0 + 'px';

</script>

{%- schema -%}
  {
    "name": "Promo Bar",
    "settings": [
      {
        "type": "url",
        "id": "promo_bar_link",
        "label": "Banner link"
      },
      {
        "type": "textarea",
        "id": "promo_bar_textarea",
        "label": "Banner content",
        "default": "Today deal sale off <strong>70%</strong> <strong>On All</strong> Hurry Up <i class='las la-arrow-right'></i>",
        "info": "Place here text you want to see in the header banner. You can use shortocdes: [countdown]"
      },
      {
        "type": "range",
        "id": "promo_bar_height",
        "label": "Min Height",
        "default": 41,
        "min": 20,
        "max": 120,
        "step": 1,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "promo_bar_fontsize",
        "label": "Font size",
        "default": 12,
        "min": 12,
        "max": 18,
        "step": 0.5,
        "unit": "px"
      },
      {
        "type": "color",
        "id": "promo_bar_cl",
        "label": "Text Color",
        "default": "#fff"
      },
      {
        "type": "color",
        "id": "promo_bar_bg",
        "label": "Background Color",
        "default": "#E21F4A"
      },
      {
        "type": "range",
        "id": "promo_bar_bg_op",
        "label": "Background opacity",
        "default": 100,
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "%"
      },
      {
        "type": "checkbox",
        "id": "promo_bar_show_close",
        "label": "Show close button?",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "promo_bar_show_icon",
        "label": "Show only icon close?",
        "default": false
      },
      {
        "type": "text",
        "id": "promo_bar_txt_btn",
        "label": "Button close Text",
        "default": "close"
      },
      {
        "type": "color",
        "id": "promo_bar_cl_btn",
        "label": "Button close Color",
        "default": "#fff"
      },
      {
        "type": "range",
        "id": "promo_bar_date",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "day",
        "label": "Header banner expires",
        "info": "You will be able to specify when to expire the cookie. Once you click the \"CLOSE\" button",
        "default": 60
      }
    ]
  }
{% endschema %}
