
{% comment %}

  
 	render 'slideshow-beautify-swiper': 这是swiper轮播图
	render 'slideshow-beautify' ： 这是还没适应后台刷新机制

{% endcomment %}


{% assign customerId = customer.id %}

{% assign sid = section.id %}
{% assign se_blocks = section.blocks %}
{% assign se_height = section.settings.se_height %}

{%- assign image = section.blocks.settings.image %}


<section class="spaced-section nt_se_{{sid}} se_height_{{ se_height }}"  style="overflow: hidden;margin:0;padding:0;{%- if section.settings.slideshow_beautify_margin_top != blank -%}margin-top: {{ section.settings.slideshow_beautify_margin_top }}px; {%- endif -%}{%- if section.settings.slideshow_beautify_margin_bottom != blank -%}margin-bottom:{{ section.settings.slideshow_beautify_margin_bottom }}px;{%- endif -%}">

{% render 'slideshow-beautify-swiper',section:section,color_primary:color_primary %}

</section>

 {%- style -%}

 {% assign color_primary = section.settings.show_button_hover_color %}

 {% assign bk_btn=section.settings.show_button_color %}


  {%- endstyle -%}



 {%- if section.blocks.size > 0 %}
     {%- style -%}

        {%- if se_height == 'adapt_f' -%}
				
				{%- assign block = se_blocks | where: "type", 'slideshow_img2' | first -%}
             	{%- assign ratio = block.settings.image.aspect_ratio |default:1.7777777777777777 -%}
				{%- assign img_h = block.settings.image.height | default:300 -%}				

				.feature-artworks{ max-height: 790px;min-height:300px}
     			.slideshow_content{ max-height: 790px;min-height:300px}


				.feature-artworks{ height: {{img_h}}px}
     			.slideshow_content{ height: {{img_h}}px}
		

				@media screen and (max-width: 750px) {  

				.feature-artworks{ height: {{img_h}}px}
     			.slideshow_content{ height: {{img_h}}px}

				}
				@media screen and (max-width: 990px) {  

				.feature-artworks{ height: {{img_h}}px}
     			.slideshow_content{ height: {{img_h}}px}

				}
		{%- endif -%}

		{%- for block in se_blocks -%} {%- assign bid = block.id -%}{%- assign btype = block.type -%}
		{%- if se_height == 'adapt' -%}
          		{%- assign img_h = block.settings.image.height | default:300 -%}	
       			.feature-artworks{ max-height: 790px;min-height:300px}
     			.slideshow_content{ max-height: 790px;min-height:300px}

				.feature_box_{{section.id}}{ height: {{img_h}}px}
     			.slideshow_box_{{section.id}}{ height: {{img_h}}px}

				@media screen and (max-width: 750px) {  

				.feature-artworks{ max-height: 350px;min-height:200px }
     			.slideshow_content{ max-height: 350px;min-height:200px } 

				}
				@media screen and (max-width: 990px) {  

				.feature-artworks{ max-height:400px;min-height:200px }
     			.slideshow_content{ max-height: 400px;min-height:200px } 

				}





        {%- endif -%}
  		{%- endfor -%}

     {%- endstyle -%}
  {%- endif -%}




<script>



</script>

{% schema %}
  {
    "name": "Slideshow Beautify2",
 	"tag": "section",
	"max_blocks": 10,
    "settings": [
      {
        "type": "select",
        "id": "se_height",
        "label": "Slide height",
        "default": "adapt",
        "info":"Learn more about.[slideshow guidelines](https://help.shopify.com/en/manual/using-themes/themes-by-shopify/debut#slideshow-sections-specific)",
        "options": [
          {
            "value": "adapt_f",
            "label": "Adapt to first image"
          },
          {
            "value": "adapt",
            "label": "Adapt to image"
          }
        ]
      },
      {
        "type": "select",
        "id": "text_size",
        "label": "Text size",
        "default": "medium",
        "options": [
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "overlay",
        "label": "Show overlay",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "loop",
        "label": "Slide Loop",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "auto_play",
        "label": "Auto-rotate slides",
        "default": true
      },
      {
        "type": "range",
        "id": "auto_time",
        "min": 3,
        "max": 9,
        "step": 1,
        "label": "Change slide every",
        "unit": "sec",
        "default": 3
      },
      {
        "type": "checkbox",
        "id": "show_button",
        "label": "Show Prev Next Button",
        "default": true
      },
      {
        "type": "select",
        "id": "show_button_visible",
        "label": "Visible",
        "default": "always",
        "options": [
          {
            "value": "only_hover",
            "label": "Only hover"
          },
          {
            "value": "always",
            "label": "Always"
          }
        ]
      },
      {
        "type": "select",
        "id": "show_button_style",
        "label": "Style",
        "default": "style1",
        "options": [
          {
            "value": "style1",
            "label": "Style1"
          },
          {
            "value": "style2",
            "label": "Style2"
          },
          {
            "value": "style3",
            "label": "Style3"
          }
        ]
      },
      {
        "type": "select",
        "id": "show_button_color",
        "label": "Color",
        "default": "white",
        "options": [
          {
            "value": "transparent",
            "label": "Transparent"
          },
          {
            "value": "white",
            "label": "White"
          },
          {
            "value": "gray",
            "label": "Gray"
          }
        ]
      },
      {
        "type": "color",
        "id": "show_button_hover_color",
        "label": "Hover"
      },
      {
        "type": "checkbox",
        "id": "show_page_Dot",
        "default": false,
        "label": "Show Page Dot"
      },
      {
        "type":"select",
        "id":"page_dot_style",
        "label":"Style",
        "default":"style_1",
        "options":[{"value":"style_1","label":"Style 1"},{"value":"style_2","label":"Style 2"}]
      },
      {
        "type":"select",
        "id":"page_dot_color",
        "label":"Color",
        "default":"dark",
        "options":[{"value":"dark","label":"Dark"},{"value":"light","label":"Light"}]
      },
      {
        "type": "text",
        "id": "slideshow_beautify_margin_top",
        "label": "Margin top",
        "info": "t:sections.margintip.settings.margin_tip.label"
      },
      {
        "type": "text",
        "id": "slideshow_beautify_margin_bottom",
        "label": "Margin bottom",
        "info": "t:sections.margintip.settings.margin_tip.label"
      }
  	],
	"blocks": [
		{
      "type": "slideshow_img2",
      "name": "Image slide (Parent)",
      "settings": [
       {
           "type": "image_picker",
           "id": "image",
           "label": "Image",
           "info": "1800 x 600px .jpg recommended"
       },

		{
        "type": "select",
        "id": "image_alignment",
        "label": "image alignment",
        "default": "center center",
        "options": [
          {
            "value": "top left",
            "label": "Top left"
          },
          {
            "value": "top center",
            "label": "Top center"
          },
          {
            "value": "top right",
            "label": "Top right"
          },
          {
            "value": "center left",
            "label": "Middle left"
          },
		 {
            "value": "center center",
            "label": "Middle center"
          },
		 {
            "value": "center right",
            "label": "Middle right"
          },
		 {
            "value": "bottom left",
            "label": "Bottom left"
          },
		 {
            "value": "bottom center",
            "label": "Bottom center"
          },
		 {
            "value": "bottom right",
            "label": "Bottom right"
          }
        ]
      },


		{
        "type": "select",
        "id": "text_alignment",
        "label": "Text alignment",
        "default": "middle_center",
        "options": [
          {
            "value": "top_left",
            "label": "Top left"
          },
          {
            "value": "top_center",
            "label": "Top center"
          },
          {
            "value": "top_right",
            "label": "Top right"
          },
          {
            "value": "middle_left",
            "label": "Middle left"
          },
		 {
            "value": "middle_center",
            "label": "Middle center"
          },
		 {
            "value": "middle_right",
            "label": "Middle right"
          },
		 {
            "value": "bottom_left",
            "label": "Bottom left"
          },
		 {
            "value": "bottom_center",
            "label": "Bottom center"
          },
		 {
            "value": "bottom_right",
            "label": "Bottom right"
          }
        ]
      },

		{
			"type":"text",
			"id":"slider_heading_text",
			"label":"Heading",
			"default":"heading"
		},
		{
			"type":"text",
			"id":"slider_sub_text",
			"label":"Sub text",
			"default":"sub text"
		},
		{
			"type":"text",
			"id":"slider_button_text",
			"label":"Button text",
			"default":"title name"
		},
		{
          "type": "url",
          "id": "slider_button_link",
          "label": "Button link"
        }

	]

	}
       
	],
	"presets": [
		{
            "name": "Slideshow",
            "category": "III. Image"
        }
	]
  }
{% endschema %}

