

{% assign customerId = customer.id %}





<section style="overflow: hidden;margin:0;padding:0;">

  <div class="feature-artworks">

    show_button_color
    
    <!--    左箭头    -->
      <div class=" dn bk_{{section.settings.show_button_color}} {% if section.settings.show_button  %}icon-changebtn  {% endif%} leftbtn    button_{{ section.settings.show_button_style }}">
      	<p class="navmenu-icon navmenu-icon-depth-1 openbtn" data-navmenu-trigger="" style="height:14px;">
            <svg aria-hidden="true" focusable="false" role="presentation" width="20" height="16" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="icon-chevron-down-left" d="M4 4.5L7 1.5" stroke="currentColor" stroke-width="0.75" stroke-linecap="square"></path>
                <path class="icon-chevron-down-right" d="M4 4.5L7 7.5" stroke="currentColor" stroke-width="0.75" stroke-linecap="square"></path>
            </svg>
        </p>
      </div>
<!--    右箭头    -->
      <div class=" dn bk_{{section.settings.show_button_color}} {% if section.settings.show_button %}icon-changebtn  {% endif%} rightbtn   button_{{ section.settings.show_button_style }} ">
      	<p class="navmenu-icon navmenu-icon-depth-1 openbtn" data-navmenu-trigger="" style="height:14px;">
          	<svg aria-hidden="true" focusable="false" role="presentation" width="20" height="16" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path class="icon-chevron-down-left" d="M4 4.5L1 7.5" stroke="currentColor" stroke-width="0.75" stroke-linecap="square"></path>
              <path class="icon-chevron-down-right" d="M4 4.5L1 1.5" stroke="currentColor" stroke-width="0.75" stroke-linecap="square"></path>
          	</svg>
        </p>
      </div>
    <div class="big-box" data-autoplay="{{section.settings.auto_play}}" data-autotime="{{section.settings.auto_time}}">
      <div class="product-box">
      
    	{% for block in section.blocks %}
	
      {%- case block.type -%}
      {%- when 'slideshow_img2' -%} {%- assign image = block.settings.image -%}
 			 <div class="slideshow_content">
				    
        {%- if image != blank -%}  {% assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          
          <img 
               srcset="{%- if block.settings.image.width >= 550 -%}{{ block.settings.image | img_url: '550x' }} 550w,{%- endif -%}
                       {%- if block.settings.image.width >= 720 -%}{{ block.settings.image | img_url: '720x' }} 720w,{%- endif -%}
                       {%- if block.settings.image.width >= 990 -%}{{ block.settings.image | img_url: '990x' }} 990w,{%- endif -%}
                       {%- if block.settings.image.width >= 1100 -%}{{ block.settings.image | img_url: '1100x' }} 1100w,{%- endif -%}
                       {%- if block.settings.image.width >= 1500 -%}{{ block.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
                       {%- if block.settings.image.width >= 2200 -%}{{ block.settings.image | img_url: '2200x' }} 2200w,{%- endif -%}
                       {%- if block.settings.image.width >= 3000 -%}{{ block.settings.image | img_url: '3000x' }} 3000w,{%- endif -%}"
               src="{{ block.settings.image | img_url: '300x' }}"
               data-src="{{ img_url }}" 
               data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" 
               data-sizes="auto" 
               class="lazyload lz_op_ef w__100" 
               alt="{{image.alt}}" 
               style="max-width:{{image.width}}px">

          {%- else -%}

               <div style="max-height:400px"> {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}  </div>
          {%- endif -%} 
               
               <p >{{block.settings.slider_text}}</p>

         	</div> 
        {% endcase %}
    	{% endfor %}   
       
      </div>
    </div>
    
  	<ol id="slide_pog">

    </ol>
  </div>

</section>

 {%- style -%}

 {% assign color_primary = section.settings.show_button_hover_color %}

 {% assign bk_btn=section.settings.show_button_color %}


  {%- endstyle -%}

{% schema %}
  {
    "name": "Slideshow Beautify2",
 	"tag": "section",
	"max_blocks": 10,
    "settings": [

		{
        "type": "select",
        "id": "se_height",
        "label": "Slide height",
        "default": "adapt",
        "options": [
          {
            "value": "adapt_f",
            "label": "Adapt to first image"
          },
          {
            "value": "adapt",
            "label": "Adapt to image"
          },
          {
            "value": "full",
            "label": "Full screen height"
          },
          {
            "value": "cus_h",
            "label": "Custom height"
          }
        ]
      },

		{
        "type": "select",
        "id": "text_size",
        "label": "Text size",
        "default": "medium",
        "options": [
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ]
      },
		{
        "type": "select",
        "id": "text_alignment",
        "label": "Text alignment",
        "default": "middle_center",
        "options": [
          {
            "value": "top_left",
            "label": "Top left"
          },
          {
            "value": "top_center",
            "label": "Top center"
          },
          {
            "value": "top_right",
            "label": "Top right"
          },
          {
            "value": "middle_left",
            "label": "Middle left"
          },
		 {
            "value": "middle_center",
            "label": "Middle center"
          },
		 {
            "value": "middle_right",
            "label": "Middle right"
          },
		 {
            "value": "bottom_left",
            "label": "Bottom left"
          },
		 {
            "value": "bottom_center",
            "label": "Bottom center"
          },
		 {
            "value": "bottom_right",
            "label": "Bottom right"
          }
        ]
      },
	  {
        "type": "checkbox",
        "id": "overlay",
        "label": "Show overlay",
        "default": true
      },
	  {
        "type": "checkbox",
        "id": "loop",
        "label": "Slide Loop",
        "default": true
      },
	 {
        "type": "checkbox",
        "id": "auto_play",
        "label": "Auto-rotate slides",
        "default": true
      },
	{
        "type": "range",
        "id": "auto_time",
        "min": 3,
        "max": 9,
        "step": 1,
        "label": "Change slide every",
        "unit": "sec",
        "default": 3
      },

	 {
        "type": "checkbox",
        "id": "show_button",
        "label": "Show Prev Next Button",
        "default": true
      },

	{
        "type": "select",
        "id": "show_button_visible",
        "label": "Visible",
        "default": "always",
        "options": [
          {
            "value": "only_hover",
            "label": "Only hover"
          },
          {
            "value": "always",
            "label": "Always"
          }
        ]
      },
	
	{
        "type": "select",
        "id": "show_button_style",
        "label": "Style",
        "default": "style1",
        "options": [
          {
            "value": "style1",
            "label": "Style1"
          },
          {
            "value": "style2",
            "label": "Style2"
          },
		 {
            "value": "style3",
            "label": "Style3"
          }
        ]
      },

	{
        "type": "select",
        "id": "show_button_color",
        "label": "Color",
        "default": "white",
        "options": [
          {
            "value": "transparent",
            "label": "Transparent"
          },
          {
            "value": "white",
            "label": "White"
          },
		 {
            "value": "gray",
            "label": "Gray"
          }
        ]
      },
		{
            "type": "color",
            "id": "show_button_hover_color",
            "label": "Hover",
            "default": "#222"
          },
		
		{
			"type":"text",
			"id":"feature_title",
			"label":"feature_title",
			"default":"title name"
		},
		{
			"type":"text",
			"id":"link-name",
			"label":"link-title",
			"default":"View all"
		},{
            "type": "url",
            "id": "button_link",
            "label": "Button link"
        }
	],
	"blocks": [
		{
      "type": "slideshow_img2",
      "name": "Image slide (Parent)",
      "settings": [
       {
           "type": "image_picker",
           "id": "image",
           "label": "Image",
           "info": "1800 x 600px .jpg recommended"
       },
		
      {
			"type":"text",
			"id":"slider_text",
			"label":"slider_text",
			"default":"title name"
		}

	]

	}
       
	],
	"presets": [
		{
            "name": "Slideshow2",
            "category": "III. Image"
        }
	]
  }
{% endschema %}

<style>
  
  
  


  
  
  section{
  	width:100%;
  }
  .feature-artworks{
/*   	max-width: 73.225rem; */
    max-width: 100%;
    margin:0 auto;
/*     padding: 20px .9375rem 40px; */
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    position:relative;
  }
  .btn-link{
  	text-decoration:underline;
  }
  .big-box{
  	width:100%;
    overflow:hidden;
    box-sizing:border-box;
    padding:2px;
  }
  .product-box{
    transform:translate(0);
  	width:100%;
    display: -webkit-box;
    position:relative;
  }

  .productitem--image-link{height:185px;position:relative;}
  .productitem--image{position:absolute;top:50%;transform:translateY(-50%);}
  .productitem--image img{max-height:185px}
  .productitem{
  	padding:.6875rem;
    border:none;
    box-shadow:none;
  }
  .productitem--title{
  	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .productitem--price{
  	display:flex;
    align-items:center;
  }
  .productitem--actions{
  	width:100%;
    margin:0;
    flex-wrap:nowrap;
    align-items:stretch;
    right:0;
    bottom:0;
  }
  .slideshow_content{
    width:100%;
    max-height:700px;
  	position:relative;
    box-shadow: 0px 0px 5px 1px #e3e3e3;
    box-sizing:border-box;
    padding:10px;
    border-radius:5px;
  }
  
  .slideshow_content img{
    object-position: center center;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .product_self-link{
  	display:block;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
  }
  .artworks-box{
    width:100%;
    height:190px;
    margin: 0 auto 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .artworks-box img{
  	width:100%;
    
  }
  .slideshow_content p{
    margin:0 !important;
  }
  .icon-changebtn{
  	width:40px;
    height:40px;
    text-align:center;
    box-shadow: 0 0 0 1px rgb(127 127 127 / 5%), 0 2px 5px rgb(127 127 127 / 50%);
    cursor:pointer;
    background-color:rgba(255,255,255,.5);
    color:rgb(183,183,183);
  }
/*   .icon-changebtn:hover{
    background-color:rgba(255,255,255,1);
  	box-shadow: 0px 0px 8px 1px #e3e3e3;
    
  } */
  
  
    .icon-changebtn:hover{
    background-color: {{color_primary}};
  	box-shadow: 0px 0px 8px 1px #e3e3e3;
    
  }
  
  .bk_transparent{
  background-color: {{bk_btn}};
    color:black;
  }
  
  .bk_white{
    background-color: {{bk_btn}};
    color:black;
  }
  
  .bk_gray{
    background-color: {{bk_btn}};
    color:white;  
  }
  
  .button_style1{
	border-radius:50%;
  }
  
  .button_style2{
	border-radius:0;
  }
  .button_style3{
    background-color: gray ;
	border-radius:0;
    transform: rotate(45deg) !important;
  }
 
  
   .button_style3 p svg:nth-child(1) {
 transform: translate(-62.5%,-50%) rotate(318deg) !important;
  }
   .rightbtn.button_style3 p svg:nth-child(1) {
 transform: translate(-27%,-78%) rotate(318deg) !important;
  }

  .button_style1:hover,.button_style2:hover,.button_style3:hover{
  
  color:rgb(255,255,255);
  }
  
  
  
  .dn{
  
    display:none;
  }
  
  .leftbtn{
  	position:absolute;
    top:50%;
    left:5px; 
    transform:translateY(-50%);
    z-index:999;

  }
  .rightbtn{
  	position:absolute;
    top:50%;
    right:5px;
    transform:translateY(-50%);
    z-index:999;    

  }
  .icon-changebtn {
  
  display:block;
  
  }
  
  .icon-changebtn p{
  	margin:0;
    height:100% !important;
    position:relative;
  }
  .leftbtn p svg{
  	position:absolute;
    top:50%;
    left:50%;
    transform:translate(-62.5%,-50%);
  }
  .rightbtn p svg{
  	position:absolute;
    top:50%;
    left:50%;
    transform:translate(-25%,-50%);
  }
  
  #slide_pog{
  
  	width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10%;
    z-index: 100;
    cursor: pointer;
    padding: 0px;
    margin: 0;

  }
  
  
  #slide_pog li{
    float:left;
    background:green;
    width:11px;
    height:11px;
    text-align: center;
    line-height: 11px;
    font-size: 10px;
    border-radius: 50%;
    text-align: center;
    transition:all 1.5s;
    margin: 0 5px;
    list-style-type: none;
  }
  
    #slide_pog li.active{
      background:blue;
      color:#fff;
    }
  
  @media screen and (max-width:1024px){
    .big-box{
    	overflow-x:scroll;
    }
    .productitem--actions{
      display:none;
    }
    .icon-changebtn{
    	display:none;
    }
  }
  @media screen and (min-width:541px) and (max-width:768px){
    .big-box{
    	overflow-x:scroll;
    }
    .productgrid--item{
      width:23.5%;
    }
  }
  @media screen and (max-width:540px){
  	.productgrid--item{
      width:48%;
      margin-right:4%;
    }
    
  }
  
  
</style>

{% stylesheet %}
{% endstylesheet %}
<script>


  let slideshow_beautify_lunbo1 = function(){
  
    
    var contentbox=document.querySelector(".product-box");
  
    contentbox.style.transition="all 1.5s";
  
var leftbtn=document.querySelector(".leftbtn");
var rightbtn=document.querySelector(".rightbtn");
var mardiff=contentbox.clientWidth*0.02;
// var diff=contentbox.scrollWidth-contentbox.clientWidth;

    
 var diff=contentbox.offsetWidth ;
    
//     var diff=parseInt(contentbox.clientWidth);
 
//     var diff = document.getElementsByClassName('feature-artworks')[0].clientWidth;
    
//    var diff =  document.getElementsByClassName('big-box')[0].offsetWidth;
  
var itemlist=document.querySelectorAll(".slideshow_content");
var itemLength  = itemlist.length;
  
// var diff= parseInt(contentbox.scrollWidth/itemLength);    
    console.log(diff,'diff');
    console.log(itemlist[0].clientWidth,'itemwidth');
    console.log(itemlist[0].offsetWidth,'off');
var btnbox=document.querySelectorAll(".productitem--actions");
var index=1;
  
//获取轮播点
  
 var list_text = document.getElementById('slide_pog'); 
  
  
  for (let a = 0; a < itemLength; a++) {
            itemlist[a].index = a;
            list_text.innerHTML += "<li></li>"
            
        }
  
  var list = list_text.getElementsByTagName("li");
  list[0].index= 0;
  list[0].className="active";
  
  
  
  
  for (var c = 0; c < list.length; c++) {
        list[c].index = c;
        list[c].onclick = function(){
            for(var j = 0;j<list.length;j++){
                list[j].className="";
            }
            this.className="active";
           contentbox.style.transform="translate(" + -itemlist[this.index].index*diff  + "px" + ")";	
          
        }
    }
  
  
  
// var x = diff_box/itemLength;

  function moveTransition(index){
    
  index =  list_text.querySelector('.active').index+1;
       
        if(index < itemLength){
//           index =  list_text.querySelector('.active').index+1;
        contentbox.style.transform="translate(" + -parseInt(itemlist[index].index*diff)  + "px" + ")";
 		
          
		console.log( itemlist[index].index*diff ,'1',diff,'s');
         for(var j = 0;j<list.length;j++){
            list[j].className="";
        }
        list[index].className="active";
        } else if(index = itemLength){
        index =  0;
        contentbox.style.transform="translate(" + -parseInt(itemlist[index].index*diff)  + "px" + ")";
 		console.log( itemlist[index].index*diff ,'2',diff,'s');
	
         for(var j = 0;j<list.length;j++){
            list[j].className="";
        }
        list[index].className="active";
        }
  
  }
 
  let autop = document.getElementsByClassName('big-box')[0].dataset.autoplay;
  
  
  
   function autoPlay(autop){
     if(autop = true){
       
       moveTransition(index);
       
       
       
     }
   
    
    }
  
let  time =   document.getElementsByClassName('big-box')[0].dataset.autotime;
  
let time_gui =  setInterval(autoPlay, time*1000);
  
	
  document.getElementsByClassName('feature-artworks')[0].addEventListener("mouseover",function(){
  	
    clearInterval(time_gui);
//     console.log(time_gui,"ss")
  	
  },false)
 document.getElementsByClassName('feature-artworks')[0].addEventListener("mouseleave",function(){
  
  	 time_gui =  setInterval(autoPlay, time*1000);
//        console.log(time_gui,"xx")
  },false)
  
  

//由于左右边框border1，所以要+2来判断
  
  
  	rightbtn.addEventListener("click",function(){
      	index =  list_text.querySelector('.active').index+1;
       
        if(index < itemLength){
//           index =  list_text.querySelector('.active').index+1;
   contentbox.style.transform="translate(" + -itemlist[index].index*diff  + "px" + ")";
 
// 	console.log( itemlist[index].index*diff ,'R1');
         for(var j = 0;j<list.length;j++){
            list[j].className="";
        }
        list[index].className="active";
        } else if(index = itemLength){
        index =  0;
        contentbox.style.transform="translate(" + -itemlist[index].index*diff  + "px" + ")";
 
// 	console.log( itemlist[index].index*diff ,'R2');
         for(var j = 0;j<list.length;j++){
            list[j].className="";
        }
        list[index].className="active";
        }
        

  })
    
    
   
  
  
  
    
      
  	leftbtn.addEventListener("click",function(){
 index = list_text.querySelector('.active').index;
    if(index > 0){
    
      index = list_text.querySelector('.active').index-1;
        contentbox.style.transform="translate(" + -itemlist[index].index*diff  + "px" + ")";
      

    

    for(var j = 0;j<list.length;j++){
            list[j].className="";
        }
        list[index].className="active";
    
    }else if(index <= 0){
    
   	index = list.length-1;
        contentbox.style.transform="translate(" + -itemlist[index].index*diff  + "px" + ")";
      
//   console.log('进来了');
    

    for(var j = 0;j<list.length;j++){
            list[j].className="";
        }
        list[index].className="active";
    
    }
  
   
    
  })

  
    
  
  
  }();
  
 


  
  

  
</script>

