<style>
    *{margin:0;padding:0;}
    #slider_box{position: relative;width:500px;height:300px;margin:30px auto;}
    #slider_box ul:after{content: "";display: block;clear:both;width:0;height: 0;}
    li{list-style:none;}
    #slider_box_img{width:500px;height: 300px;position: relative;}
    #slider_box_img li{position: absolute;top:0;left:0;width:500px;height:300px;font-size: 40px;text-align: center;line-height: 300px;display: none;background:#f4f4f4;color:blue;}
    #slider_box_img li.show{display: block;}
    #list {width:500px;height:30px;line-height: 30px;color:#333;position: absolute;bottom:0;left:0; display: flex;justify-content: center;}
    #list li{float:left;;background:green;width:30px;height:30px;text-align: center;line-height: 30px;font-size: 20px; border-radius: 50%;text-align: center;}
    #list li.active{background:blue;color:#fff;}
    .control{position: absolute;top:125px;display: block;width:30px;height:30px;text-align: center;line-height: 30px;background:#666;color:#fff;  border-radius: 50%;}
    #prev{left:0; 
   
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #222;}
    #next{right:0;}
</style>
 

<div id="slider_box">
    <ul id="slider_box_img">
      
       {%- for block in section.blocks -%} 
      	
      {%- case block.type -%}
      {%- when 'slideshow_img' -%} {%- assign image = block.settings.image -%}
      
      <li> 
        <div>
        
        {%- if image != blank -%}  {% assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          
          <img src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20{{image.width}}%20{{image.height}}%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="{{ img_url  }}" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-sizes="auto" class="lazyload lz_op_ef w__100" alt="{{image.alt}}" style="max-width:{{image.width}}px">

          {%- else -%}

          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          {%- endif -%}
        
        
        </div>	
        
      </li>
      
      {% endcase %}
      {% endfor %}
      

    </ul>
    <ol id="list">

    </ol>
    <div id="prev" class="control">左</div>
    <div id="next" class="control">右</div>
</div>






{% schema %}
  {
    "name": "Slideshow beautify",
	"tag": "section",
    "settings": [
	],
	"blocks":[
		{
	"type": "slideshow_img",
    "name": "Image slide (Parent)",
    "settings": [
	 {
         "type": "image_picker",
         "id": "image",
         "label": "Image",
         "info": "1800 x 600px .jpg recommended"
       }

	]

	}
	]
  }
{% endschema %}


<script type="text/javascript">
  
    var img = document.getElementById("slider_box_img").getElementsByTagName("li");
  
  	var list_text = document.getElementById('list');
  
    var list = document.getElementById("list").getElementsByTagName("li");
    var next = document.getElementById("next");
    var prev = document.getElementById("prev");
  
  
  	for (let i = 0; i < img.length; i++) {
            img[i].index = i;
            list_text.innerHTML += "<li></li>"
            
        }
  
  	list[0].className="active";
  	img[0].clasName = "show";
  
    for (var i = 0; i < list.length; i++) {
        list[i].index = i;
        list[i].onclick = function(){
            for(var j = 0;j<list.length;j++){
                list[j].className="";
                img[j].className="";
            }
            this.className="active";
            img[this.index].className="show";
        }
    }
    next.onclick = function(){
        play(false);
    }
    prev.onclick = function(){
        play(true);
    }
    function play(bool){
        for(var i = 0;i<list.length;i++){
            if(list[i].className=="active"){
                var index = i;
                break;
            }
        }
        bool ?(index == 0? index= list.length-1:index--):(index == list.length-1? index= 0:index++);
        for(var j = 0;j<list.length;j++){
            list[j].className="";
            img[j].className="";
        }
        list[index].className="active";
        img[index].className="show";
    }
</script>




{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
