

{% assign customerId = customer.id %}



{%   assign se_height = section.settings.se_height %}

{%- assign image = section.blocks.settings.image %}


<section class="se_height_{{ se_height }}"  style="overflow: hidden;margin:0;padding:0;">

{% render 'slideshow-beautify',section:section,%}

</section>

 {%- style -%}

 {% assign color_primary = section.settings.show_button_hover_color %}

 {% assign bk_btn=section.settings.show_button_color %}


  {%- endstyle -%}



 {%- if section.blocks.size > 0 %}
     {%- style -%}

        {%- if se_height == 'adapt_f' -%}

           {%- assign block = se_blocks | where: "type", 'img' | first -%}
           {%- assign ratio = block.settings.image.aspect_ratio |default:1.7777777777777777 -%}
           {%- assign ratio_mb = block.settings.image_mb.aspect_ratio |default:ratio -%}
           .nt_se_{{sid}} .img_slider_block{padding-top:{{ 1 | divided_by: ratio_mb | times: 100 }}%}@media (min-width: 768px) { .nt_se_{{sid}} .img_slider_block{padding-top:{{ 1 | divided_by: ratio | times: 100 }}%} }

        {%- elsif se_height == 'cus_h' -%}
            .nt_se_{{sid}} .img_slider_block{padding-top:{{ section.settings.h_mb | replace:'px','' | strip }}px}
            {%- if use_custom_h == '1' -%}
                @media (min-width: 768px) { .nt_se_{{sid}} .img_slider_block{padding-top:{{ section.settings.h_tb | replace:'px','' | strip }}px} }
                @media (min-width: 1025px) { .nt_se_{{sid}} .img_slider_block{padding-top:{{ section.settings.h_des | replace:'px','' | strip }}px} }
            {%- elsif use_custom_h == '2' -%}
                @media (min-width: 768px) { .nt_se_{{sid}} .img_slider_block{padding-top:{{ section.settings.h_tb | replace:'px','' | strip }}px} }
            {%- endif -%}
        {%- endif -%}

        {%- for block in se_blocks -%}{%- assign bid = block.id -%}{%- assign btype = block.type -%}

            {%- if btype == 'img' -%}{%- assign image = block.settings.image -%}
               #nt_{{bid}} .nt_img_txt>a:after{ background-color: {{block.settings.cl_overlay}};opacity: {{block.settings.cl_opacity | divided_by: 100.00}} }
               #nt_{{bid}} .pa_txts {
                 {%- assign cap_h_pos = block.settings.cap_h_pos_mb -%}
                 {%- assign cap_v_pos = block.settings.cap_v_pos_mb -%}
                 top:{{cap_v_pos}}%;
                 {%- if cap_v_pos == 50 and cap_h_pos == 50 -%}width:100%;{%- endif -%}
                 {%- if cap_h_pos > 50 -%}
                  right:{{100|minus:cap_h_pos}}%;transform: translate({{100|minus:cap_h_pos}}%, -{{cap_v_pos}}%);
                 {%- else -%}
                  left:{{cap_h_pos}}%;transform: translate(-{{cap_h_pos}}%, -{{cap_v_pos}}%);
                 {%- endif -%}
               }
               @media (min-width: 768px) {
                  #nt_{{bid}} .pa_txts {
                    {%- assign cap_h_pos = block.settings.cap_h_pos -%}
                    {%- assign cap_v_pos = block.settings.cap_v_pos -%}
                    top:{{cap_v_pos}}%;
                    {%- if cap_v_pos == 50 and cap_h_pos == 50 -%}width:100%;{%- else -%}width:auto;{%- endif -%}
                    {%- if cap_h_pos > 50 -%}
                     right:{{100|minus:cap_h_pos}}%;transform: translate({{100|minus:cap_h_pos}}%, -{{cap_v_pos}}%);left:auto;
                    {%- else -%}
                     left:{{cap_h_pos}}%;transform: translate(-{{cap_h_pos}}%, -{{cap_v_pos}}%);right:auto;
                    {%- endif -%}
                  }
               }
               {%- if se_height == 'adapt' and image != blank -%}
                  {%- assign ratio = image.aspect_ratio -%}
                  {%- assign ratio_mb = block.settings.image_mb.aspect_ratio |default:ratio -%}
                  #nt_{{bid}} .img_slider_block{padding-top:{{ 1 | divided_by: ratio_mb | times: 100 }}%}@media (min-width: 768px) { #nt_{{bid}} .img_slider_block{padding-top:{{ 1 | divided_by: ratio | times: 100 }}%} }
               {%- elsif se_height == 'cus_h' and image != blank and use_custom_h != '1' -%}
                  @media (min-width: {% if use_custom_h == '2' %}1025{% else %}768{% endif %}px) { #nt_{{bid}} .img_slider_block{padding-top:{{ 1 | divided_by:image.aspect_ratio | times: 100 }}%} }
               {%- endif -%}

            {%- elsif btype == 'vid' -%}{%- assign image = block.settings.image -%}
               #nt_{{bid}} .nt_img_txt>a:after{ background-color: {{block.settings.cl_overlay}};opacity: {{block.settings.cl_opacity | divided_by: 100.00}} }
               #nt_{{bid}} .pa_txts {
                 {%- assign cap_h_pos = block.settings.cap_h_pos_mb -%}
                 {%- assign cap_v_pos = block.settings.cap_v_pos_mb -%}
                 top:{{cap_v_pos}}%;
                 {%- if cap_v_pos == 50 and cap_h_pos == 50 -%}width:100%;{%- endif -%}
                 {%- if cap_h_pos > 50 -%}
                  right:{{100|minus:cap_h_pos}}%;transform: translate({{100|minus:cap_h_pos}}%, -{{cap_v_pos}}%);left:auto;
                 {%- else -%}
                  left:{{cap_h_pos}}%;transform: translate(-{{cap_h_pos}}%, -{{cap_v_pos}}%);right:auto;
                 {%- endif -%}
               }
               @media (min-width: 768px) {
                  #nt_{{bid}} .pa_txts {
                    {%- assign cap_h_pos = block.settings.cap_h_pos -%}
                    {%- assign cap_v_pos = block.settings.cap_v_pos -%}
                    top:{{cap_v_pos}}%;
                    {%- if cap_v_pos == 50 and cap_h_pos == 50 -%}width:100%;{%- else -%}width:auto;{%- endif -%}
                    {%- if cap_h_pos > 50 -%}
                     right:{{100|minus:cap_h_pos}}%;transform: translate({{100|minus:cap_h_pos}}%, -{{cap_v_pos}}%);
                    {%- else -%}
                     left:{{cap_h_pos}}%;transform: translate(-{{cap_h_pos}}%, -{{cap_v_pos}}%);
                    {%- endif -%}
                  }
               }
               {%- if se_height == 'adapt' -%}
                  {%- if block.settings.vid_ratio == '1' -%}
                     {%- assign ratio = 1.7777777777777777 -%}
                     {%- assign ratio_mb = 1.7777777777777777 -%}
                  {%- else -%}
                     {%- assign ratio = image.aspect_ratio |default:1.7777777777777777 -%}
                     {%- assign ratio_mb = block.settings.image_mb.aspect_ratio |default:ratio -%}
                  {%- endif -%}
                  #nt_{{bid}} .vid_ratio{padding-top:{{ 1 | divided_by: ratio_mb | times: 100 }}%}@media (min-width: 768px) { #nt_{{bid}} .vid_ratio{padding-top:{{ 1 | divided_by: ratio | times: 100 }}%} }
               {%- elsif se_height == 'cus_h' and image != blank and use_custom_h != '1' -%}
                  {%- if block.settings.vid_ratio == '1' -%}{%- assign ratio = 1.7777777777777777 -%}{%- else -%}{%- assign ratio = image.aspect_ratio |default:1.77777778 -%}{%- endif -%}
                  @media (min-width: {% if use_custom_h == '2' %}1025{% else %}768{% endif %}px) { #nt_{{bid}} .vid_ratio{padding-top:{{ 1 | divided_by:ratio | times: 100 }}%} }
               {%- endif -%}

            {%- elsif btype == 'html' %}{% continue -%}
            {%- elsif btype == 'btn' -%}
              #b_{{bid}}{ {% if block.settings.ls_mb_text != 0 %}letter-spacing:{{block.settings.ls_mb_text}}px;{% endif %}min-height:{{block.settings.h_mb}}px;font-size: {{block.settings.fs_mb_text}}px;color: {{block.settings.cl_txt}};background-color: {{block.settings.cl_bg}};border-color: {{block.settings.cl_bd}} }#b_{{bid}}.btn_icon_true:after {color: {{block.settings.cl_txt}} }@media (min-width: 768px) {#b_{{bid}} { {% if block.settings.ls_text != 0 %}letter-spacing:{{block.settings.ls_text}}px;{% endif %}font-weight: {{block.settings.fw_text}};min-height:{{block.settings.h}}px;font-size: {{block.settings.fs_text}}px }}
            {%- elsif btype == 'space' -%}
              #b_{{bid}} {height: {{block.settings.sp_mb}}px}@media (min-width: 768px) {#b_{{bid}} { height:{{block.settings.sp}}px} }
            {%- else -%}
              #b_{{bid}} { {% if block.settings.ls_mb_text != 0 %}letter-spacing:{{block.settings.ls_mb_text}}px;{% endif %}{% if block.settings.lh_mb_text != 0 %}line-height:{{block.settings.lh_mb_text}}px;{% endif %}font-size: {{block.settings.fs_mb_text}}px;font-weight: {{block.settings.fw_text}};color: {{block.settings.color}} }@media (min-width: 768px) {#b_{{bid}} { {% if block.settings.ls_text != 0 %}letter-spacing:{{block.settings.ls_text}}px;{% endif %}{% if block.settings.lh_text != 0 %}line-height: {{block.settings.lh_text}}px;{% endif %}font-size: {{block.settings.fs_text}}px}}
            {%- endif -%}

        {%- endfor -%}
     {%- endstyle -%}
  {%- endif -%}




<script>

//   这是为了测试图片大小 ，后续轮播图切换 
  
//   let a = 0;   
//   for(var i=0;i<document.getElementsByClassName('slideshow_content').length;i++){
//   		a+=1;
//       let img=document.getElementsByClassName('slideshow_content')[a].querySelector('img')
//       img.onload = function(){
//         console.log(img.height,' ',a );
//         console.log(img.width,'',a);
//       }

  
//    }


</script>

{% schema %}
  {
    "name": "Slideshow Beautify2",
 	"tag": "section",
	"max_blocks": 10,
    "settings": [

		{
        "type": "select",
        "id": "se_height",
        "label": "Slide height",
        "default": "adapt",
        "options": [
          {
            "value": "adapt_f",
            "label": "Adapt to first image"
          },
          {
            "value": "adapt",
            "label": "Adapt to image"
          },
          {
            "value": "full",
            "label": "Full screen height"
          },
          {
            "value": "cus_h",
            "label": "Custom height"
          }
        ]
      },

		{
        "type": "select",
        "id": "text_size",
        "label": "Text size",
        "default": "medium",
        "options": [
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ]
      },
		{
        "type": "select",
        "id": "text_alignment",
        "label": "Text alignment",
        "default": "middle_center",
        "options": [
          {
            "value": "top_left",
            "label": "Top left"
          },
          {
            "value": "top_center",
            "label": "Top center"
          },
          {
            "value": "top_right",
            "label": "Top right"
          },
          {
            "value": "middle_left",
            "label": "Middle left"
          },
		 {
            "value": "middle_center",
            "label": "Middle center"
          },
		 {
            "value": "middle_right",
            "label": "Middle right"
          },
		 {
            "value": "bottom_left",
            "label": "Bottom left"
          },
		 {
            "value": "bottom_center",
            "label": "Bottom center"
          },
		 {
            "value": "bottom_right",
            "label": "Bottom right"
          }
        ]
      },
	  {
        "type": "checkbox",
        "id": "overlay",
        "label": "Show overlay",
        "default": true
      },
	  {
        "type": "checkbox",
        "id": "loop",
        "label": "Slide Loop",
        "default": true
      },
	 {
        "type": "checkbox",
        "id": "auto_play",
        "label": "Auto-rotate slides",
        "default": true
      },
	{
        "type": "range",
        "id": "auto_time",
        "min": 3,
        "max": 9,
        "step": 1,
        "label": "Change slide every",
        "unit": "sec",
        "default": 3
      },

	 {
        "type": "checkbox",
        "id": "show_button",
        "label": "Show Prev Next Button",
        "default": true
      },



	{
        "type": "select",
        "id": "show_button_visible",
        "label": "Visible",
        "default": "always",
        "options": [
          {
            "value": "only_hover",
            "label": "Only hover"
          },
          {
            "value": "always",
            "label": "Always"
          }
        ]
      },
	
	{
        "type": "select",
        "id": "show_button_style",
        "label": "Style",
        "default": "style1",
        "options": [
          {
            "value": "style1",
            "label": "Style1"
          },
          {
            "value": "style2",
            "label": "Style2"
          },
		 {
            "value": "style3",
            "label": "Style3"
          }
        ]
      },

	{
        "type": "select",
        "id": "show_button_color",
        "label": "Color",
        "default": "white",
        "options": [
          {
            "value": "transparent",
            "label": "Transparent"
          },
          {
            "value": "white",
            "label": "White"
          },
		 {
            "value": "gray",
            "label": "Gray"
          }
        ]
      },
		{
            "type": "color",
            "id": "show_button_hover_color",
            "label": "Hover",
            "default": "#222"
          },
		
		

		{
        "type": "checkbox",
        "id": "show_page_Dot",
        "default": false,
        "label": "Show Page Dot"
        },
        {
        "type":"select",
        "id":"page_dot_style",
        "label":"Style",
        "default":"style_1",
        "options":[{"value":"style_1","label":"Style 1"},{"value":"style_2","label":"Style 2"}]
        },
		{
        "type":"select",
        "id":"page_dot_color",
        "label":"Color",
        "default":"dark",
        "options":[{"value":"dark","label":"Dark"},{"value":"light","label":"Light"}]
        },


		{
			"type":"text",
			"id":"feature_title",
			"label":"feature_title",
			"default":"title name"
		},
		{
			"type":"text",
			"id":"link-name",
			"label":"link-title",
			"default":"View all"
		},{
            "type": "url",
            "id": "button_link",
            "label": "Button link"
        }
	],
	"blocks": [
		{
      "type": "slideshow_img2",
      "name": "Image slide (Parent)",
      "settings": [
       {
           "type": "image_picker",
           "id": "image",
           "label": "Image",
           "info": "1800 x 600px .jpg recommended"
       },

		{
        "type": "select",
        "id": "image_alignment",
        "label": "image alignment",
        "default": "middle_center",
        "options": [
          {
            "value": "top_left",
            "label": "Top left"
          },
          {
            "value": "top_center",
            "label": "Top center"
          },
          {
            "value": "top_right",
            "label": "Top right"
          },
          {
            "value": "middle_left",
            "label": "Middle left"
          },
		 {
            "value": "middle_center",
            "label": "Middle center"
          },
		 {
            "value": "middle_right",
            "label": "Middle right"
          },
		 {
            "value": "bottom_left",
            "label": "Bottom left"
          },
		 {
            "value": "bottom_center",
            "label": "Bottom center"
          },
		 {
            "value": "bottom_right",
            "label": "Bottom right"
          }
        ]
      },

		{
			"type":"text",
			"id":"slider_heading_text",
			"label":"Heading",
			"default":"heading"
		},
		{
			"type":"text",
			"id":"slider_sub_text",
			"label":"Sub text",
			"default":"sub text"
		},
		{
			"type":"text",
			"id":"slider_button_text",
			"label":"Button text",
			"default":"title name"
		},
		{
          "type": "url",
          "id": "slider_button_link",
          "label": "Button link"
        }

	]

	}
       
	],
	"presets": [
		{
            "name": "Slideshow2",
            "category": "III. Image"
        }
	]
  }
{% endschema %}

