{{ 'section-multicolumn.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">


{{'swiper-bundle.min.css'| asset_url |stylesheet_tag}}

    
<script src="{{'swiper-bundle.min.js'| asset_url }} "></script>
<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>

<style>
  .Text_columns_with_images_title {
  	text-align: center;
  }
  
  .add_title {
  	padding: 20px 0;
    font-size: 18px;
    font-weight: bold;
  }
  
  .my_text_columns_with_images_image {
  	width: 100%; 
    height: 30rem;
    display: flex;
    align-items: center; 
    justify-content: center;
  }
  
  .my_text_columns_with_images_image img {
  	padding: 0 30px; 
    height: auto;
    max-height: 30rem;
  }
  
  .my_text_columns_with_images_button {
	display: flex;
    padding: 0 0;
    width: 10rem;
    height: 30px;
    min-height: 30px !important;
    line-height: 30px !important;
    margin-top: 20px;
    text-align: center;
    border: 1px solid #000;
  	color: #000;
    background: #fff;
    text-decoration: none;
  }
  
  .hide_my_text_columns_with_images_button {
  	display: none;
  }
  
  .my_text_columns_with_images_left {
  	text-align: left;
  }
  
  .my_text_columns_with_images_center {
  	text-align: center;
  }
  
  .my_text_columns_with_images_div {
  	width: 100%; 
    display: flex;
    align-items: center; 
    justify-content: center;
  }
  
  .my_text_ul_li_margin {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
  
  .my_text_ul_li_margin li {
    padding: 0 15px;
  }
  
  .my_text_columns_with_images_title_margin {
    padding: 0 0 10px;
  }
  
  @media screen and (max-width: 750px) {
    .Text_columns_with_images_title {
      text-align: center;
      font-size: 24px;
    }
    
/*     .my_text_columns_margin {
      margin-top: 0 !important;
    } */
    
    .my_text_columns_with_images_center {
  	  text-align: center;
      padding: 0 0;
    }
    
    .my_text_columns_with_images_left {
      text-align: left;
      padding: 0 0;
    }
    
    .my_text_content_padding {
      padding: 20px 0 35px;
    }
    
    .my_text_ul_li_margin {
      margin-left: 0;
      margin-right: 0;
    }
    
    .my_text_ul_li_margin li {
      padding: 0 0;
      margin-bottom: 0;
    }
    
    .my_text_content_margin_top {
      margin-top: 20px !important;
    }
    
    .my_text_columns_with_images_image img {
      padding: 0 0; 
      height: auto;
    }
  }
  
  @media screen and (min-width: 750px) and (max-width: 990px) {
    .Text_columns_with_images_title {
      text-align: center;
      font-size: 24px;
    }
    
    .my_text_content_padding {
      padding: 20px 0 35px;
    }
    
    .my_text_ul_li_margin {
      margin-left: -0.75rem;
      margin-right: -0.75rem;
    }
    
    .my_text_ul_li_margin li {
      padding: 0 0.75rem 1.5rem;
      margin-bottom: 0;
    }
    
    .my_text_columns_with_images_image img {
      padding: 0 30px; 
      height: auto;
    }
  }
  
</style>

<div class="multicolumn background-{{ section.settings.background_style }}{% if section.settings.title == blank %} no-heading{% endif %} my_text_columns_margin"
     style="{%- if section.settings.text_columns_with_images_margin_top != blank -%}margin-top: {{ section.settings.text_columns_with_images_margin_top }}px; {%- endif -%}{%- if section.settings.text_columns_with_images_margin_bottom != blank -%}margin-bottom:{{ section.settings.text_columns_with_images_margin_bottom }}px;{%- endif -%}">
  <div class="page-width">
    {% if section.settings.Text_columns_with_images_heading == blank %}
      <h2 class="Text_columns_with_images_title my_font_weight_default my_clear_margin my_section_margin_default">Text columns with images</h2>
    {% else %}
      <h2 class="Text_columns_with_images_title my_font_weight_default my_clear_margin my_section_margin_default">{{ section.settings.Text_columns_with_images_heading }}</h2>
    {% endif %}
    <slider-component class="slider-mobile-gutter">
      <ul class="multicolumn-list grid grid--1-col{% if section.blocks.size > 3 and section.settings.image_width != 'full' %} grid--2-col-tablet grid--4-col-desktop{% elsif section.blocks.size > 3 and section.settings.image_width == 'full' %} grid--2-col-tablet{% else %} grid--3-col-tablet{% endif %}{% if section.settings.swipe_on_mobile and section.blocks.size > 1 %} slider slider--mobile grid--peek{% endif %} my_text_ul_li_margin my_clear_margin"
        id="Slider-{{ section.id }}"
        role="list"
      >
        {%- liquid
          assign highest_ratio = 0
          for block in section.blocks
            if block.settings.image.aspect_ratio > highest_ratio
              assign highest_ratio = block.settings.image.aspect_ratio
            endif
          endfor
        -%}
        {%- for block in section.blocks -%}
          <li class="multicolumn-list__item grid__item{% if section.settings.swipe_on_mobile %} slider__slide{% endif %}{% if section.settings.column_alignment == 'center' %} center{% endif %}" {{ block.shopify_attributes }}>
            <div class="">
              
              {% if block.settings.show_image == true %}
                {%- if block.settings.image != blank -%}
                  <div class="my_text_columns_with_images_image">
                  	<img src="{{ block.settings.image | img_url: '550x' }}" loading="lazy">
                  </div>
                {%- endif -%}
              {% endif %}

              <div class="multicolumn-card__info my_text_content_padding">
                {% if section.settings.Text_columns_with_images_Text_alignment == "Left" %}
                  {%- if block.settings.title != blank -%}
                    <h3 class="add_title my_text_columns_with_images_left my_text_columns_with_images_title_margin">{{ block.settings.title | escape }}</h3>
                  {%- endif -%}
                  {%- if block.settings.text != blank -%}
                    <div class="rte my_text_columns_with_images_left my_text_content_margin_top my_font_size_content_default">{{ block.settings.text }}</div>
                  {%- endif -%}
                  {% if block.settings.button_label == blank or block.settings.button_link == blank %}
                    <a class="button my_text_column_with_images_button_margin_top my_text_columns_with_images_button hide_my_text_columns_with_images_button my_button_font_size_default"{% if block.settings.button_link == blank %} aria-disabled="true" role="link"{% else %} href="{{ block.settings.button_link }}"{% endif %}>
                      {% if block.settings.button_label == blank %} {{ "button" | capitalize }} {% else %}  {{ block.settings.button_label }} {%- endif -%}
                    </a>
                    {% else %}
                    <a class="button my_text_column_with_images_button_margin_top my_text_columns_with_images_button my_small_button_font_size_default"{% if block.settings.button_link == blank %} aria-disabled="true" role="link"{% else %} href="{{ block.settings.button_link }}"{% endif %}>
                       {% if block.settings.button_label == blank %} {{ "button" | capitalize }} {% else %}  {{ block.settings.button_label }} {%- endif -%}
                    </a>
                  {% endif %}
                {% elsif section.settings.Text_columns_with_images_Text_alignment == "Centered" %}
                  {%- if block.settings.title != blank -%}
                    <h3 class="add_title my_text_columns_with_images_center">{{ block.settings.title | escape }}</h3>
                  {%- endif -%}
                  {%- if block.settings.text != blank -%}
                    <div class="rte my_text_columns_with_images_center my_text_content_margin_top">{{ block.settings.text }}</div>
                  {%- endif -%}
                  {% if block.settings.button_label == blank or block.settings.button_link == blank %}
                    <div class="my_text_columns_with_images_div">
                	  <a class="button my_text_column_with_images_button_margin_top my_text_columns_with_images_button hide_my_text_columns_with_images_button my_button_font_size_default"{% if block.settings.button_link == blank %} aria-disabled="true" role="link"{% else %} href="{{ block.settings.button_link }}"{% endif %}>
                       {% if block.settings.button_label == blank %} {{ "button" | capitalize }} {% else %}  {{ block.settings.button_label }} {%- endif -%}
                      </a>
                	</div>
                    {% else %}
                	<div class="my_text_columns_with_images_div">
                	  <a class="button my_text_column_with_images_button_margin_top my_text_columns_with_images_button my_small_button_font_size_default"{% if block.settings.button_link == blank %} aria-disabled="true" role="link"{% else %} href="{{ block.settings.button_link }}"{% endif %}>
                       {% if block.settings.button_label == blank %} {{ "button" | capitalize }} {% else %}  {{ block.settings.button_label }} {%- endif -%}
                      </a>
                	</div>
                  {% endif %}
                {% endif %}
              </div>            
            </div>
          </li>
        {%- endfor -%}
      </ul>

      {%- if section.settings.swipe_on_mobile -%}
        <div class="slider-buttons no-js-hidden medium-hide{% if section.blocks.size < 2 %} small-hide{% endif %}">
          <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'accessibility.previous_slide' | t }}">{% render 'icon-caret' %}</button>
          <div class="slider-counter caption">
            <span class="slider-counter--current">1</span>
            <span aria-hidden="true"> / </span>
            <span class="visually-hidden">{{ 'accessibility.of' | t }}</span>
            <span class="slider-counter--total">{{ section.blocks.size }}</span>
          </div>
          <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'accessibility.next_slide' | t }}">{% render 'icon-caret' %}</button>
        </div>
      {%- endif -%}
    </slider-component>
  </div>
</div>

{% schema %}
{
  "name": "Text columns with images",
  "class": "spaced-section--full-width",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "Text_columns_with_images_heading",
      "default": "Text column with images",
      "label": "Heading"
    },
	{
      "type": "select",
      "id": "Text_columns_with_images_Text_alignment",
      "default": "Left",
      "label": "Text alignment",
      "options": [
        {
          "value": "Left",
          "label": "Left"
        },
        {
          "value": "Centered",
          "label": "Centered"
        }
      ]
    },
    {
      "type": "text",
      "id": "text_columns_with_images_margin_top",
      "label": "Margin top",
      "info": "t:sections.margintip.settings.margin_tip.label"
    },
    {
      "type": "text",
      "id": "text_columns_with_images_margin_bottom",
      "label": "Margin bottom",
      "info": "t:sections.margintip.settings.margin_tip.label"
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Add a title or tagline",
      "settings": [
		{
          "type": "checkbox",
          "id": "show_image",
          "default": true,
          "label": "Show image"
    	},
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "default": "Add a title or tagline",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Share blog posts, products, or promotions with your customers. Use this text to describe products, share details on availability and style, or as a space to display recent reviews or FAQs.</p>",
          "label": "Text"
        },
		{
          "type": "text",
          "id": "button_label",
		  "default": "Button",
          "label": "Button_text"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button_link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Text-columns-with-images",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}
