{%- liquid
  assign section_blocks = section.blocks
    if section_blocks.size > 2
      assign class_1 = 'col-md-12 icon_flex icon_flex_l'
      assign class_2 = 'col-md-12 icon_flex icon_flex_c'
    else 
      assign class_1 = 'tl_lg col-md-12 icon_flex icon_flex_l'
      assign class_2 = 'col-md-12 icon_flex icon_flex_r'
    endif-%}

{%- style -%}
.h__top {min-height:{{section.settings.height}}px;font-size:{{section.settings.fontsize}}px;}
{%- if settings.h_transparent and settings.header_design != '7' and settings.h_tr_top and template.name == 'index' -%}
{%- assign bg_op = section.settings.bg_op_tr | divided_by: 100.0 -%}
.h__top,.h__top.bgbl { background-color: {{ section.settings.bg_tr | color_modify: 'alpha', bg_op }};
  {% if section.settings.show_border_tr %}
    border-bottom: 1px solid {{ section.settings.bd_cl_tr }};
  {% endif %};color:{{section.settings.cl_tr}} } 
.header-text >.cg,.h__top .nt_currency { color:{{section.settings.cl_tr}}  } 
.h__top .cr { color:{{section.settings.cl_cr_tr}}  } 
.header-text >a:not(.cg),.dark_mode_true 
.header-text>a:not(.cg) { color:{{section.settings.cl_a_tr}}  } 
{%- else -%}
{%- assign bg_op = section.settings.bg_op | divided_by: 100.0 -%}h__top,.h__top.bgbl { background-color: {{ section.settings.bg | color_modify: 'alpha', bg_op }};{% if section.settings.show_border %}border-bottom: 1px solid {{ section.settings.bd_cl }};{% endif %}color:{{section.settings.cl}} } .header-text >.cg,.h__top .nt_currency { color:{{section.settings.cl}}  } .h__top .cr { color:{{section.settings.cl_cr}}  } .header-text >a:not(.cg),.dark_mode_true .header-text>a:not(.cg) { color:{{section.settings.cl_a}}  } 
{%- endif -%}
{%- endstyle -%}

<style>
  @font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_2903696_8kpznmqcoej.woff2?t=1635582253888') format('woff2'),
       url('//at.alicdn.com/t/font_2903696_8kpznmqcoej.woff?t=1635582253888') format('woff'),
       url('//at.alicdn.com/t/font_2903696_8kpznmqcoej.ttf?t=1635582253888') format('truetype');
  }
  
  .my_phone {
    padding-left: 15px;
  	font-family: "iconfont" !important;
    font-size: 14px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    cursor: default;
  }
  
  .my_center {
    display: flex;
    justify-content: space-around;
    align-items: center; 
  }
  
  .my_width {
  	width: 100%;
    padding: 10px 0;
  }
  
  .my_container {
  	width: 100%;
  }
  
  .my_layout {
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: flex-start;
    text-align: left;
  }
  
  .my_align_left {
  	text-align: left !important;
  }
  
  .my_svg_style {
	padding: 0 9px !important;
    color: #797979;
  }
  
  .my_flex {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
 	padding: 0 15px;
  }
  
  .my_ul_right {
  	justify-content: flex-end !important;
  }
  
  .my_li {
  	list-style: none;
    float: left;
    text-align: center;
    width: 20px;
    height: auto;
  }
  
  .icon_flex {
   	display: flex;
  }
  
  .icon_flex_l {
    justify-content: flex-start;
  }
  
  .icon_flex_c {
    justify-content: center;
  }
  
  .icon_flex_r {
    justify-content: flex-end;
  }
  
  .my_ul {
    width: auto;
    height: auto;
  	text-align: center;
    margin: 0 0;
    padding: 0 0;
  }
  
  .my_pc_adadpt_1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
    padding: 0 15px;
  }
  .my_pc_adadpt_2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
    padding: 0 15px;
  }
  .my_pc_adadpt_3 {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 15px;
  }
  .my_pc_adadpt_4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding: 0 15px;
  }
  .my_pc_adadpt_6 {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
  }
  .my_pc_adadpt_7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
    padding: 0 15px;
  }
  .my_pc_adadpt_8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    padding: 0 15px;
  }
  .my_pc_adadpt_9 {
    flex: 0 0 75%;
    max-width: 75%;
    padding: 0 15px;
  }
  .my_pc_adadpt_10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
    padding: 0 15px;
  }
  .my_pc_adadpt_11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
    padding: 0 15px;
  }
  .my_pc_adadpt_12 {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
  }
  
  @media screen and (max-width: 1024px) {
    .my_layout {
      display: block;
	  width: 100%;
    }
    
    .my_flex {
      flex: 0 0 100%;
      max-width: 100%;
      justify-content: center;
 	  padding: 0 15px;
    }
    
    .my_hide_tablet_mobile {
  	  display: none;
    }
  }
  @media screen and (max-width: 990px) {
    .my_padding {
      box-sizing: content-box;
      padding-right: 0;
    }
  }
</style>

<div class="h__top bgbl pt__10 pb__10 fs__12 flex fl_center al_center my_center my_width"
     {%- if settings.top_bar == false and settings.top_bar_home_page_only -%}style="display: none;"
     {%- elsif settings.top_bar == false and settings.top_bar_home_page_only == false -%}style="display: none;"
     {%- elsif settings.top_bar and settings.top_bar_home_page_only and request.page_type != 'index' -%}style="display: none;"
     {%- endif -%}>
  <div class="container my_container" {% if settings.full_width == false %} style="max-width: 1200px;"{% endif %}>
    <div class="row al_center my_layout">
      {%- for block in section_blocks -%}
        <div class="col-lg-{{block.settings.col}} col-12 tc {% cycle class_1, class_2, 'col-md-12 icon_flex icon_flex_r' %} dn_{{block.settings.hide}}_1024 my_flex {% if block.settings.col == '1' %}my_pc_adadpt_1 {% if block.settings.hide %}my_hide_tablet_mobile{% endif %}{% elsif block.settings.col == '2' %}my_pc_adadpt_2 {% if block.settings.hide %}my_hide_tablet_mobile{% endif %}{% elsif block.settings.col == '3' %}my_pc_adadpt_3 {% if block.settings.hide %}my_hide_tablet_mobile{% endif %}{% elsif block.settings.col == '4' %}my_pc_adadpt_4 {% if block.settings.hide %}my_hide_tablet_mobile{% endif %}{% elsif block.settings.col == '6' %}my_pc_adadpt_6 {% if block.settings.hide %}my_hide_tablet_mobile{% endif %}{% elsif block.settings.col == '7' %}my_pc_adadpt_7 {% if block.settings.hide %}my_hide_tablet_mobile{% endif %}{% elsif block.settings.col == '8' %}my_pc_adadpt_8 {% if block.settings.hide %}my_hide_tablet_mobile{% endif %}{% elsif block.settings.col == '9' %}my_pc_adadpt_9 {% if block.settings.hide %}my_hide_tablet_mobile{% endif %}{% elsif block.settings.col == '10' %}my_pc_adadpt_10 {% if block.settings.hide %}my_hide_tablet_mobile{% endif %}{% elsif block.settings.col == '11' %}my_pc_adadpt_11 {% if block.settings.hide %}my_hide_tablet_mobile{% endif %}{% else %}my_pc_adadpt_12 {% if block.settings.hide %}my_hide_tablet_mobile{% endif %}{% endif %}">
          {%- case block.type -%}
          {%- when 'cur' -%}
            {%- if block.settings.social_mode == '1' -%}
              {%- render 'my-social-sharing',class_tooltip:'ttip_nt tooltip_bottom_right' -%}
            {%- elsif block.settings.social_mode == '2' -%}
              {% if forloop.last %}
                {% assign class_tooltip = 'ttip_nt tooltip_bottom_left' %}
              {% else %}
                {% assign class_tooltip = 'ttip_nt tooltip_bottom_right' %}
              {% endif %}
              {%- render 'my-social-sharing',follow_social:true,class_tooltip:class_tooltip -%}
            {%- endif -%}
            {%- else -%}
           <div class="header-text">{{block.settings.text}}</div>
          {%- endcase -%}
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>
{%- schema -%}
  {
    "name": "Top Bar",
    "max_blocks": 3,
    "settings": [
      {
        "type": "range",
        "id": "height",
        "label": "Min Height",
        "default": 41,
        "min": 20,
        "max": 120,
        "step": 1,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "fontsize",
        "label": "Font size",
        "default": 12,
        "min": 12,
        "max": 15,
        "step": 0.5,
        "unit": "px"
      },
      {
        "type": "color",
        "id": "cl",
        "label": "Text Color",
        "default": "#878787"
      },
      {
        "type": "color",
        "id": "cl_a",
        "label": "Link Color",
        "default": "#222"
      },
      {
        "type": "color",
        "id": "cl_cr",
        "label": "Color class 'cr'",
        "default": "#ec0101"
      },
      {
        "type": "color",
        "id": "bg",
        "label": "Background Color",
        "default": "#f6f6f8"
      },
      {
        "type": "range",
        "id": "bg_op",
        "label": "Background opacity",
        "default": 100,
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "%"
      },
      {
        "type": "checkbox",
        "id": "show_border",
        "label": "Show border bottom?",
        "default": false
      },
      {
        "type": "color",
        "id": "bd_cl",
        "label": "Border Color",
        "default": "#000"
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Custom text",
        "settings": [
            {
              "type": "html",
              "id": "text",
              "label": "Text",
              "info": "Place here text you want to see.",
              "default": "Free shipping over<span class=\"cr\">$59<\/span>! <a href=\"\/collections\/trending\">Shop Now<\/a>"
            },
            {
              "type": "checkbox",
              "id": "hide",
              "label": "Hide on tablet, mobile?",
              "default": false
            },
            {
              "type": "select",
              "id": "col",
              "default": "4",
              "options": [
              {
                "value": "1",
                "label": "1/12 (8.333333%)"
              },
              {
                "value": "2",
                "label": "2/12 (16.666667%)"
              },
              {
                "value": "3",
                "label": "3/12 (25%)"
              },
              {
                "value": "4",
                "label": "4/12 (33.333333%)"
              },
              {
                "value": "6",
                "label": "6/12 (50%)"
              },
              {
                "value": "7",
                "label": "7/12 (58.333333%)"
              },
              {
                "value": "8",
                "label": "8/12 (66.666667%)"
              },
              {
                "value": "9",
                "label": "9/12 (75%)"
              },
              {
                "value": "10",
                "label": "10/12 (83.333333%)"
              },
              {
                "value": "11",
                "label": "11/12 (91.666667%)"
              },
              {
                "value": "12",
                "label": "12/12 (100%)"
              }
            ],
            "label": "Width col:"
          }
        ]
      },
      {
        "type": "cur",
        "name": "Social",
        "limit": 1,
        "settings": [
            {
              "type": "select",
              "id": "social_mode",
              "label": "Social:",
              "default": "1",
              "options": [
                {
                  "value": "1",
                  "label": "Share"
                },
                {
                  "value": "2",
                  "label": "Follow"
                }
              ]
            },
            {
              "type": "checkbox",
              "id": "hide",
              "label": "Hide on tablet, mobile?",
              "default": false
            },
            {
              "type": "select",
              "id": "col",
              "default": "4",
              "options": [
              {
                "value": "1",
                "label": "1/12 (8.333333%)"
              },
              {
                "value": "2",
                "label": "2/12 (16.666667%)"
              },
              {
                "value": "3",
                "label": "3/12 (25%)"
              },
              {
                "value": "4",
                "label": "4/12 (33.333333%)"
              },
              {
                "value": "6",
                "label": "6/12 (50%)"
              },
              {
                "value": "7",
                "label": "7/12 (58.333333%)"
              },
              {
                "value": "8",
                "label": "8/12 (66.666667%)"
              },
              {
                "value": "9",
                "label": "9/12 (75%)"
              },
              {
                "value": "10",
                "label": "10/12 (83.333333%)"
              },
              {
                "value": "11",
                "label": "11/12 (91.666667%)"
              },
              {
                "value": "12",
                "label": "12/12 (100%)"
              }
            ],
            "label": "Width col:"
          }
        ]
      }
    ],
    "default": {
      "blocks": [
        {
          "type": "text",
            "settings": {
              "text": "<i class=\"my_phone\">&#xe7b7;<\/i> +01 23456789 <i class=\"my_phone my_email\">&#xe601;<\/i> <a class=\"cg\" href=\"mailto:kalles@domain.com\">kalles@domain.com<\/a>"
            }
        },
        {
          "type": "text",
            "settings": {
              "text": "Summer sale discount off <span class=\"cr\">50%<\/span>! <a href=\"\/shop\">Shop Now<\/a>"
            }
        },
        {
          "type": "cur"
        }
      ]
    }
  }
{% endschema %}