{{ 'video-section.css' | asset_url | stylesheet_tag }}
{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}

<div class="video-section{% unless section.settings.full_width %} page-width{% endunless %}"
     style="{%- if section.settings.video_beautify_margin_top != blank -%}margin-top: {{ section.settings.video_beautify_margin_top }}px; {%- endif -%}{%- if section.settings.video_beautify_margin_bottom != blank -%}margin-bottom:{{ section.settings.video_beautify_margin_bottom }}px;{%- endif -%}">
  <noscript>
    <div class="video-section__media"
      {% if section.settings.cover_image != blank %} style="padding-bottom: {{ 1 | divided_by: section.settings.cover_image.aspect_ratio | times: 100 }}%;"{% endif %}
    >
      <a href="{{ section.settings.video_url }}" class="video-section__poster media media--transparent media--landscape{% if section.settings.cover_image == blank %} video-section__placeholder{% endif %}">
        {%- if section.settings.cover_image != blank and  section.settings.show_overlay == true -%}
          <img
            srcset="{%- if section.settings.cover_image.width >= 375 -%}{{ section.settings.cover_image | img_url: '375x' }} 375w,{%- endif -%}
              {%- if section.settings.cover_image.width >= 750 -%}{{ section.settings.cover_image | img_url: '750x' }} 750w,{%- endif -%}
              {%- if section.settings.cover_image.width >= 1100 -%}{{ section.settings.cover_image | img_url: '1100x' }} 1100w,{%- endif -%}
              {%- if section.settings.cover_image.width >= 1500 -%}{{ section.settings.cover_image | img_url: '1500x' }} 1500w,{%- endif -%}
              {%- if section.settings.cover_image.width >= 1780 -%}{{ section.settings.cover_image | img_url: '1780x' }} 1780w,{%- endif -%}
              {%- if section.settings.cover_image.width >= 2000 -%}{{ section.settings.cover_image | img_url: '2000x' }} 2000w,{%- endif -%}
              {%- if section.settings.cover_image.width >= 3000 -%}{{ section.settings.cover_image | img_url: '3000x' }} 3000w,{%- endif -%}
              {%- if section.settings.cover_image.width >= 3840 -%}{{ section.settings.cover_image | img_url: '3840x' }} 3840w,{%- endif -%}"
            src="{{ section.settings.cover_image | img_url: '1920x' }}"
            sizes="{% if section.settings.full_width %}100vw{% else %}(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw{% endif %}"
            alt="{{ 'sections.video.load_video' | t: description: section.settings.description | escape }}"
            loading="lazy"
            width="{{ section.settings.cover_image.width }}"
            height="{{ section.settings.cover_image.height }}"
          >
        {%- else -%}
          {{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
        {%- endif -%}
      </a>
    </div>
  </noscript>
  <deferred-media class="video-section__media deferred-media no-js-hidden" data-media-id="{{ section.settings.video_url.id }}"
    {% if section.settings.cover_image != blank   and  section.settings.show_overlay == true %} style="padding-bottom: {{ 1 | divided_by: section.settings.cover_image.aspect_ratio | times: 100 }}%;"{% endif %}
  >
    
    {%- if section.settings.show_overlay -%}<div class="video__overlay"></div>{%- endif -%}
    <button
      id="Deferred-Poster-Modal-{{ section.settings.video_url.id }}"
      class="video-section__poster media deferred-media__poster media--landscape"
      type="button"
    	
    >
      {%- if section.settings.cover_image != blank  and  section.settings.show_overlay == true and section.settings.style == 'image_with_play'-%}
        <img
          srcset="{%- if section.settings.cover_image.width >= 375 -%}{{ section.settings.cover_image | img_url: '375x' }} 375w,{%- endif -%}
            {%- if section.settings.cover_image.width >= 750 -%}{{ section.settings.cover_image | img_url: '750x' }} 750w,{%- endif -%}
            {%- if section.settings.cover_image.width >= 1100 -%}{{ section.settings.cover_image | img_url: '1100x' }} 1100w,{%- endif -%}
            {%- if section.settings.cover_image.width >= 1500 -%}{{ section.settings.cover_image | img_url: '1500x' }} 1500w,{%- endif -%}
            {%- if section.settings.cover_image.width >= 1780 -%}{{ section.settings.cover_image | img_url: '1780x' }} 1780w,{%- endif -%}
            {%- if section.settings.cover_image.width >= 2000 -%}{{ section.settings.cover_image | img_url: '2000x' }} 2000w,{%- endif -%}
            {%- if section.settings.cover_image.width >= 3000 -%}{{ section.settings.cover_image | img_url: '3000x' }} 3000w,{%- endif -%}
            {%- if section.settings.cover_image.width >= 3840 -%}{{ section.settings.cover_image | img_url: '3840x' }} 3840w,{%- endif -%}"
          src="{{ section.settings.cover_image | img_url: '1920x' }}"
          sizes="{% if section.settings.full_width %}100vw{% else %}(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw{% endif %}"
          alt="{{ 'sections.video.load_video' | t: description: section.settings.description | escape }}"
          loading="lazy"
          width="{{ section.settings.cover_image.width }}"
          height="{{ section.settings.cover_image.height }}"
        >
      {%- else -%}
        {{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
      {%- endif -%}
      <span class="title my_font_size_heading_default my_font_weight_default my_video_align_center">{{ section.settings.heading }}</span>
      <span class="deferred-media__poster-button motion-reduce">
        {%- render 'icon-play' -%}
      </span>
    </button>
    {%- if section.settings.cover_image != blank  and  section.settings.show_overlay == true and section.settings.style == 'image_with_play'-%}
        
    <div 
     
      data-bgset="{% include 'bgset', image: section.settings.cover_image %}"
      data-sizes="auto"
      data-parent-fit="contain"
      style="
             background-image: url({{ section.settings.cover_image |image_url }});
             background-position: {{ section.settings.image_alignment }};
             
             border: none;
             cursor: pointer;
             margin: 0;
             padding: 0;
             height: 100%;
             width: 100%; 
             position:absolute;
             display:block;
             
             " 
   ></div>
    {%- endif -%}
    <template>
      {%- if section.settings.video_url.type == 'youtube' -%}
        <iframe src="https://www.youtube.com/embed/{{ section.settings.video_url.id }}?enablejsapi=1?rel=0&amp;autoplay=1" class="js-youtube" allow="autoplay; encrypted-media" allowfullscreen title="{{ section.settings.description | escape }}"></iframe>
      {%- else -%}
        <iframe src="https://player.vimeo.com/video/{{ section.settings.video_url.id }}" class="js-vimeo" allow="autoplay; encrypted-media" allowfullscreen title="{{ section.settings.description | escape }}"></iframe>
      {%- endif -%}
    </template>
  </deferred-media>
</div>


<style>
  .video__overlay{
    display:block !important;
  }
  
  .video__overlay::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: var(--opacity-image-overlay);
  }
  
  .my_video_align_center {
    text-align: center;
  }

</style>
{% schema %}
{
  "name": "video",
  "tag": "section",
  "class": "spaced-section--full-width",
  "settings": [
    {
      "type": "image_picker",
      "id": "cover_image",
      "label": "t:sections.video.settings.cover_image.label",
	  "info":"Always shown on mobile devices"
    },
	 {
          "type": "select",
          "id": "image_alignment",
          "options": [
            {
              "value": "top left",
              "label": "Top left"
            },
            {
              "value": "top center",
              "label": "Top center"
            },
			{
			  "value": "top right",
              "label": "Top right"
			},
			{
			  "value": "center left",
              "label": "Middle left"
			},
			{
			  "value": "center center",
              "label": "Middle center"
			},
			{
			  "value": "center right",
              "label": "Middle right"
			},
			{
			  "value": "bottom left",
              "label": "Bottom left"
			},
			{
			  "value": "bottom center",
              "label": "Bottom center"
			},	
			{
			  "value": "bottom right",
              "label": "Bottom right"
			}
          ],
          "default": "center center",
          "label": "Image alignment"
        },

    
    {
      "type": "video_url",
      "id": "video_url",
      "accept": [
        "youtube",
        "vimeo"
      ],
      "default": "https:\/\/www.youtube.com\/watch?v=_9VUPq3SxOc",
      "label": "t:sections.video.settings.video_url.label",
      "placeholder": "t:sections.video.settings.video_url.placeholder",
      "info": "t:sections.video.settings.video_url.info"
    },
	
	 {
      "type": "checkbox",
      "id": "show_overlay",
      "label": "Show overlay",
      "default": false
    },

	{
          "type": "select",
          "id": "style",
          "options": [
            {
              "value": "image_with_play",
              "label": "Image with play button"
            },
            {
              "value": "background_video",
              "label": "Background video"
            }
          ],
          "default": "image_with_play",
          "label": "Style"
    },

	{
          "type": "select",
          "id": "video_height",
          "options": [
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
			{
			"value":"large",
			"label":"Large"
			}
          ],
          "default": "medium",
          "label": "Video height"
    },


	{
      "type": "text",
      "id": "heading",
      "default": "Video",
      "label": "t:sections.video.settings.heading.label"
    },
  	{
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "large",
              "label": "Large"
            },
            {
              "value": "medium",
              "label": "Medium"
            }
          ],
          "default": "medium",
          "label": "Text size"
    },
    {
      "type": "text",
      "id": "video_beautify_margin_top",
      "label": "Margin top",
      "info": "t:sections.margintip.settings.margin_tip.label"
    },
    {
      "type": "text",
      "id": "video_beautify_margin_bottom",
      "label": "Margin bottom",
      "info": "t:sections.margintip.settings.margin_tip.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.video.presets.name"
    }
  ]
}
  {% endschema %}
